.table {
  display: flex;
  border: 1px solid var(--color-border);
  overflow-x: auto;
  overflow-y: hidden;
}

.table:has(.resizingColumn) {
  user-select: none;
  width: fit-content !important;
}

.table:has(.resizedColumn) {
  width: fit-content !important;
}

.fixedColumns {
  position: sticky !important;
  left: 0;
  z-index: 1;
  background-color: white;
  overflow: auto;
}

.scrollableColumns {
  overflow-x: auto;
}

.column {
  flex: 1;
  position: relative;

  &:not(:last-child) {
    border-right: 1px solid var(--color-border);
  }
}

.header {
  padding: var(--padding-md);
  height: 36px !important;
  &.border {
    border-bottom: 1px solid var(--color-border);
  }
}

.cellContainer {
  display: flex;
  flex-direction: column;
}

.cell {
  padding: var(--padding-md);
  padding-bottom: 0;
  &:not(:last-child) {
    border-bottom: 1px solid var(--color-border);
  }
  white-space: nowrap;
  height: 36px !important;
  display: flex;
  justify-content: space-between;
  padding-right: calc(var(--padding-xl) + var(--padding-md)) !important;
}

.resizer {
  width: 3px;
  height: 100%;
  cursor: ew-resize;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  transition: opacity var(--transition-duration) ease;
}

.focusedCell {
  border: 1px solid var(--color-primary) !important;
}

.noDataText {
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-font-tertiary);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
