<div class="actions">
  <button
    [style.visibility]="!totalItems ? 'hidden' : 'visible'"
    mat-button
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>sort</mat-icon>
    Sort
    <mat-menu #menu="matMenu" class="storage-filter-menu">
      <button
        mat-menu-item
        [class.active]="sorter?.name == -1"
        (click)="sortStorage({direction: 'desc', name: 'name'})"
      >
        Name (Descending)
      </button>
      <button
        mat-menu-item
        [class.active]="sorter?.name == 1"
        (click)="sortStorage({direction: 'asc', name: 'name'})"
      >
        Name (Ascending)
      </button>
      <button
        mat-menu-item
        [class.active]="sorter?._id == -1"
        (click)="sortStorage({direction: 'desc', name: '_id'})"
      >
        Date (Descending)
      </button>
      <button
        mat-menu-item
        [class.active]="sorter?._id == 1"
        (click)="sortStorage({direction: 'asc', name: '_id'})"
      >
        Date (Ascending)
      </button>
    </mat-menu>
  </button>
</div>
<mat-grid-list cols="4" rowHeight="1:1" gutterSize="10px">
  <mat-grid-tile
    *ngFor="let storage of storages$ | async"
    (click)="$event.stopPropagation(); close(storage)"
  >
    <storage-view [blob]="storage.url" [controls]="false"></storage-view>
    <mat-label>{{ storage.name }}</mat-label>
  </mat-grid-tile>
</mat-grid-list>
<mat-paginator
  [style.visibility]="totalItems > 0 ? 'visible' : 'hidden'"
  [pageSize]="_pageSize"
  [pageSizeOptions]="[8, 12, 18, 20]"
></mat-paginator>

<h1 class="mat-h1 empty-badge" *ngIf="!totalItems">Storage is empty</h1>
