::ng-deep {
  .mat-menu-content {
    button.active {
      color: var(--accent-300) !important;
    }
  }
}
:host {
  ::ng-deep {
    figure.mat-figure {
      flex-direction: column;
      justify-content: space-between;
    }
  }

  display: block;
  min-height: 530px !important;

  div.actions {
    width: 100%;
    text-align: end;
    padding-bottom: 15px;
  }

  mat-grid-list {
    mat-grid-tile {
      border: 1px solid rgba(var(--foreground-base-rgb), 0.1);
      border-radius: 5px;
      storage-view {
        height: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
        ::ng-deep {
          img,
          video {
            height: 100%;
            max-height: unset;
            min-height: unset;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
              margin-left: 10px !important;
            }
          }
        }
      }
      mat-label {
        height: 15%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        text-align: center;
      }
    }
  }

  h1.empty-badge {
    text-align: center;
  }
}
