::ng-deep {
  .mat-menu-content {
    button.active {
      color: var(--accent-300) !important;
    }
  }
}
:host {
  ::ng-deep {
    figure.mat-figure {
      flex-direction: column;
      justify-content: space-between;
    }
  }

  display: block;
  min-height: 530px !important;

  div.actions {
    width: 100%;
    text-align: end;
    padding-bottom: 15px;
  }

  mat-grid-list {
    mat-grid-tile {
      border: 1px solid rgba(var(--foreground-base-rgb), 0.1);
      border-radius: 5px;
      storage-view {
        display: block;
        width: 100%;
        height: 85%;
        overflow: hidden;

        transform: scale(0.7);
      }
      mat-label {
        display: block;

        height: 15%;
        width: 100%;
        padding: 10px;

        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        border-top: 1px solid rgba(var(--foreground-base-rgb), 0.1);
      }
    }
  }

  h1.empty-badge {
    text-align: center;
  }
}
