.addNewButton {
  width: 100%;
  height: 60px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-sm);
  font-weight: 400;
}
.noLineHeight {
  line-height: 0 !important;
}
