<mat-form-field>
  <mat-select placeholder="Bucket" #model="ngModel" [(ngModel)]="schema.bucketId" required>
    <mat-option *ngFor="let bucket of buckets | async" [value]="bucket._id">
      {{ bucket.title }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="model?.errors?.required">You must select a bucket</mat-error>
</mat-form-field>
<mat-form-field>
  <mat-select
    placeholder="Relation Type"
    #relationTypeModel="ngModel"
    [(ngModel)]="schema.relationType"
  >
    <mat-option value="onetoone">One To One</mat-option>
    <mat-option value="onetomany">One To Many</mat-option>
  </mat-select>
</mat-form-field>
<mat-checkbox
  matTooltip="When checked, after a document deleted from this bucket, system will delete related document(s) automatically."
  [(ngModel)]="schema.dependent"
  ngDefaultControl
>
  Dependent
</mat-checkbox>
