::ng-deep {
  input.file-selector {
    display: none;
  }

  .preview-object,
  .edit-object {
    position: relative !important;
    .mat-dialog-container {
      height: unset;
      padding: unset;
    }
  }

  .mat-menu-content {
    button.active {
      color: var(--accent-300) !important;
    }
  }
}

:host {
  mat-toolbar {
    p {
      font-size: 12px;
      margin-left: 5px;
    }
    min-height: 250px;
    padding: 0 30px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    h4 {
      mat-icon,
      span {
        margin-left: 5px;
        vertical-align: middle;
      }
    }
    button {
      mat-progress-spinner {
        display: inline-block;
      }
    }

    div.actions {
      align-self: flex-end;
    }
  }

  mat-progress-spinner.content-spinner {
    margin: auto 50px;
  }

  .unselected {
    opacity: 0.5;
    transform: scale(0.9);
  }

  .updating {
    opacity: 0.5;
    pointer-events: none;
  }

  mat-card {
    margin-top: -85px;
    min-height: calc(100vh - 300px);
    padding: 0px;
    display: flex;
    justify-content: space-between;

    .directory-view {
      display: flex;
      overflow: auto;
      .column {
        width: 300px;
        min-width: 300px;
        border-right: 1px solid rgba(0, 0, 0, 0.1);

        > .line {
          cursor: pointer;
          padding: 8px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          > .content {
            display: flex;
            align-items: center;

            mat-checkbox {
              width: 24px;
              height: 24px;
            }

            > span {
              padding: 4px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
          }

          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }

    .object-details {
      padding: 16px;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .close > button {
        float: right;
      }

      .meta {
        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          text-align: center;
        }
        storage-view {
          ::ng-deep > *:first-child {
            object-fit: contain;
            max-height: unset;
            min-height: unset;
            width: 500px;
            height: 300px;
          }
        }
      }

      .action-buttons {
        display: flex;
        justify-content: center;
        gap: 10px;
      }
    }
  }

  .highlight {
    background-color: rgba(0, 0, 0, 0.1);
  }

  // mat-grid-list {
  //   margin: 30px;
  //   margin-top: -85px;
  //   overflow: hidden;

  //   mat-grid-tile div.loading {
  //     width: 100%;
  //     height: 100%;
  //     position: absolute;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     left: 0;
  //     top: 0;
  //     z-index: 1000;
  //   }

  //   mat-card {
  //     transition: all 0.4s;
  //     width: 100%;
  //     padding-top: 0px;
  //     overflow: hidden;
  //     max-height: 300px;
  //     mat-card-subtitle {
  //       display: block;
  //       white-space: nowrap;
  //       overflow: hidden;
  //       text-overflow: ellipsis;
  //     }

  //     mat-card-content {
  //       margin-bottom: 0;
  //       [mat-card-image] {
  //         margin-top: unset;
  //       }
  //     }
  //     mat-card-actions {
  //       display: flex;
  //       justify-content: space-between;
  //       align-items: center;
  //       padding-top: 16px !important;
  //       mat-label {
  //         white-space: nowrap;
  //         overflow: hidden;
  //         flex: 1;
  //         text-overflow: ellipsis;
  //       }
  //     }
  //   }
  // }

  // mat-paginator {
  //   margin-top: 110px;
  // }
}
