<mat-toolbar>
  <div>
    <h4 class="mat-h4">
      <mat-icon>filter_drama</mat-icon>
      <span>Storage</span>
    </h4>
    <p>
      Upload any kind of document into public storage.
    </p>
  </div>
  <div *ngIf="root" class="actions">
    <ng-container *ngIf="selectionActive">
      <button mat-button (click)="disableSelectMode()">
        <mat-icon>cancel</mat-icon>
        Cancel
      </button>
      <ng-container *ngIf="storages.length">
        <button
          *ngIf="storages.length > selectedStorageIds.length"
          mat-button
          (click)="selectAll(currentStorage)"
        >
          <mat-icon>select_all</mat-icon>
          Select All
        </button>
      </ng-container>
      <button
        *ngIf="selectedStorageIds.length"
        mat-button
        color="warn"
        [matAwareDialog]="{
          title: 'Confirmation',
          templateOrDescription: multipleDeleteDialogTemplate,
          answer: 'agree'
        }"
        (confirm)="deleteMany(selectedStorageIds); disableSelectMode()"
      >
        <mat-icon>delete</mat-icon>
        Delete
      </button>
    </ng-container>

    <button *ngIf="!selectionActive" mat-button (click)="enableSelectMode()">
      <mat-icon>check_box_outline_blank</mat-icon>
      Select
    </button>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>sort</mat-icon>
      Sort
      <mat-menu #menu="matMenu" class="storage-filter-menu">
        <button
          mat-menu-item
          [class.active]="sorter?.name == -1"
          (click)="sortStorage({direction: 'desc', name: 'name'})"
        >
          Name (Descending)
        </button>
        <button
          mat-menu-item
          [class.active]="sorter?.name == 1"
          (click)="sortStorage({direction: 'asc', name: 'name'})"
        >
          Name (Ascending)
        </button>
        <button
          mat-menu-item
          [class.active]="sorter?._id == -1"
          (click)="sortStorage({direction: 'desc', name: '_id'})"
        >
          Date (Descending)
        </button>
        <button
          mat-menu-item
          [class.active]="sorter?._id == 1"
          (click)="sortStorage({direction: 'asc', name: '_id'})"
        >
          Date (Ascending)
        </button>
      </mat-menu>
    </button>

    <button mat-button (click)="clearLastUpdates()">
      <mat-icon>refresh</mat-icon>
      Refresh
    </button>

    <button
      mat-button
      canInteract="storage:create"
      [disabled]="progress"
      (click)="!progress ? fileSelector?.click() : undefined"
    >
      <input
        class="file-selector"
        type="file"
        #fileSelector
        multiple
        #fileModel="ngModel"
        [ngModel]="undefined"
        (ngModelChange)="uploadStorageMany(fileSelector.files)"
      />
      <mat-icon *ngIf="!progress">upload</mat-icon>
      Upload Files
      <mat-progress-spinner
        color="accent"
        *ngIf="progress"
        [diameter]="18"
        [value]="progress"
      ></mat-progress-spinner>
    </button>
    <button
      mat-button
      canInteract="storage:create"
      [disabled]="progress"
      (click)="!progress ? addSubDir(currentStorage) : undefined"
    >
      <mat-icon *ngIf="!progress">create_new_folder</mat-icon>
      Create New Directory
      <mat-progress-spinner
        color="accent"
        *ngIf="progress"
        [diameter]="18"
        [value]="progress"
      ></mat-progress-spinner>
    </button>
    <button
      mat-button
      canInteract="storage:delete"
      [disabled]="progress"
      color="warn"
      [matAwareDialog]="{
        title: 'Confirmation',
        templateOrDescription: deleteDirDialogTemplate,
        answer: root
      }"
      (confirm)="deleteDir()"
    >
      <mat-icon>delete</mat-icon>
      Delete This Directory
    </button>
  </div>
</mat-toolbar>

<mat-card *ngIf="root">
  <div class="directory-view">
    <ng-container *ngIf="storages.length">
      <ng-container
        *ngTemplateOutlet="column; context: {files: storages[0].children}"
      ></ng-container>
      <mat-progress-spinner
        [style.display]="(loading$ | async) ? 'inline' : 'none'"
        class="content-spinner"
        color="accent"
        [diameter]="40"
        mode="indeterminate"
      ></mat-progress-spinner>
    </ng-container>
  </div>
  <div *ngIf="currentStorage && !currentStorage.isDirectory" class="object-details">
    <div class="meta">
      <div class="close">
        <button mat-icon-button (click)="onDetailsClosed(currentStorage)">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
      <storage-view [blob]="currentStorage.url"></storage-view>
      <h4>{{ currentStorage.name }}</h4>
      <p>
        {{ currentStorage.content.type }} -
        {{ currentStorage.content.size / 1000 | number: "1.0-0" }} KB
      </p>
      <p>{{ objectIdToDate(currentStorage._id) | date: "medium" }}</p>
    </div>
    <div class="action-buttons">
      <button mat-stroked-button [matClipboard]="currentStorage.url">
        <mat-icon>file_copy</mat-icon>
        Copy
      </button>
      <button
        canInteract="storage:update"
        [resource]="currentStorage._id"
        *ngIf="currentStorage.content?.type?.startsWith('image/')"
        mat-stroked-button
        (click)="openEdit(currentStorage)"
      >
        <mat-icon>edit</mat-icon>
        Edit
      </button>
      <button
        canInteract="storage:update"
        [resource]="currentStorage._id"
        mat-stroked-button
        (click)="fileSelector?.click()"
      >
        <input
          class="file-selector"
          type="file"
          #fileSelector
          #fileModel="ngModel"
          [ngModel]="undefined"
          (ngModelChange)="updateStorage(currentStorage, fileSelector.files[0])"
        />
        <mat-icon>sync_alt</mat-icon>
        Replace
      </button>
      <button
        canInteract="storage:delete"
        [resource]="currentStorage._id"
        mat-stroked-button
        color="warn"
        [matAwareDialog]="{
          title: 'Confirmation',
          templateOrDescription: deleteDialogTemplate,
          answer: 'agree'
        }"
        (confirm)="delete(currentStorage._id)"
      >
        <mat-icon>delete</mat-icon>
        Delete
      </button>
    </div>
  </div>
</mat-card>

<ng-template #column let-files="files">
  <div class="column" (click)="!selectionActive ? onColumnClicked(files[0]) : undefined">
    <div
      (click)="$event.stopPropagation(); !selectionActive ? onStorageHighlighted(file) : undefined"
      class="line"
      [class.highlight]="file.isHighlighted"
      *ngFor="let file of files"
    >
      <mat-checkbox
        *ngIf="selectionActive"
        [checked]="selectedStorageIds.indexOf(file._id) != -1"
        [disabled]="selectedStorageIds.indexOf(file.parent._id) != -1"
        (change)="onSelect(file)"
      ></mat-checkbox>
      <mat-icon *ngIf="!selectionActive">{{
        file.isDirectory ? "folder" : "description"
      }}</mat-icon>
      <span>{{ file.name }}</span>
    </div>
  </div>
  <ng-container *ngFor="let file of files">
    <ng-container *ngIf="file.children && file.children.length > 0">
      <ng-container *ngTemplateOutlet="column; context: {files: file.children}"></ng-container>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #deleteDirDialogTemplate let-answer="answer">
  <p>
    This action will <b>permanently</b> delete <code>{{ answer }}</code> directory and it's
    subresources.
  </p>
  <p>
    Please type in <code>{{ answer }}</code> to confirm.
  </p>
</ng-template>

<ng-template #deleteDialogTemplate let-answer="answer">
  <p>This action will <b>permanently</b> delete this object and break all associations.</p>
  <p>
    Please type in <code>{{ answer }}</code> to confirm.
  </p>
</ng-template>

<ng-template #multipleDeleteDialogTemplate let-answer="answer">
  <p>
    This action will <b>permanently</b> delete the selected objects, it's subresources and break all
    associations.
  </p>
  <p>
    Please type in <code>{{ answer }}</code> to confirm.
  </p>
</ng-template>
