::ng-deep {
  input.file-selector {
    display: none;
  }

  .preview-object,
  .edit-object {
    position: relative !important;
    .mat-dialog-container {
      height: unset;
      padding: unset;
    }
  }

  .mat-menu-content {
    button.active {
      color: var(--accent-300) !important;
    }
  }
}

:host {
  mat-toolbar {
    p {
      font-size: 12px;
      margin-left: 5px;
    }
    min-height: 250px;
    padding: 0 30px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    h4 {
      mat-icon,
      span {
        margin-left: 5px;
        vertical-align: middle;
      }
    }
    button {
      mat-progress-spinner {
        display: inline-block;
      }
    }

    div.actions {
      align-self: flex-end;
    }
  }

  mat-progress-spinner.content-spinner {
    margin: auto 50px;
  }

  .unselected {
    opacity: 0.5;
    transform: scale(0.9);
  }

  .updating {
    opacity: 0.5;
    pointer-events: none;
  }

  mat-card {
    min-height: 500px;
    padding: 0px;
    display: flex;
    overflow: scroll;
    .column {
      width: 200px;
      min-width: 200px;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      &:first-of-type {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
      }
      > .line {
        cursor: pointer;
        padding: 8px;
        display: flex;
        align-items: center;

        &:hover{
          background-color: rgba(0, 0, 0, 0.1)
        }

        > span {
          margin-left: 5px;
        }
      }
    }
  }

  .selected{
    background: rgba(0, 0, 0, 0.1)
  }

  // mat-grid-list {
  //   margin: 30px;
  //   margin-top: -85px;
  //   overflow: hidden;

  //   mat-grid-tile div.loading {
  //     width: 100%;
  //     height: 100%;
  //     position: absolute;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     left: 0;
  //     top: 0;
  //     z-index: 1000;
  //   }

  //   mat-card {
  //     transition: all 0.4s;
  //     width: 100%;
  //     padding-top: 0px;
  //     overflow: hidden;
  //     max-height: 300px;
  //     mat-card-subtitle {
  //       display: block;
  //       white-space: nowrap;
  //       overflow: hidden;
  //       text-overflow: ellipsis;
  //     }

  //     mat-card-content {
  //       margin-bottom: 0;
  //       [mat-card-image] {
  //         margin-top: unset;
  //       }
  //     }
  //     mat-card-actions {
  //       display: flex;
  //       justify-content: space-between;
  //       align-items: center;
  //       padding-top: 16px !important;
  //       mat-label {
  //         white-space: nowrap;
  //         overflow: hidden;
  //         flex: 1;
  //         text-overflow: ellipsis;
  //       }
  //     }
  //   }
  // }

  // mat-paginator {
  //   margin-top: 110px;
  // }
}
