:host {
  app-header {
    min-height: 200px;
  }

  section {
    padding: 4% 0px;
    margin: auto;
    max-width: 80%;
    h3 {
      color: #1c1c50;
      margin-bottom: 12px;
    }

    p {
      color: #78909c;
      line-height: 1.7;
      margin: 25px 0px;
    }
  }
}
