.card{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
mat-card-header {
  align-items: center;
  justify-content: center;
}

button.refresh {
  position: absolute;
  right: 10px;
  top: 10px;
  mat-icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}

mat-card-content.inputs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100% !important;
  > span,
  button {
    margin-right: 5px;
  }

  ::ng-deep .mat-form-field-wrapper{
    padding: 0 !important;
    width: 100% !important;
  }


  button.file-selector {
    height: 44px;
    width: 200px;

    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }
  mat-form-field-wrapper{
    padding: 0 !important;
  }
}
mat-card-actions{
  justify-content: center;
}
