<ng-container class="card" *ngIf="componentData$ | async; let componentData">
  <mat-card-header>
    <mat-card-title>{{ componentData.title }}</mat-card-title>
    <button
      *ngIf="refresh"
      class="refresh"
      mat-icon-button
      matTooltip="Refresh card"
      (click)="this.onUpdate.next()"
    >
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content *ngIf="!isSmall">
    <p>{{ componentData.description }}</p>
  </mat-card-content>
  <form
    #form
    [action]="componentData.button.target"
    [method]="componentData.button.method"
    target="_blank"
    [enctype]="componentData.button.enctype"
  >
    <mat-card-content class="inputs">
      <ng-container *ngFor="let input of componentData.inputs">
        <button
          *ngIf="input.type == 'file'"
          mat-stroked-button
          class="file-selector"
          (click)="fileSelector.click()"
        >
          <mat-icon>file_upload</mat-icon>
          {{ (fileSelector?.files)[0]?.name || input.title || "Select a file" }}
          <!--change event will trigger the file name update handler even if it's undefined-->
          <input
            hidden
            #fileSelector
            type="file"
            [name]="input.key"
            [value]="input.value"
            (change)="(undefined)"
            [accept]="input.accept"
          />
        </button>

        <span
          *ngIf="input.type != 'file'"
          [name]="input.key"
          [inputPlacer]="input"
          [(ngModel)]="input.value"
        >
          <input type="hidden" [name]="input.key" [value]="input.value" />
        </span>
      </ng-container>
      <input type="hidden" name="authorization" [value]="token" />
    </mat-card-content>
    <mat-card-actions>
      <button
        [color]="componentData.button.color"
        mat-flat-button
        (click)="submit(form, componentData.inputs, componentData.button)"
      >
        {{ componentData.button.title }}
      </button>
    </mat-card-actions>
  </form>
</ng-container>
