mat-card-header {
  align-items: center;
  justify-content: center;
}

button.refresh {
  position: absolute;
  right: 0;
  top: 0;
}

div.inputs {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  div.placers {
    flex: 9;
    > span {
      margin-right: 5px;
    }
  }

  button.action {
    flex: 1;
  }
}
