:host ::ng-deep {
  .mat-list-item-content {
    padding: 0px !important;
  }

  mat-toolbar {
    min-height: 250px;
    padding: 0 30px;
    align-items: flex-start;
    h4 {
      mat-icon,
      span {
        vertical-align: middle;
        margin-left: 5px;
      }
    }
  }
  mat-card {
    padding: 25px;
    margin: 30px;
    margin-top: -110px;
    // For proper border radius
    overflow: hidden;

    mat-form-field.url {
      width: 100%;
    }

    span.trigger-property {
      margin-left: 10px;
    }
  }
}
