<ng-template #toolbar>
  <span>
    <h4>
      <button
        mat-icon-button
        menu-icon
        matTooltip="You can select a icon by clicking here."
        [matMenuTriggerFor]="iconSelector"
      >
        <mat-icon>{{ strategy?.icon }}</mat-icon>
        <mat-menu #iconSelector="matMenu">
          <ng-container matMenuContent>
            <button
              *ngFor="let icon of visibleIcons"
              mat-icon-button
              [matTooltip]="icon"
              (click)="strategy.icon = icon"
            >
              <mat-icon>{{ icon }}</mat-icon>
            </button>
            <mat-paginator
              (page)="
                this.visibleIcons = this.icons.slice(
                  $event.pageIndex * $event.pageSize,
                  ($event.pageIndex + 1) * $event.pageSize
                )
              "
              (click)="$event.stopPropagation()"
              [length]="icons.length"
              [pageSize]="iconPageSize"
            >
            </mat-paginator>
          </ng-container>
        </mat-menu>
      </button>
      <span>{{ strategy.name || "Add Strategy" }}</span>
    </h4>
  </span>
  <span class="space-between"></span>
</ng-template>
<mat-card>
  <mat-card-content>
    <mat-form-field *ngIf="callbackUrl">
      <input matInput disabled placeholder="Callback Url" [ngModel]="callbackUrl" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="strategy.name" required />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Title" [(ngModel)]="strategy.title" />
      <mat-hint>Title will be shown in the Login page.</mat-hint>
    </mat-form-field>
    <mat-form-field class="type">
      <mat-select [(ngModel)]="strategy.type" (ngModelChange)="onTypeChange($event)" required>
        <mat-option value="saml">Saml</mat-option>
        <mat-option value="oauth">OAuth</mat-option>
      </mat-select>
    </mat-form-field>
    <ng-container *ngIf="strategy.type == 'saml'">
      <mat-form-field>
        <input
          matInput
          placeholder="Login Url"
          [(ngModel)]="strategy['options'].ip.login_url"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Logout Url"
          [(ngModel)]="strategy['options'].ip.logout_url"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <textarea
          matInput
          placeholder="Certificate"
          [(ngModel)]="strategy['options'].ip.certificate"
          required
        ></textarea>
      </mat-form-field>
      <mat-accordion *ngIf="strategy['options'].sp">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Service Provider Info
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field>
            <textarea
              matInput
              placeholder="Service Provider Certificate"
              disabled
              [(ngModel)]="strategy['options'].sp.certificate"
              required
            ></textarea>
          </mat-form-field>
          <mat-form-field>
            <textarea
              matInput
              placeholder="Service Provider Private Key"
              disabled
              [(ngModel)]="strategy['options'].sp.private_key"
              required
            ></textarea>
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>
    <ng-container *ngIf="strategy.type == 'oauth'">
      <div class="oauth-options">
        <ng-container
          [ngTemplateOutlet]="requestDetails"
          [ngTemplateOutletContext]="{
            ref: strategy.options.code,
            title: 'Step 1: Getting a code',
            description:
              'This step will ask permission to users for sharing their information with spica. At the end of this step, we will have a code.'
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="requestDetails"
          [ngTemplateOutletContext]="{
            ref: strategy.options.access_token,
            title: 'Step 2: Exchanging code for access token',
            description:
              'Once we have a code, we need to exchange it for getting an access token. Access tokens are required for accessing user information.'
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="requestDetails"
          [ngTemplateOutletContext]="{
            ref: strategy.options.identifier,
            title: 'Step 3: Getting user information',
            description:
              'At the final step, we will be able to access user information by using the access token.'
          }"
        ></ng-container>
      </div>
    </ng-container>
  </mat-card-content>
  <mat-card-actions>
    <button
      class="save-button"
      canInteract="passport:strategy:update"
      mat-button
      (click)="submitForm()"
    >
      <mat-icon>save</mat-icon>
      <span>
        Save
      </span>
    </button>
  </mat-card-actions>
</mat-card>

<ng-template #requestDetails let-ref="ref" let-title="title" let-description="description">
  <div class="oauth-step">
    <h3>{{ title }}</h3>
    <p>{{ description }}</p>
    <div class="line">
      <div>
        <h5>Base URL</h5>
        <mat-form-field>
          <input matInput placeholder="Base URL" [(ngModel)]="ref.base_url" />
        </mat-form-field>
      </div>
      <div>
        <h5>Method</h5>
        <mat-form-field>
          <mat-select [(ngModel)]="ref.method">
            <mat-option value="get">
              Get
            </mat-option>
            <mat-option value="post">
              Post
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="line">
      <div>
        <h5>Query Params</h5>
        <div class="key-value-area" *ngFor="let property of ref.params | keyvalue">
          <div class="inputs">
            <mat-form-field>
              <input disabled matInput placeholder="Key" [value]="property.key" />
            </mat-form-field>
            <mat-form-field>
              <input disabled matInput placeholder="Value" [(ngModel)]="property.value" />
            </mat-form-field>
          </div>
          <button
            class="remove-property"
            mat-icon-button
            color="warn"
            (click)="removeProperty(ref.params, property.key)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div class="new-property">
          <mat-form-field>
            <input #newParamName name="newParamName" matInput placeholder="Key" minlength="1" />
          </mat-form-field>
          <mat-form-field>
            <input #newParamValue name="newParamValue" matInput placeholder="Value" minlength="1" />
          </mat-form-field>
        </div>
        <button
          mat-button
          class="add-new-property"
          [disabled]="
            !newParamName.value ||
            !newParamValue.value ||
            ref.params?.hasOwnProperty(newParamName.value)
          "
          (click)="
            ref.params = ref.params || {};
            addNewProperty(ref.params, newParamName.value, newParamValue.value);
            newParamName.value = '';
            newParamValue.value = ''
          "
        >
          <mat-icon>add</mat-icon> Add this property
        </button>
      </div>
      <div>
        <h5>Headers</h5>
        <div class="key-value-area" *ngFor="let property of ref.headers | keyvalue">
          <div class="inputs">
            <mat-form-field>
              <input disabled matInput placeholder="Key" [value]="property.key" />
            </mat-form-field>
            <mat-form-field>
              <input disabled matInput placeholder="Value" [(ngModel)]="property.value" />
            </mat-form-field>
          </div>
          <button
            class="remove-property"
            mat-icon-button
            color="warn"
            (click)="removeProperty(ref.headers, property.key)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div class="new-property">
          <mat-form-field>
            <input #newHeaderName name="newHeaderName" matInput placeholder="Key" minlength="1" />
          </mat-form-field>
          <mat-form-field>
            <input
              #newHeaderValue
              name="newHeaderValue"
              matInput
              placeholder="Value"
              minlength="1"
            />
          </mat-form-field>
        </div>
        <button
          mat-button
          class="add-new-property"
          [disabled]="
            !newHeaderName.value ||
            !newHeaderValue.value ||
            ref.headers?.hasOwnProperty(newHeaderName.value)
          "
          (click)="
            ref.headers = ref.headers || {};
            addNewProperty(ref.headers, newHeaderName.value, newHeaderValue.value);
            newHeaderName.value = '';
            newHeaderValue.value = ''
          "
        >
          <mat-icon>add</mat-icon> Add this property
        </button>
      </div>
    </div>
  </div>
</ng-template>
