:host {
  ::ng-deep {
    .mat-list-item-content {
      padding: 0px !important;

      .mat-form-field-wrapper {
        padding: 0px !important;
      }
    }

    span.inputplacer,
    .input-placer-input {
      width: 100% !important;
    }
  }

  mat-toolbar {
    min-height: 250px;
    padding: 0 30px;
    align-items: flex-start;
    h4 {
      mat-icon,
      span {
        vertical-align: middle;
        margin-left: 5px;
      }
    }
  }
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  mat-card {
    margin: 30px;
    margin-top: -85px;
    overflow: hidden;

    mat-list {
      padding-top: 0px;
      mat-list-item {
        margin-top: 10px;

        height: auto !important;
        ::ng-deep .mat-list-item-content {
          display: flex;
          mat-form-field {
            flex: 1;
          }
          span {
            vertical-align: middle;
          }
        }

        &:not(:first-of-type) {
          ::ng-deep .mat-list-item-content {
            display: flex;
          }
        }

        div.actions {
          flex: 1;
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  .example-tree-invisible {
    display: none;
  }

  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }

  .example-tree .mat-nested-tree-node div[role="group"] {
    padding-left: 40px;
  }

  .example-tree div[role="group"] > .mat-tree-node {
    padding-left: 40px;
    a.resource-url {
      font-weight: bold;
      color: var(--foreground-text);
      text-decoration: none;
      mat-icon {
        font-size: 18px;
      }
    }
  }
}
