.modalBody {
  display: block !important;
  max-height: 500px;
  width: 100%;
}

.modalContent {
  width: 600px;
  max-width: 600px;
  min-width: 600px;
  min-height: min-content;
}

.formContainer {
  width: 100% !important;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.inputFieldContainer {
  width: 100%;
  min-width: 100%;
  > div {
    border: none;
  }
}

.errorTextContainer {
  position: relative;
  width: 100%;
  color: var(--color-danger);
}

.errorText {
  font-size: var(--font-size-xs) !important;
  width: 100%;
  position: absolute;
  bottom: 20px;
  max-width: 415px;
}

.saveButton {
  height: 38px;
}