.modalBody {
  display: block !important;
  max-height: 500px;
  width: 100%;
  scrollbar-gutter: stable;
}

.modalContent {
  width: 600px;
  max-width: 600px;
  min-width: 600px;
  min-height: min-content;
  padding-right: 0 !important;
}

.formContainer {
  width: 100% !important;
}

.inputFieldContainer {
  width: 100%;
  min-width: 100%;
  > div {
    border: none;
  }
}

.footer {
  width: 100% !important;
  justify-content: flex-end !important;

  .errorText {
    font-size: var(--font-size-xs) !important;
    color: var(--color-danger);
    width: 100%;
  }

  .saveButton {
    height: 38px;
  }
}
