.modalBody {
    width: 100%;
}

.modalContent {
  width: 600px;
  max-width: 600px;
  min-width: 600px
}

.formContainer {
  width: 100% !important;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
    width: 100%;
}