:host {
  display: inline-block;
  border-radius: 4px;
  overflow: hidden;
  section {
    &:first-child {
      padding: 10px;
      background: rgba(var(--background-app-bar-rgb), calc(0.22 + var(--tone-diff)));
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      h4 {
        margin-bottom: 4px;
      }
    }
    &:last-child {
      padding: 15px;
      background: rgba(var(--background-app-bar-rgb), 0.01);
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      span:not(:first-of-type) {
        display: block;
        padding-top: 15px;
      }
    }
  }

  &.minimal-input-placer {
    section:first-of-type {
      display: none;
    }

    ::ng-deep .mat-mdc-form-field-wrapper {
      padding: 0px !important;
      margin: 0px !important;

      .mat-mdc-form-field-hint-wrapper {
        display: none;
      }
    }
  }
}
