:host {
  div.disabled-controls {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    mat-icon {
      transform: scale(4);
    }
  }
  /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
  mat-list-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  div.list-header {
    height: 48px;
    display: flex;
    padding: 0px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  mat-nav-list {
    padding: 0px;
  }

  div.node {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;

    > *:first-of-type {
      width: 10%;
      text-align: left;
    }

    .node-name {
      width: 50%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .node-date {
      width: 20%;
    }

    .node-size {
      width: 20%;
    }
  }
}
