<ng-template #toolbar>
  <span>
    <h4>
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </h4>
  </span>
</ng-template>
<mat-card appearance="outlined" class="mat-mdc-elevation-z25" *ngIf="preferences">
  <h4>Identity Custom Properties</h4>
  <p>
    Add custom properties to store additional data on Identities
  </p>
  <mat-card-content>
    <mat-list-item>
      <mat-accordion #propertyStepper cdkDropList (cdkDropListDropped)="cardDrop($event)">
        <mat-expansion-panel
          class="identity-settings"
          *ngFor="
            let propertyKv of preferences?.identity?.attributes?.properties | propertyKv;
            let index = index
          "
          cdkDrag
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span>{{ propertyKv.value.title | titlecase }}</span>
            </mat-panel-title>
            <mat-panel-description>
              <button
                mat-icon-button
                [matMenuTriggerFor]="settingsMenu"
                [matMenuTriggerData]="{propertyKv: propertyKv}"
                (click)="$event.stopPropagation()"
              >
                <mat-icon>settings</mat-icon>
                <mat-menu #settingsMenu="matMenu">
                  <ng-template matMenuContent let-propertyKv="propertyKv">
                    <div
                      mat-menu-item
                      role="menuitemcheckbox"
                      disableRipple
                      (click)="$event.stopImmediatePropagation()"
                    >
                      <mat-checkbox [(ngModel)]="propertyKv.value.readOnly">
                        Read-only
                      </mat-checkbox>
                    </div>
                    <div
                      mat-menu-item
                      role="menuitemcheckbox"
                      disableRipple
                      (click)="$event.stopImmediatePropagation()"
                    >
                      <mat-checkbox
                        [ngModel]="
                          preferences.identity.attributes.required?.includes(propertyKv.key)
                        "
                        (ngModelChange)="
                          preferences.identity.attributes.required =
                            preferences.identity.attributes.required || [];
                          $event
                            ? preferences.identity.attributes.required.push(propertyKv.key)
                            : preferences.identity.attributes.required.splice(
                                preferences.identity.attributes.required.indexOf(propertyKv.key),
                                1
                              )
                        "
                      >
                        Required
                      </mat-checkbox>
                    </div>
                  </ng-template>
                </mat-menu>
              </button>

              <button
                mat-icon-button
                color="warn"
                (click)="$event.stopImmediatePropagation(); deleteProperty(propertyKv.key)"
              >
                <mat-icon>delete</mat-icon>
              </button>
              <mat-icon class="drag-box" cdkDragHandle>drag_handle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <span class="space-between"></span>

            <mat-icon *ngIf="propertyKv.value.readOnly" matTooltip="This property is read-only."
              >format_clear</mat-icon
            >
          </div>
          <span
            class="input-placer-area"
            [inputSchemaPlacer]="propertyKv.value.type"
            [forbiddenTypes]="forbiddenTypes"
            [(ngModel)]="preferences.identity.attributes.properties[propertyKv.key]"
          >
          </span>

          <div
            class="input-defaults"
            *ngIf="predefinedDefaults && predefinedDefaults[propertyKv.value.type]"
          >
            <mat-form-field *ngIf="predefinedDefaults">
              <mat-label>Default</mat-label>
              <mat-select [(ngModel)]="propertyKv.value.default">
                <mat-option>None</mat-option>
                <ng-container *ngFor="let predef of predefinedDefaults[propertyKv.value.type]">
                  <mat-option [value]="predef.match">
                    {{ predef.match }}
                  </mat-option>
                </ng-container>
              </mat-select>
              <mat-hint
                >You can select a prdefined default value for {{ propertyKv.value.type }}.</mat-hint
              >
            </mat-form-field>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-list-item>

    <mat-list-item class="property">
      <mat-form-field>
        <input
          matInput
          name="property-name"
          placeholder="Enter a property name"
          #pnm="ngModel"
          (keyup.enter)="
            pnm.valid &&
              !preferences.identity.attributes.properties[pnm?.value?.toLowerCase()] &&
              addProperty(pnm.value);
            pnm.reset();
            pnm.control.markAsUntouched()
          "
          ngModel
          required
        />

        <mat-error *ngIf="pnm?.errors?.required">
          Property name is required.
        </mat-error>
        <mat-error *ngIf="preferences.identity.attributes.properties[pnm?.value?.toLowerCase()]">
          {{ pnm?.value | lowercase }} already exists.
        </mat-error>
      </mat-form-field>

      <button
        mat-button
        [disabled]="
          pnm.invalid || preferences.identity.attributes.properties[pnm?.value?.toLowerCase()]
        "
        (click)="addProperty(pnm.value); pnm.reset(); pnm.control.markAsUntouched()"
      >
        <mat-icon>add</mat-icon> Add new property
      </button>
    </mat-list-item>
  </mat-card-content>
  <mat-card-actions>
    <button
      class="save-button"
      canInteract="preference:update"
      resource="passport"
      mat-button
      (click)="saveSettings()"
    >
      <mat-icon>save</mat-icon>
      <span>
        Save
      </span>
    </button>
  </mat-card-actions>
</mat-card>
