::ng-deep {
  mat-expansion-panel.identity-settings {
    mat-panel-title {
      padding-top: 10px;
    }
    box-shadow: none;
    margin-top: 10px;
    mat-panel-description {
      button {
        flex: unset;
        padding: 0;
        min-width: 0;
        width: auto;
        height: auto;
        flex-shrink: 0;
        line-height: 0px;
        border-radius: 50%;
        margin-right: 5px;
      }
    }
    .mat-subheader {
      padding: 0 !important;
    }
    .mat-expansion-indicator {
      height: 23px;
    }
    mat-list-item.validation {
      margin: 0 !important;
      padding: 0 !important;
    }
    .mat-card-actions {
      margin: 0 !important;
      padding: 0 !important;
    }
    .mat-expansion-panel-header-description {
      flex-grow: initial !important;
    }
    .drag-box {
      cursor: move;
      flex: unset;
      padding-top: 2px;
    }
  }
}
:host {
  mat-list-item.property {
    text-align: center;
    mat-form-field input {
      text-transform: lowercase;
    }
  }

  mat-expansion-panel {
    box-shadow: none;
    margin-top: 10px;
    .input-placer-area {
      display: flex;
      padding: 20px;
    }
    mat-panel-title {
      mat-icon {
        margin-right: 10px;
      }
    }
  }

  ::ng-deep {
    mat-card-content {
      margin-bottom: 0px;
      mat-divider {
        position: relative !important;
        width: 100% !important;
      }
      mat-list {
        .mat-list-item {
          height: auto;
          padding-top: 34px;
          padding-bottom: 10px;
          .mat-list-item-content {
            display: contents;
            mat-form-field {
              margin-left: 10px;
            }
            .title-description-form {
              display: flex;
            }
          }
        }
      }
    }
  }
}
