:host {
  > mat-list-item {
    &:hover {
      background: rgba(255, 255, 255, 0.04) !important;
      .right-content {
        opacity: 1;
      }
    }
    color: white !important;
  }
  .right-content {
    margin-left: auto;
    display: flex;
    opacity: 0;
    transition: opacity 0.2s ease;
  }
}
