@use "styles/shared/global.scss";

:root {
  --font-size-base: 16px;
  --font-size-xs: 0.625rem;
  /* 10px */
  --font-size-sm: 0.75rem;
  /* 12px */
  --font-size-md: 0.875rem;
  /* 14px */
  --font-size-lg: 1rem;
  /* 16px */
  --font-size-xl: 1.125rem;
  /* 18px */

  --font-family-base:
    "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  --color-primary: #1c1c50;
  --color-primary-rgb: 28, 28, 80;
  --color-primary-light: #36369c;
  --color-primary-light-rgb: 54, 54, 156;
  --color-primary-dark: #020204;
  --color-primary-dark-rgb: 2, 2, 4;

  --color-danger: #f41212;
  --color-danger-rgb: 244, 18, 18;
  --color-danger-light: #f97373;
  --color-danger-light-rgb: 249, 115, 115;
  --color-danger-dark: #990707;
  --color-danger-dark-rgb: 153, 7, 7;

  --color-success: #21f412;
  --color-success-rgb: 33, 244, 18;
  --color-success-light: #7cf973;
  --color-success-light-rgb: 124, 249, 115;
  --color-success-dark: #119907;
  --color-success-dark-rgb: 17, 153, 7;

  --color-soft: #f5f5f5;
  --color-soft-rgb: 245, 245, 245;
  --color-soft-light: #ffffff;
  --color-soft-light-rgb: 255, 255, 255;
  --color-soft-dark: #c2c2c2;
  --color-soft-dark-rgb: 194, 194, 194;
  --color-hover: #f2f2f2;
  --color-hover-rgb: 242, 242, 242;
  --color-menu-contrast: #f4f4f4;
  --color-menu-contrast-rgb: 244, 244, 244;
  --color-black: #000000;
  --color-black-rgb: 0, 0, 0

  --color-default: #ffffff;
  --color-default-rgb: 255, 255, 255;

  --color-transparent: transparent;

  --color-input-background: #fafafa;
  --color-input-background-rgb: 250, 250, 250;
  --color-input-placeholder: #9b9b9b;
  --color-input-placeholder-rgb: 155, 155, 155;

  --color-font-primary: #525252;
  --color-font-primary-rgb: 82, 82, 82;
  --color-font-secondary: #ffffff;
  --color-font-secondary-rgb: 255, 255, 255;
  --color-font-tertiary: #727272;
  --color-font-tertiary-rgb: 114, 114, 114;
  --color-border: #d4d0d0;
  --color-border-rgb: 212, 208, 208;
  --color-zebra: #f6f6f9;
  --color-zebra-rgb: 246, 246, 249;
  --color-background: #f5f5f5;
  --color-background-rgb: 245, 245, 245;
  --color-menu-background: #ffffff;
  --color-menu-background-rgb: 255, 255, 255;
  --color-box-shadow: #0000000d;
  --color-icon: #777777;
  --color-icon-rgb: 119, 119, 119;
  --color-layout-background: #f2f2f2;
  --color-layout-background-rgb: 242, 242, 242;

  --box-shadow: 0px 0px 10px 5px var(--color-box-shadow);

  --border-radius-sm: 3px;
  --border-radius-md: 5px;
  --border-radius-lg: 10px;
  --border-radius-circle: 50%;
  --border-radius-round: 40px;

  --padding-xs: 2.5px;
  --padding-sm: 5px;
  --padding-md: 10px;
  --padding-lg: 15px;
  --padding-xl: 20px;

  --gap-xs: 2.5px;
  --gap-sm: 5px;
  --gap-md: 10px;
  --gap-lg: 15px;
  --gap-xl: 20px;

  --icon-size-xs: 12px;
  --icon-size-sm: 14px;
  --icon-size-md: 16px;
  --icon-size-lg: 20px;

  --line-height-sm: 12px;

  --border-default: 1px solid #d4d0d0;

  --transition-duration: 0.3s;
  --disabled-opacity: 0.6;
  --sidebar-width: 60px;
  --navigator-width: 200px;
  --sidebar-with-navigator-width: 260px;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter-VariableFont_opsz\,wght.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: var(--font-size-base);
}

body {
  margin: 0;
  font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  box-sizing: border-box;
}

.objectInput {
  border: var(--border-default);
}
