:host {
  mat-toolbar {
    p {
      font-size: 12px;
      margin-left: 5px;
    }
    min-height: 250px;
    padding: 0 30px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    h4 {
      mat-icon,
      span {
        margin-left: 5px;
        vertical-align: middle;
      }
    }
  }
}
