:host {
  display: inline-block;
  height: 100px;
  width: 100px;
  .image-picker {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .upload {
      width: 100%;
      height: 100%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background: var(--primary-light);
      border-radius: 5px;
      color: var(--accent-a700);
    }
    input {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
}
