<mat-toolbar color="primary">
  <h4 class="mat-h4">
    <mat-icon>settings</mat-icon>
    Settings
  </h4>
</mat-toolbar>

<mat-card class="mat-elevation-z25">
  <mat-card-content>
    <mat-list>
      <h3 mat-subheader>Available languages</h3>
      <mat-list-item *ngFor="let language of bucketSettings?.language.supported_languages">
        <mat-icon
          mat-list-icon
          [color]="bucketSettings?.language.default.code == language.code ? 'warn' : 'primary'"
          matTooltip="This is default language"
          [matTooltipDisabled]="bucketSettings?.language.default.code != language.code"
          >language</mat-icon
        >
        <h4 mat-line>{{ language.name }} ({{ language.code }})</h4>
        <p mat-line></p>
      </mat-list-item>
    </mat-list>

    <form ngForm #addForm="ngForm">
      <div class="hint-message">There goes language and other bucket settings</div>
      <mat-form-field>
        <mat-label>Choose Language</mat-label>
        <mat-select ngModel #selectedLanguage="ngModel" name="lang">
          <mat-option *ngFor="let lang of langs" [value]="lang">
            {{ lang.short }} | {{ lang.long }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <!-- TODO: Disable button if language already exists -->
    <button
      mat-button
      [disabled]="addForm.invalid"
      (click)="addLanguage(selectedLanguage.viewModel.short, selectedLanguage.viewModel.long)"
    >
      <mat-icon>add</mat-icon> Add new language
    </button>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="updateSettings()"><mat-icon>sync</mat-icon> Update</button>
  </mat-card-actions>
</mat-card>
