<ng-container *ngIf="componentData$ | async; let componentData">
  <mat-card-header
    ><mat-card-title>
      {{ componentData.title }}
    </mat-card-title>
  </mat-card-header>
  <button
    class="refresh"
    mat-icon-button
    matTooltip="Refresh data"
    (click)="onUpdate.next(componentData.filters)"
  >
    <mat-icon>refresh</mat-icon>
  </button>
  <div class="filters">
    <ng-container *ngFor="let filter of componentData.filters">
      <span
        [name]="filter.key"
        [inputPlacer]="filter"
        [(ngModel)]="filter.value"
        (keyup.enter)="onUpdate.next(componentData.filters)"
      >
      </span>
    </ng-container>
  </div>
  <div class="chart-container">
    <canvas
      baseChart
      [data]="componentData.data"
      [datasets]="componentData.datasets"
      [labels]="componentData.label"
      [options]="componentData.options"
      [colors]="componentData.colors"
      [legend]="componentData.legend"
      [plugins]="componentData.plugins"
      [chartType]="type"
    >
    </canvas>
  </div>
</ng-container>
