<div class="default-charts" *ngIf="componentData$ | async; let componentData">
  <ng-template #canvasElement>
    <canvas
      baseChart
      [data]="componentData.data"
      [datasets]="componentData.datasets"
      [labels]="componentData.label"
      [options]="componentData.options"
      [colors]="componentData.colors"
      [legend]="componentData.legend"
      [plugins]="componentData.plugins"
      [chartType]="type"
    >
    </canvas>
  </ng-template>
  <ng-container>
    <mat-card-header
      ><mat-card-title>
        {{ componentData.title }}
      </mat-card-title>
    </mat-card-header>
    <button
      *ngIf="refresh"
      class="refresh"
      mat-icon-button
      matTooltip="Refresh data"
      (click)="onUpdate.next(componentData.filters)"
    >
      <mat-icon>refresh</mat-icon>
    </button>
    <div class="filters" *ngIf="!isSmall">
      <div *ngFor="let filter of componentData.filters">
        <span
          [name]="filter.key"
          [inputPlacer]="filter"
          [(ngModel)]="filter.value"
          (keyup.enter)="onUpdate.next(componentData.filters)"
        >
        </span>
      </div>
    </div>
    <div class="chart-container" *ngIf="!isSmall">
      <ng-container *ngTemplateOutlet="canvasElement"> </ng-container>
    </div>
    <div class="show-chart" *ngIf="isSmall">
      <button mat-stroked-button class="show-chart-button" (click)="onShowChartClicked()">Show</button>
      <mat-card
        class="hidden-chart"
        [ngClass]="showChart ? 'chart-container-visible' : 'chart-container-hidden'"
      >
        <ng-container *ngTemplateOutlet="canvasElement"> </ng-container>
      </mat-card>
    </div>
  </ng-container>
</div>
