:host {
  mat-card-header {
    align-items: center;
    justify-content: center;
    ::ng-deep .mat-card-header-text {
      margin: 0;
      text-align: center;
      display: flex;
      align-items: center;
    }
  }

  div.chart-container {
    min-height: 320px;
    height: calc(100% - 120px);
  }
  canvas {
    height: 100%;
  }
}
