mat-card-header {
  align-items: center;
  justify-content: center;
}

div.filters {
  display: flex;
  > h4 {
    margin: 0px 0px 5px 0px;
  }
  > span {
    margin-right: 5px;
  }
}

div.chart-container {
  min-height: 100px;
  height: calc(100% - 150px);
}

button.refresh {
  position: absolute;
  right: 10px;
  top: 10px;

  width: 30px;
  height: 30px;
  line-height: 30px;
}
