<ng-container *ngIf="componentData$ | async; let componentData">
  <h3>{{ componentData.title }}</h3>
  <div class="header">
    <div class="filters">
      <mat-form-field *ngFor="let definition of componentData.filters">
        <mat-label>{{ definition.key }}</mat-label>
        <input
          *ngIf="definition.type != 'date'"
          matInput
          [name]="definition.key"
          [ngModel]="definition.value"
          (ngModelChange)="filter[definition.key] = $event"
        />
        <ng-container *ngIf="definition.type == 'date'">
          <input
            matInput
            type="datetime"
            [ngModel]="definition.value"
            (ngModelChange)="filter[definition.key] = $event"
            (focus)="dt1.open()"
            [owlDateTime]="dt1"
            [owlDateTimeTrigger]="dt1"
            placeholder="Date Time"
          />
          <owl-date-time #dt1></owl-date-time>
        </ng-container>
      </mat-form-field>
    </div>
    <div class="refresh">
      <button mat-icon-button mat-flat-button matTooltip="Refresh data" (click)="refresh()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </div>
  <div class="chart">
    <canvas
      baseChart
      [data]="componentData.data"
      [datasets]="componentData.datasets"
      [labels]="componentData.label"
      [options]="componentData.options"
      [colors]="componentData.colors"
      [legend]="componentData.legend"
      [plugins]="componentData.plugins"
      [chartType]="type"
    >
    </canvas>
  </div>
</ng-container>
