:host {
  display: block;
  background-image: url("../../../assets/images/footer.svg");
  background-size: cover;
  padding-top: 250px;

  nav {
    padding-bottom: 150px;
    max-width: 90%;
    margin: auto 10%;
    ul {
      padding-left: 0;
      list-style-type: none;
      h1 {
        font-size: 2rem;
        font-weight: 100;
        &::after {
          display: list-item;
          content: "";
          height: 2px;
          background: #15bde8;
          margin-top: 10px;
        }
      }
      li {
        margin-top: 20px;
        cursor: pointer;
        a {
          text-decoration: none;
          color: #fff;
        }
      }
      li.disabled {
        opacity: 0.5;
      }
    }
  }
  footer {
    padding: 5px 12%;
    background: #fff;
    color: #1c1c50;
    font-weight: 100;
    p {
      text-align: center;
      span {
        color: #15bde8;
      }
    }
    a {
      color: inherit;
      text-decoration: none;
      mat-icon {
        font-size: 14px;
        transition: transform 0.1s ease-out;
        transform: translateY(-4px);
      }

      &:hover mat-icon {
        transform: translate(1px, -5px);
      }
    }
    ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
      padding-left: 0;
      li {
        margin-left: 15px;
      }
    }
  }
}
