:host {
  mat-header-cell.action,
  mat-cell.action {
    justify-content: flex-end;
    max-width: 150px;
  }
}

::ng-deep {
  mat-toolbar-row p {
    font-size: 12px;
    margin: 0px 0px 0px 5px;
  }
}
