:host {
  display: block;
  .enum-item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &:first-of-type {
      margin-top: 15px;
    }
    .field-container {
      flex: 1;
      ::ng-deep .input-placer-input {
        width: 100%;
        .mat-mdc-form-field {
          .mat-mdc-form-field-wrapper {
            .mat-mdc-form-field-subscript-wrapper {
              display: none;
            }
          }
        }
      }
    }
    .null-option {
      width: 100%;
      margin-top: -20px;
      padding-left: 0px;
    }
    button {
      margin-top: 15px;
    }
  }
  button.add-new-value {
    margin-top: 15px;
    width: 100%;
    border: 1px dashed rgba(0, 0, 0, 0.08);
    padding: 10px;
  }
}
