:host ::ng-deep {
  .mat-subheader {
    padding: 0;
  }
  mat-divider {
    width: 100% !important;
    margin: 15px 0 15px 0;
    position: relative !important;
  }

  .toolbar {
    min-height: 250px;
    padding: 0 30px;
    align-items: flex-start;
    .space-between {
      flex: 1 1 auto;
    }
    h4 {
      mat-icon,
      span {
        vertical-align: middle;
        margin-left: 5px;
      }
    }
  }

  mat-card {
    margin: 30px;
    margin-top: -110px;
    // For proper border radius
    overflow: hidden;
    mat-card-header {
      mat-card-title > * {
        vertical-align: middle;
      }
    }

    mat-card-content {
      mat-form-field[description] {
        width: 100%;
      }

      mat-form-field[name] {
        width: 40%;
      }

      mat-form-field[timeout] {
        width: 10%;
        margin-left: 10px;
      }

      mat-list {
        padding-top: 0px;
        mat-list-item:not(:first-of-type) {
          mat-form-field:not(:first-of-type) {
            margin: 0px 5px !important;
          }
          mat-form-field:first-of-type {
            margin-right: 5px !important;
          }
        }

        .mat-list-item {
          height: auto;
          .mat-list-item-content {
            display: contents;
          }

          &.triggers .mat-list-item-content > *:not(mat-form-field) {
            margin: 0px 5px;
          }

          &.dependency {
            .mat-list-item-content {
              display: flex;
            }
            svg {
              height: 44px;
              width: 44px;
            }
            span.seperator {
              font-weight: bold;
              padding: 0 1px;
            }

            button:first-of-type {
              margin-left: 5px;
            }
          }

          &.add-dependency {
            margin-top: 25px;
          }
        }
        code-editor {
          height: calc(100vh - 100px);
        }
        .editor {
          .decorationsOverviewRuler {
            display: none;
          }
          .overflow-guard {
            border: 2px solid #0000000f;
          }
          .last-saved {
            display: block;
            text-align: right;
            mat-hint {
              height: 20px;
              font-size: 12px;
              text-align: right;
              display: inline-block;
            }
            mat-progress-spinner {
              display: inline-block;
              vertical-align: middle;
              margin-left: 5px;
              transition: opacity 0.5s ease-in-out;
            }
          }
        }
        .run {
          mat-expansion-panel {
            mat-expansion-panel-header {
              &[state="failed"] {
                color: red;
              }
              &[state="succeeded"] {
                color: green;
              }
              span {
                margin-top: 3px;
                padding-left: 3px;
              }
            }
          }
          .output {
            mat-icon,
            pre {
              display: inline-block;
              vertical-align: middle;
            }
          }
        }

        .triggers {
          display: inline-table;
          padding-bottom: 20px;
          height: 80px;
          mat-form-field {
            mat-select {
              mat-select-trigger {
                & > * {
                  vertical-align: middle;
                }
                mat-label {
                  padding-left: 10px;
                }
              }
            }
          }
          button {
            margin-left: 30px;
          }
        }
      }
    }

    mat-card-actions {
      button {
        float: right;
        mat-progress-spinner {
          display: inline-block;
        }
      }
    }
  }
}
