<mat-toolbar class="toolbar" color="primary">
  <h4 class="mat-h4">
    <mat-icon>memory</mat-icon>
    <span>
      {{ function._id ? function.name : "New Function" }}
    </span>
  </h4>
  <span class="space-between"></span>
</mat-toolbar>

<mat-card class="mat-elevation-z25">
  <mat-card-content>
    <form #form="ngForm">
      <mat-list>
        <mat-list-item>
          <mat-form-field name>
            <input
              matInput
              placeholder="Name"
              #nameModel="ngModel"
              [(ngModel)]="function.name"
              name="name"
              required
              minlength="3"
              maxlength="50"
            />
            <mat-error *ngIf="nameModel?.errors?.required">Name is required.</mat-error>
            <mat-error *ngIf="nameModel?.errors?.minLength">
              Name must be greater than {{ nameModel.errors.min.min }} characters.
            </mat-error>
            <mat-error *ngIf="nameModel?.errors?.maxLength">
              Name must be less than {{ nameModel.errors.max.max }} characters.
            </mat-error>
          </mat-form-field>
          <mat-form-field description>
            <textarea
              matInput
              placeholder="Description"
              #descriptionModel="ngModel"
              [(ngModel)]="function.description"
              name="description"
              required
              minlength="3"
              maxlength="250"
            ></textarea>
            <mat-hint>Simply describe what this function does.</mat-hint>
            <mat-error *ngIf="descriptionModel?.errors?.required"
              >Description is required.</mat-error
            >
            <mat-error *ngIf="descriptionModel?.errors?.minLength">
              Description must be greater than {{ descriptionModel.errors.min.min }} characters.
            </mat-error>
            <mat-error *ngIf="descriptionModel?.errors?.maxLength">
              Description must be less than {{ descriptionModel.errors.max.max }} characters.
            </mat-error>
          </mat-form-field>
        </mat-list-item>
        <mat-divider></mat-divider>
        <ng-container *ngIf="$run | async; let run">
          <mat-list-item class="run">
            <mat-expansion-panel class="mat-elevation-z0" [expanded]="run.state == 'running'">
              <mat-expansion-panel-header [attr.state]="run.state">
                <mat-icon *ngIf="run.state == 'succeeded' || run.state == 'failed'">
                  {{ run.state == "failed" ? "error" : "check_circle" }}
                </mat-icon>
                <mat-spinner *ngIf="run.state == 'running'" [diameter]="20"></mat-spinner>
                <span> {{ run.state | titlecase }}</span>
              </mat-expansion-panel-header>
              <div class="output" *ngFor="let log of run.logs">
                <mat-icon [style.color]="logLevelMapping[log.level]?.color"
                  >{{ logLevelMapping[log.level]?.icon }}
                </mat-icon>
                <pre>{{ log.message }}</pre>
              </div>
            </mat-expansion-panel>
          </mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>

        <mat-list-item class="editor">
          <div class="last-saved" *ngIf="$indexSave | async; let lastSaved">
            <mat-hint *ngIf="lastSaved != 'inprogress'">
              Last saved: {{ lastSaved | date: "mediumTime" }}
            </mat-hint>
            <mat-progress-spinner
              [style.opacity]="lastSaved == 'inprogress' ? 1 : 0"
              color="primary"
              mode="indeterminate"
              [diameter]="18"
            >
            </mat-progress-spinner>
          </div>

          <function-editor
            language
            (save)="updateIndex()"
            (run)="run($event)"
            [(ngModel)]="index"
            name="code"
            [options]="editorOptions"
          >
          </function-editor>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h4 mat-subheader>
          <mat-icon>swap_horiz</mat-icon> Triggers<button
            type="button"
            mat-icon-button
            (click)="addTrigger()"
          >
            <mat-icon>add</mat-icon>
          </button>
          <mat-error *ngIf="isHandlerDuplicated">
            Duplicated handler detected. Each handlers must be unique.
          </mat-error>
          <mat-error *ngIf="serverError">
            {{ serverError }}
          </mat-error>
        </h4>

        <mat-list-item
          class="triggers"
          *ngFor="let trigger of function.triggers; let i = index"
          [ngModelGroup]="i"
        >
          <mat-form-field>
            <input
              matInput
              required
              minlength="1"
              placeholder="Handler"
              [(ngModel)]="trigger.handler"
              name="handler"
              #handlerModel="ngModel"
              (ngModelChange)="checkHandlers()"
            />
            <mat-error *ngIf="handlerModel.errors?.required">
              This field is required.
            </mat-error>
          </mat-form-field>

          <ng-container *ngIf="information | async; let information">
            <mat-form-field>
              <mat-label>Type</mat-label>
              <mat-select
                #typeModel="ngModel"
                name="type"
                [(ngModel)]="trigger.type"
                (ngModelChange)="trigger.options = {}"
                required
              >
                <mat-select-trigger
                  *ngIf="information.enqueuers | enqueuer: trigger.type; let enqueuer"
                >
                  <mat-icon>{{ enqueuer.description.icon }}</mat-icon>
                  <mat-label>{{ enqueuer.description.title }}</mat-label>
                </mat-select-trigger>
                <mat-option
                  *ngFor="let enqueuer of information.enqueuers"
                  [value]="enqueuer.description.name"
                >
                  <mat-icon>{{ enqueuer.description.icon }}</mat-icon>
                  <mat-label>
                    <span>{{ enqueuer.description.title }}</span> —
                    <small class="mat-small">{{ enqueuer.description.description }}</small>
                  </mat-label>
                </mat-option>
              </mat-select>
              <mat-error *ngIf="typeModel.errors?.required">You must select an enqueuer.</mat-error>
            </mat-form-field>

            <ng-container
              ngModelGroup="triggerOptions"
              *ngIf="(information.enqueuers | enqueuer: trigger.type)?.options; let options"
            >
              <span
                class="margin"
                *ngFor="let propertyKv of options.properties | keyvalue"
                [inputPlacer]="propertyKv.value"
                [(ngModel)]="trigger.options[propertyKv.key]"
                [name]="propertyKv.key"
                [required]="options.required?.indexOf(propertyKv.key) > -1"
              >
              </span>
              <mat-label>
                {{ trigger.active ? "Active" : "Deactive" }}
              </mat-label>
              <mat-slide-toggle name="status" [(ngModel)]="trigger.active"> </mat-slide-toggle>
            </ng-container>
          </ng-container>
          <button
            mat-icon-button
            color="warn"
            [disabled]="function.triggers.length == 1"
            (click)="deleteTrigger(i)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>

        <ng-container *ngIf="function?._id" class="dependencies" ngModelGroup="dependencies">
          <mat-divider></mat-divider>
          <h4 mat-subheader>
            <mat-icon>layers</mat-icon> Dependencies
            <mat-progress-spinner
              *ngIf="dependencyInstallPending"
              matSuffix
              diameter="25"
              mode="indeterminate"
            >
            </mat-progress-spinner>
          </h4>
          <mat-list-item
            class="dependency"
            *ngFor="let dependency of dependencies | async; let index = index"
          >
            <span class="name">{{ dependency.name }}</span>
            <span class="version">{{ dependency.version }}</span>
            <button mat-icon-button (click)="deleteDependency(dependency.name)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>

          <mat-list-item>
            <mat-form-field>
              <input
                matInput
                placeholder="Dependency Name"
                (keyup.enter)="addDependency(dependencyModel.value)"
                name="dependencyName"
                required
                #dependencyModel="ngModel"
                ngModel
                [ngModelOptions]="{standalone: true}"
                [disabled]="dependencyInstallPending"
              />

              <mat-error *ngIf="dependencyModel?.errors?.required">
                This field is required.
              </mat-error>
            </mat-form-field>

            <button
              mat-button
              (click)="addDependency(dependencyModel.value); dependencyModel.reset()"
              [disabled]="dependencyModel.invalid || dependencyInstallPending"
            >
              <mat-icon>add</mat-icon> Add
            </button>
          </mat-list-item>
        </ng-container>

        <mat-divider></mat-divider>
        <h4 mat-subheader>
          <mat-icon>wrap_text</mat-icon> Environment Variables
          <button mat-icon-button (click)="addVariable()" matTooltip="Add Variable">
            <mat-icon>add</mat-icon>
          </button>
        </h4>

        <mat-list-item environment *ngFor="let env of function.env; let index = index">
          <mat-form-field class="trigger">
            <input
              matInput
              [ngModelOptions]="{standalone: true}"
              placeholder="Name"
              [(ngModel)]="env.name"
            />
          </mat-form-field>
          <mat-form-field class="trigger">
            <input
              matInput
              [ngModelOptions]="{standalone: true}"
              placeholder="Value"
              [(ngModel)]="env.value"
            />
          </mat-form-field>
          <button mat-icon-button color="warn" (click)="removeVariable(index)">
            <mat-icon>remove</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-button
      *matSave="$save | async; let state"
      [disabled]="form.invalid || isHandlerDuplicated || !!state"
      canInteract="function:update"
      (click)="save()"
      [ngSwitch]="state"
    >
      <mat-icon *ngSwitchDefault>sync</mat-icon>
      <mat-progress-spinner
        *ngSwitchCase="'saving'"
        [diameter]="18"
        color="primary"
        mode="indeterminate"
      ></mat-progress-spinner>
      <mat-icon *ngSwitchCase="'saved'">done</mat-icon>
      <mat-icon *ngSwitchCase="'failed'">clear</mat-icon>
      <span>{{ (!state ? "save" : state) | titlecase }}</span>
    </button>
  </mat-card-actions>
</mat-card>
