:host {
  .with-sidecar {
    width: calc(100% - 450px) !important;
    display: block;
  }
  mat-toolbar {
    min-height: 250px;
    padding: 0 30px;
    align-items: flex-start;
    flex-direction: column;

    h4 {
      mat-icon,
      span {
        vertical-align: middle;
        margin-left: 5px;
      }
      margin-bottom: 60px;
    }

    div.actions {
      max-width: 100%;
      align-self: flex-end;
      overflow-x: scroll;

      -ms-overflow-style: none; /* Internet Explorer 10+ */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
      }
    }
  }

  mat-card {
    margin: 30px;
    margin-top: -85px;
    overflow: hidden;
    mat-card-header {
      mat-card-title > * {
        vertical-align: middle;
      }
    }

    mat-card-content {
      mat-list {
        padding-top: 0px;
        mat-divider {
          width: 100% !important;
          margin-top: 0px 0px 15px 0px;
          position: relative !important;
        }

        h4[mat-subheader] {
          display: flex;
          span:first-of-type {
            flex: 1;
          }
          span.last-saved {
            display: block;
            text-align: right;
            mat-label {
              height: 20px;
              font-size: 12px;
              text-align: right;
              display: inline-block;
            }
            mat-progress-spinner {
              display: inline-block;
              vertical-align: middle;
              margin-left: 5px;
              transition: opacity 0.5s ease-in-out;
            }
          }
        }

        mat-list-item {
          height: auto !important;
          ::ng-deep .mat-list-item-content {
            display: block !important;
            padding-bottom: 25px !important;
            padding-top: 25px !important;
          }

          &:first-of-type {
            ::ng-deep .mat-list-item-content {
              display: grid !important;
              gap: 15px;
              grid-template-columns: repeat(auto-fill, minmax(250px, max-content));
            }
            mat-select {
              mat-select-trigger {
                > * {
                  vertical-align: middle;
                }
                svg {
                  height: 24px;
                  margin-top: -4px;
                }
              }
            }
            mat-form-field {
              mat-hint {
                mat-icon {
                  font-size: 15px;
                  cursor: help;
                }
              }
            }
            span {
              margin-top: 8px;
              vertical-align: middle;
              display: inline-flex;
              flex-flow: column;
            }
          }

          &.editor {
            ::ng-deep .mat-list-item-content {
              padding-left: 4px;
              padding-right: 4px;
            }
            code-editor {
              height: calc(100vh - 100px);
              ::ng-deep {
                .decorationsOverviewRuler {
                  display: none;
                }
                .overflow-guard {
                  border: 2px solid #0000000f;
                }
              }
            }
          }

          &.dependency {
            ::ng-deep .mat-list-item-content {
              display: flex !important;
              padding-bottom: 10px !important;
              padding-top: 10px !important;
            }
            svg {
              height: 44px;
              width: 44px;
            }
            span.seperator {
              font-weight: 100;
              padding: 0 2px;
            }

            button:first-of-type {
              margin-left: 5px;
            }
          }

          &.triggers {
            display: inline-table;
            padding-bottom: 20px;
            height: 80px;

            ::ng-deep .mat-list-item-content > *:not(:first-child) {
              margin-left: 10px;
            }

            mat-form-field {
              mat-select {
                mat-select-trigger {
                  & > * {
                    vertical-align: middle;
                  }
                  mat-label {
                    padding-left: 10px;
                  }
                }
              }
            }
            button {
              margin-left: 30px;
            }
          }

          &.environment  {
            ::ng-deep .mat-list-item-content {
              padding-bottom: 0px !important;
              padding-top: 10px !important;
            }
            mat-form-field:not(:first-of-type) {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }

  .sidecar-log-view {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 450px;
    height: 100%;
    border-left: 1px solid #eeefee;
    background: #fafafa;
    ::ng-deep {
      mat-form-field {
        margin: 0px !important;
        width: 100% !important;
      }
      mat-slide-toggle,
      mat-card-content {
        margin: 0px !important;
      }
      mat-expansion-panel-header {
        padding: 5px !important;
      }
      .cdk-virtual-scroll-content-wrapper {
        div:first-of-type {
          margin-right: 0px !important;
          padding: 5px !important;
        }
        div:first-of-type,
        mat-panel-title {
          font-size: 0.8rem !important;
          margin: 0px !important;
          span:nth-child(1) {
            width: 30% !important;
            margin: 10px 5px 10px 0px !important;
          }
          span:nth-child(2) {
            width: 30% !important;
            margin: 10px 0px !important;
          }
          span:last-of-type {
            width: 40% !important;
            margin: 10px 0px 10px 5px !important;
          }
        }
      }
    }
  }
}
