.popoverContent {
  padding: 0 !important;
}

.container {
  background-color: var(--color-menu-background);
  padding: var(--padding-md) 0;
  border-radius: var(--border-radius-lg);
  gap: 0 !important;
  .item {
    color: var(--color-font-primary);
    padding: 0 calc(var(--padding-md) - var(--padding-xs));
    cursor: pointer;
    height: 20px !important;
  }
  .item:hover {
    background-color: var(--color-hover);
  }
}

.bucketAddField {
  max-height: 600px !important;
  overflow-y: auto;
  overflow-x: hidden;
  display: block !important;
  width: 330px !important;
}

.firstPortal {
  width: unset;
  height: unset;
}

.hidden {
  opacity: 0 !important;
  pointer-events: none !important;
}

.lowBrightness {
  filter: brightness(80%);
}
