:host {
  // display: block;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  display: block;

  .spinner-container{
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    top: 0;
  }

  // img {
  //   display: block;
  //   object-fit: cover;
  //   width: 100%;
  //   min-height: 120px;
  //   max-height: 120px;
  // }

  // video {
  //   display: block;
  //   object-fit: cover;
  //   width: 100%;
  //   min-height: 120px;
  //   max-height: 120px;
  // }
  // div {
  //   display: flex;
  //   flex-flow: column;
  //   align-items: center;
  //   padding: 20px 0;
  //   max-height: 120px;
  //   small {
  //     text-align: center;
  //   }
  // }
}
