:host {
  width: 100%;
  display: grid !important;
  mat-card-subtitle {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  [mat-card-image] {
    margin-top: unset;
  }
  img {
    object-fit: cover;
    min-height: 120px;
    max-height: 120px;
  }
  video {
    object-fit: contain;
    min-height: 120px;
    max-height: 120px;
  }

  .unkown-file {
    height: 100%;
    display: block;
    text-align: center;
    .mat-icon {
      font-size: 132px;
      height: auto;
    }
    p {
      margin-left: 20px;
    }
  }
}
