:host {
  app-header {
    position: sticky;
    min-height: 150px;

    button {
      position: absolute;
      left: 20px;

      mat-icon {
        font-size: 1.5rem;
      }
    }
  }

  mat-sidenav-container {
    max-width: 100%;
    margin-left: 12%;
    margin-right: 12%;
    background-color: #fff;
    padding: 15px;
    min-height: 95vh;
    color: #1c1c50;

    &.handset {
      max-width: unset;
      margin-left: unset;

      mat-sidenav {
        background: #fff;
      }
    }

    mat-sidenav {
      background: none;
      border-right: none;

      &.desktop {
        padding-top: 25px;
      }

      mat-nav-list {
        h6 {
          cursor: pointer;
          outline: 0;
          text-transform: uppercase;
          color: #1c1c50;
          font-weight: 700;
        }

        a.mat-list-item {
          height: 35px;
        }

        a.active {
          background: #1c1c5008;
          border-left: 2px solid #1c1c50;
        }
      }
    }

    mat-sidenav-content {
      ::ng-deep {

        app-doc,
        app-doc-list {
          flex: 1;
        }
      }
    }
  }

  .fill-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  // Added: 
  @media screen and (max-width:1280px) {
    mat-sidenav-container {
      &.handset {
        margin: 0 !important;
      }

      mat-sidenav {
        &.mat-drawer {
          position: absolute;
          left: 0;
        }
      }

    }
  }

  @media screen and (min-width:600px) {
    .nav-mobile {
      visibility: hidden !important;
    }
  }

}