:host {
  position: relative;
  app-header {
    position: sticky;
    min-height: 150px;

    button {
      position: absolute;
      left: 20px;

      mat-icon {
        font-size: 1.5rem;
      }
    }
  }

  mat-sidenav-container {
    max-width: 1280px;
    margin: auto;
    background-color: #fff;
    min-height: 95vh;
    color: #1c1c50;

    &.handset {
      max-width: unset;
      margin-left: unset;

      mat-sidenav {
        background: #fff;
      }
    }

    mat-sidenav {
      background: none;
      border-right: none;
      width: 300px;

      &.desktop {
        padding-top: 25px;
      }

      mat-nav-list {
        h6 {
          cursor: pointer;
          outline: 0;
          text-transform: uppercase;
          color: #1c1c50;
          font-weight: 700;
        }

        a.mat-list-item {
          height: 35px;
          font-weight: 100;
        }

        a.active {
          background: #1c1c5008;
          border-left: 2px solid #1c1c50;
        }
        .indent {
          margin-left: 30px;
          font-size: 0.9rem;
          div {
            line-height: 1.5rem;
          }
        }
      }
    }

    mat-sidenav-content {
      ::ng-deep {
        app-doc,
        app-doc-list {
          flex: 1;
        }
      }
    }
  }

  .fill-space {
    flex: 1 1 auto;
  }
}
