<mat-toolbar>
  <span>
    <h4 class="mat-mdc-h4">
      <mat-icon>http</mat-icon>
      <span>Webhooks</span>
    </h4>
  </span>
  <div class="actions">
    <button mat-button [matMenuTriggerFor]="propertiesMenu">
      <mat-icon>view_column</mat-icon>
      Columns
      <mat-menu xPosition="before" #propertiesMenu="matMenu">
        <button mat-menu-item (click)="$event.stopPropagation()">
          <mat-checkbox
            [ngModel]="properties.length == displayedProperties.length"
            [indeterminate]="
              displayedProperties.length > 1 && displayedProperties.length < properties.length
            "
            (ngModelChange)="toggleDisplayAll($event)"
          >
            Display all
          </mat-checkbox>
        </button>
        <mat-divider></mat-divider>
        <button
          mat-menu-item
          disableRipple
          *ngFor="let property of properties"
          (click)="$event.stopPropagation()"
        >
          <mat-checkbox
            [ngModel]="displayedProperties.indexOf(property) > -1"
            (ngModelChange)="toggleProperty(property, $event)"
          >
            {{ property }}
          </mat-checkbox>
        </button>
      </mat-menu>
    </button>
    <button canInteract="webhook:create" mat-button routerLink="add">
      <mat-icon>add</mat-icon>
      Add New
    </button>
  </div>
</mat-toolbar>

<mat-card appearance="outlined" class="mat-mdc-elevation-z25">
  <mat-card-content>
    <table mat-table [dataSource]="$data" matSort (matSortChange)="onSortChange($event)">
      <ng-container matColumnDef="_id">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-resize-header
          mat-sort-header
          persist-header-width="Webhooks"
        >
          _id
        </th>
        <td mat-cell *matCellDef="let webhook">{{ webhook._id }}</td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-resize-header
          mat-sort-header
          persist-header-width="Webhooks"
        >
          Title
        </th>
        <td mat-cell *matCellDef="let webhook">{{ webhook.title }}</td>
      </ng-container>
      <ng-container matColumnDef="url">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-resize-header
          mat-sort-header
          persist-header-width="Webhooks"
        >
          Url
        </th>
        <td mat-cell *matCellDef="let webhook">{{ webhook.url }}</td>
      </ng-container>
      <ng-container matColumnDef="collection">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-resize-header
          mat-sort-header
          persist-header-width="Webhooks"
        >
          Collection
        </th>
        <td mat-cell *matCellDef="let webhook">{{ webhook.trigger.options.collection }}</td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-resize-header
          mat-sort-header
          persist-header-width="Webhooks"
        >
          Type
        </th>
        <td mat-cell *matCellDef="let webhook">{{ webhook.trigger.options.type | titlecase }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let webhook">
          <button
            canInteract="webhook:show"
            [resource]="webhook._id"
            mat-icon-button
            [routerLink]="webhook._id"
            matTooltip="Edit"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            canInteract="webhook:delete"
            [resource]="webhook._id"
            mat-icon-button
            color="warn"
            [matAwareDialog]="{
              title: 'Confirmation',
              templateOrDescription: dialogTemplate,
              answer: 'agree'
            }"
            (confirm)="delete(webhook._id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedProperties"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedProperties"></tr>
    </table>

    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </mat-card-content>
</mat-card>

<ng-template #dialogTemplate let-answer="answer">
  <p>This action will <b>permanently</b> delete this webhook and break all associations.</p>
  <p>
    Please type in <code>{{ answer }}</code> to confirm.
  </p>
</ng-template>
