:host {
  mat-toolbar {
    min-height: 250px;
    padding: 0 30px;
    align-items: flex-start;
    h4 {
      mat-icon,
      span {
        vertical-align: middle;
      }
    }
  }

  mat-card {
    margin: 30px;
    margin-top: -125px;
    // For proper border radius
    overflow: hidden;
    > h4 {
      margin-bottom: 10px;
    }

    mat-card-content {
      margin-bottom: 10px;

      mat-list {
        width: max-content;
        padding-top: 0px;

        mat-list-item {
          display: flex;

          ::ng-deep .mat-mdc-list-item-content {
            width: 100%;
            padding: 0px;
          }
        }
      }

      form > * {
        margin-top: 10px;
      }
    }
  }
  .hint-message {
    margin-left: 10px;
  }
}
