:host {
  .table-dashboard {
    justify-content: start;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  mat-card-header {
    align-items: center;
    justify-content: center;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
  mat-table {
    box-shadow: none !important;
    min-width: 100%;
    width: max-content;
    mat-cell,
    mat-header-cell {
      margin: 0 15px;
    }
  }

  h3 {
    text-align: center;
  }

  .table-scroll {
    overflow-x: scroll;
    width: unset !important;
    height: unset !important;

    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }
}
