
mat-card-header {
  align-items: center;
  justify-content: center;
}

mat-table {
  box-shadow: none !important;
  min-width: 100%;
  width: max-content;
  mat-cell,
  mat-header-cell {
    margin: 0 15px;
  }
}

h3 {
  text-align: center;
}

div.filters {
  display: flex;

  > h4 {
    margin: 0px 0px 5px 0px;
  }
  > span {
    margin-right: 5px;
  }
}