<ng-container *ngIf="componentData$ | async; let componentData">
  <h3>{{ componentData.title }}</h3>
  <button class="refresh" mat-icon-button matTooltip="Refresh data" (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
  <div class="filters">
    <ng-container *ngFor="let definition of componentData.filters">
      <span [name]="definition.key" [inputPlacer]="definition" [(ngModel)]="filter[definition.key]">
      </span>
    </ng-container>
  </div>
</ng-container>

<mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container *ngFor="let c of displayedColumns" [matColumnDef]="c">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ c }}</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element[c] }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[3, 10, 20]"></mat-paginator>
