<ng-container *ngIf="componentData$ | async; let componentData">
  <mat-card-header>
    <mat-card-title>
      {{ componentData.title }}
    </mat-card-title>
  </mat-card-header>
  <button
    class="refresh"
    mat-icon-button
    matTooltip="Refresh data"
    (click)="onUpdate.next(componentData.filters)"
  >
    <mat-icon>refresh</mat-icon>
  </button>
  <div class="filters" *ngIf="!isSmall">
    <ng-container *ngFor="let filter of componentData.filters">
      <span
        [name]="filter.key"
        [inputPlacer]="filter"
        [(ngModel)]="filter.value"
        (keyup.enter)="onUpdate.next(componentData.filters)"
      >
      </span>
    </ng-container>
  </div>
</ng-container>

<ng-template #tableElement>
  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container *ngFor="let c of displayedColumns" [matColumnDef]="c">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ c }}</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element[c] }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator ></mat-paginator>
</ng-template>

<ng-container *ngTemplateOutlet="tableElement"> </ng-container>

<div class="show-table" *ngIf="isSmall">
  <button class="show-table-button" (click)="onShowTableClicked()">show chart</button>
  <div
    class="hidden-table"
    [ngClass]="showTable ? 'table-container-unhidden' : 'table-container-hidden'"
  >
  <ng-container *ngTemplateOutlet="tableElement"> </ng-container>
  </div>
</div>
