:host {
  mat-toolbar {
    min-height: 250px;
    padding: 0 30px;
  }
  mat-card {
    margin: 30px;
    margin-top: -110px;
    mat-card-content {
      mat-list {
        a {
          text-decoration: none;
          color: unset;
          font-size: 14px;
          font-weight: bold;

          mat-icon {
            margin-left: 4px;
            font-size: 14px;
            transition: transform 0.1s ease-out;
          }

          &:hover mat-icon {
            transform: translate(1px, -1px);
          }
        }
      }
    }
  }
}
