:host {
  mat-toolbar {
    min-height: 250px;
    padding: 0 30px;
    align-items: flex-start;
    h4 > * {
      vertical-align: middle;
      margin-left: 5px;
    }
  }
  mat-card {
    margin: 30px;
    &:first-of-type {
      margin-top: -110px;
      mat-card-content {
        mat-list {
          a {
            text-decoration: none;
            color: unset;
            font-size: 14px;
            font-weight: bold;

            mat-icon {
              margin-left: 4px;
              font-size: 14px;
              transition: transform 0.1s ease-out;
            }

            &:hover mat-icon {
              transform: translate(1px, -1px);
            }
          }
        }
      }
    }
  }
}
