<mat-card class="mat-elevation-z25">
  <mat-card-title> Welcome to Spica! </mat-card-title>
  <mat-card-content>
    <mat-list role="list">
      <h1 mat-subheader>Quicklinks</h1>
      <a mat-list-item target="_blank" href="https://spicaengine.com/docs">
        Documentation
        <mat-icon>open_in_new</mat-icon>
      </a>
      <a mat-list-item target="_blank" href="https://github.com/spica-engine/spica">
        Github
        <mat-icon>open_in_new</mat-icon>
      </a>
      <a mat-list-item target="_blank" href="https://github.com/spica-engine/spica/releases">
        Releases
        <mat-icon>open_in_new</mat-icon>
      </a>
    </mat-list>
  </mat-card-content>
</mat-card>
