<mat-toolbar color="primary">
  <h4 class="mat-h4">
    <span>
      Welcome to Spica!
    </span>
  </h4>
</mat-toolbar>
<mat-card *ngIf="!(isTutorialEnabled$ | async)" class="mat-elevation-z25">
  <mat-card-content>
    <mat-list role="list">
      <h1 mat-subheader>Quicklinks</h1>
      <a mat-list-item target="_blank" href="//spicaengine.com/docs">
        Documentation
        <mat-icon>open_in_new</mat-icon>
      </a>
      <a mat-list-item target="_blank" href="//github.com/spica-engine/spica">
        Github
        <mat-icon>open_in_new</mat-icon>
      </a>
      <a mat-list-item target="_blank" href="//github.com/spica-engine/spica/releases">
        Releases
        <mat-icon>open_in_new</mat-icon>
      </a>
      <a
        mat-list-item
        target="_blank"
        href="//github.com/spica-engine/spica/commit/COMMIT_HASH_PLACEHOLDER"
      >
        Current release: 0.0.0-PLACEHOLDER
        <mat-icon>open_in_new</mat-icon>
      </a>
    </mat-list>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="!!(isTutorialEnabled$ | async)" class="mat-elevation-z25">
  <tutorial (onDisable)="onDisable()"></tutorial>
</mat-card>
