<mat-table [dataSource]="componentData.data" matSort class="mat-elevation-z8">
  <ng-container *ngFor="let c of componentData.displayedColumns" [matColumnDef]="c">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ c }}</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element[c] }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="componentData.displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: componentData.displayedColumns"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[3, 10, 20]"></mat-paginator>
