mat-table {
  box-shadow: none !important;
  min-width: 100%;
  width: max-content;
  mat-cell,
  mat-header-cell {
    margin: 0 15px;
  }
}
mat-card {
  padding: 1px;
}

div.refresh {
  right: 20px;
  top: 25px;
  position: absolute;
}
h3 {
  text-align: center;
}
