<div class="labels">
  <button
    mat-flat-button
    [class.selected]="currentTabIndex == 0"
    (click)="$event.stopPropagation(); currentTabIndex = 0; resetInputs()"
  >
    Basic
  </button>
  <button
    mat-flat-button
    [class.selected]="currentTabIndex == 1"
    (click)="$event.stopPropagation(); currentTabIndex = 1; resetInputs()"
  >
    MongoDB
  </button>
  <button
    mat-flat-button
    [class.selected]="currentTabIndex == 2"
    (click)="$event.stopPropagation(); currentTabIndex = 2; resetInputs()"
  >
    Expression
  </button>
</div>

<div (click)="$event.stopPropagation()">
  <ng-container *ngIf="currentTabIndex == 0">
    <div class="basic-filter" *ngFor="let filter of selectedOperator; let i = index">
      <div class="inputs">
        <mat-form-field (click)="$event.stopPropagation()" class="property">
          <mat-select
            placeholder="Attribute to Filter"
            [(ngModel)]="property[i]"
            (ngModelChange)="onPropertyChange(i)"
          >
            <mat-option *ngFor="let propertyKv of properties | keyvalue" [value]="propertyKv.key">
              {{ propertyKv.value.title || propertyKv.key }}
            </mat-option>
          </mat-select>
          <div class="separator"></div>
        </mat-form-field>
        <mat-form-field (click)="$event.stopPropagation()" class="operator">
          <mat-select placeholder="Select an operator" [(ngModel)]="selectedOperator[i]">
            <ng-container
              *ngIf="operators.hasOwnProperty(properties[property[i]]?.type); else defaultOperator"
            >
              <mat-option
                *ngFor="let operatorKv of operators[(properties[property[i]]?.type)] | keyvalue"
                [value]="operatorKv.key"
              >
                {{
                  operatorKv.key
                    .replace(operatorKv.key[0], operatorKv.key[0].toUpperCase())
                    .replaceAll("_", " ")
                }}
              </mat-option>
            </ng-container>
            <ng-template #defaultOperator>
              <mat-option value="equals">
                Equals
              </mat-option>
            </ng-template>
          </mat-select>
          <div class="separator"></div>
        </mat-form-field>

        <span
          *ngIf="property[i] && properties[property[i]].type != 'date'"
          [inputPlacer]="properties[property[i]]"
          [(ngModel)]="value[i]"
          (click)="$event.stopPropagation()"
          class="value"
        ></span>
        <mat-form-field
          *ngIf="property[i] && properties[property[i]].type == 'date'"
          (click)="$event.stopPropagation()"
          class="value"
        >
          <mat-label>{{
            properties[property[i]].title || properties[property[i]].$name
          }}</mat-label>
          <input
            matInput
            type="datetime"
            [(ngModel)]="value[i]"
            (focus)="dt1.open()"
            [owlDateTime]="dt1"
            [owlDateTimeTrigger]="dt1"
            placeholder="Date Time"
            selectMode="range"
          />
          <owl-date-time #dt1></owl-date-time>
          <mat-hint *ngIf="schema.description">{{ properties[property[i]].description }}</mat-hint>
        </mat-form-field>
        <mat-form-field *ngIf="!property[i]" (click)="$event.stopPropagation()" class="value">
          <input matInput type="text" placeholder="Enter a value" />
        </mat-form-field>
      </div>
      <button color="warn" mat-button (click)="removeBasicFilter(i)">
        <mat-icon>
          delete
        </mat-icon>
      </button>
    </div>
    <div class="add-basic-filter-container">
      <button color="primary" mat-button (click)="addBasicFilter()">
        Add filter
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="currentTabIndex == 1">
    <div class="tab-content">
      <code-editor
        placeholder="MongoDB Filter"
        [(ngModel)]="value[0]"
        [options]="{
          minimap: {enabled: false},
          lineNumbers: 'off',
          contextmenu: false,
          value: '{\n\t\n}',
          language: 'json'
        }"
        language="json"
        [properties]="properties"
      >
      </code-editor>
      <div class="history">
        <ng-container
          [ngTemplateOutlet]="historyTemplate"
          [ngTemplateOutletContext]="{itemLength: 15, type: 'mongodb', histories: mongodbHistory}"
        ></ng-container>
      </div>
    </div>
    <p class="mat-error" *ngIf="errorMessage">{{ errorMessage }}</p>
  </ng-container>
  <ng-container *ngIf="currentTabIndex == 2">
    <div class="tab-content">
      <code-editor
        placeholder="Expression Filter"
        [(ngModel)]="value[0]"
        [options]="{
          minimap: {enabled: false},
          lineNumbers: 'off',
          contextmenu: false,
          value: '',
          language: 'cel'
        }"
        language="cel"
        [properties]="properties"
        context="filter"
      >
      </code-editor>
      <div class="history">
        <ng-container
          [ngTemplateOutlet]="historyTemplate"
          [ngTemplateOutletContext]="{
            itemLength: 8,
            type: 'expression',
            histories: expressionHistory
          }"
        ></ng-container>
      </div>
    </div>
  </ng-container>
</div>

<div class="filter-buttons">
  <button mat-raised-button (click)="apply(); errorMessage && $event.stopPropagation()">
    Apply
  </button>
  <button mat-raised-button color="warn" (click)="resetInputs(); filterChange.emit(filter)">
    Clear
  </button>
</div>

<ng-template #historyTemplate let-itemLength="itemLength" let-type="type" let-histories="histories">
  <h4 class="mat-h4"><mat-icon>history</mat-icon><span>History</span></h4>
  <mat-chip-listbox>
    <mat-chip-option
      (click)="value[0] = history"
      [matTooltip]="history"
      *ngFor="let history of histories; index as i"
      removable
      (removed)="histories.splice(i, 1); saveHistoryChanges(type, histories)"
    >
      {{ history?.length > itemLength ? history.slice(0, itemLength) + ".." : history }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip-option>
  </mat-chip-listbox>
</ng-template>
