:host {
  > * {
    margin-bottom: 10px;
  }
  div.labels {
    display: flex;
    align-items: baseline;
    button {
      border-radius: 0;
      flex: 1;
    }
  }

  .selected {
    border-bottom: 1px solid #c0c0c0;
  }

  .filter-buttons {
    display: flex;
    justify-content: center;
    button {
      margin: 5px;
    }
  }

  ::ng-deep {
    .mat-mdc-form-field-infix {
      width: unset;
    }
  }

  div.basic-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > div.inputs {
      > * {
        margin-right: 5px;
      }
      position: relative;
      display: flex;
      align-items: center;
      flex: 99;

      > mat-form-field.property {
        flex: 3;
      }

      mat-form-field.operator {
        flex: 2;
      }

      .value {
        flex: 4;
        max-width: 240px;
      }

      ::ng-deep span.value > * {
        width: 100%;
      }

      > mat-form-field {
        div.separator {
          height: 32px;
          min-width: 8px;
          border-bottom: 2px solid var(--primary-text);
          position: absolute;
          right: -17px;
          top: -10px;
          z-index: 1000;
          border-radius: 0px;
        }
      }
    }

    > button {
      flex: 1;
      margin-top: -10px;
    }
  }

  div.add-basic-filter-container {
    text-align: center;
  }

  div.tab-content {
    margin: 10px 0px;
    display: flex;
    height: 400px;
    code-editor {
      flex: 4;
    }

    div.history {
      flex: 1;

      h4 {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      mat-chip-listbox {
        margin-top: 15px;

        ::ng-deep .mat-mdc-chip-list-wrapper {
          justify-content: center;
        }
      }

      mat-chip-option {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  p.mat-mdc-form-field-error {
    text-align: center;
  }
}
