@use "../../styles/mixins";

.container {
  height: 93% !important;
  padding: var(--padding-md);
  font-family: var(--font-family-base);
}

.storageItemContainer {
  background-color: var(--color-soft-light);
  width: 100% !important;
  height: 100% !important;
  border-radius: var(--border-radius-md);
  overflow: hidden !important;
}

.storageItemColumnContainer {
  height: 100% !important;
  width: 100% !important;
  border-right: var(--border-default);
  justify-content: flex-start !important;
  padding: var(--padding-xl) 0;
  width: 280px !important;
}

.storageItemColumns {
  display: flex;
  height: 100% !important;
  flex-shrink: 1;
  min-width: 0;
  overflow: auto;
  border-right: var(--border-default);
}

.storageItemColumn {
  height: 100% !important;
   width: 100% !important;
  overflow-y: scroll;
  @include mixins.hideScrollbar;
}

.storageItem {
  cursor: pointer;
  max-width: 100%;
  width: 100% !important;
  height: 28px !important;
  padding: var(--padding-sm) var(--padding-xl);
  justify-content: flex-start !important;
}

.storageItem:hover {
  background-color: var(--color-hover);
}

.activeStorageItem {
  background-color: var(--color-hover);
}

.storageItemText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block !important;
  max-width: 100%;
}

.fileViewContainer {
  width: 600px !important;
  > * {
    width: 100% !important;
  }
}

.fileView {
  width: 100% !important;
  height: 400px !important;
}

.metadata {
  height: 100% !important;
  padding-top: var(--padding-xl);
  font-size: var(--font-size-md);
  .metadataContent {
    height: 100% !important;
    justify-content: space-between !important;
  }
}

.metadataName {
  font-weight: 700;
}

.preview {
  width: 100% !important;
  height: 100% !important;
  padding: var(--padding-xl);
  flex: 1;
}

.metadataButton {
  height: 32px !important;
  font-size: var(--font-size-md);
  align-items: center !important;
  display: flex;
  color: var(--color-font-primary) !important;
}

.metaDataCopyButton {
  min-width: 67px !important;
  width: 67px !important;
}

.metaDataEditButton {
  min-width: 52px !important;
  width: 52px !important;
}

.metaDataReplaceButton {
  min-width: 83px !important;
  width: 83px !important;
}

.metadataClearButton {
  min-width: 74px !important;
  width: 74px !important;
  color: var(--color-font-secondary) !important;
}

.closePreviewButton {
  padding: 0 !important;
}

.actionBar {
  justify-content: space-between !important;
  padding: 0 0 var(--padding-lg) !important;
  width: 100% !important;
}

.actionBarButton {
  height: 32px !important;
  width: min-content !important;
  min-width: unset !important;
  font-size: var(--font-size-md);
  align-items: center !important;
  display: flex;
  color: var(--color-font-primary) !important;
  background-color: var(--color-soft-light) !important;
}

.hidden {
  display: none !important;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.doc {
  display: block !important;
  overflow-y: auto;
  > div > section {
    width: 100% !important;
    overflow-x: auto;
  }
  width: 100%;
  height: 100%;
  overflow: auto;
}

.columnLoaderContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
