@use "../../styles/mixins";

.container {
  height: 93% !important;
  padding: 10px;
  font-family: var(--font-family-base);
}

.storageItemContainer {
  background-color: var(--color-soft-light);
  width: 100% !important;
  height: 100% !important;
  border-radius: var(--border-radius-md);
  overflow-y: scroll;
  @include mixins.hideScrollbar;
}

.storageItemColumns {
  display: flex;
  height: 100% !important;
}

.storageItemColumn {
  height: 100% !important;
  max-width: 100% !important;
}

.storageItemColumnContainer {
  height: 100% !important;
  width: 100% !important;
  border-right: var(--border-default);
  justify-content: flex-start !important;
  padding: var(--padding-xl);
  width: 280px !important;
}

.storageItem {
  max-width: 100%;
  cursor: pointer;
}

.storageItem.folder {
}

.storageItemText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block !important;
  max-width: 100%;
}

.filePreviewContent {
  width: 100% !important;
  height: 100% !important;
  justify-content: space-between;

  img,
  embed {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
  }

  .icon {
    width: 32px;
    height: 32px;
  }
}

.fileViewContainer {
  width: 100% !important;
}

.fileView {
  width: 100% !important;
  height: 400px !important;
}

.metadata {
  height: 100% !important;
  padding-top: var(--padding-xl);
  font-size: var(--font-size-md);
  .metadataContent {
    height: 100% !important;
    justify-content: space-between !important;
  }
}

.metadataName {
  font-weight: 700;
}

.preview {
  width: 100% !important;
  height: 100% !important;
  padding: var(--padding-xl);
}

.metadataButton {
  height: 32px !important;
  font-size: var(--font-size-md);
  align-items: center !important;
  display: flex;
  color: var(--color-font-primary) !important;
}

.metaDataCopyButton {
  min-width: 67px !important;
  width: 67px !important;
}

.metaDataEditButton {
  min-width: 52px !important;
  width: 52px !important;
}

.metaDataReplaceButton {
  min-width: 83px !important;
  width: 83px !important;
}

.metadataClearButton {
  min-width: 74px !important;
  width: 74px !important;
  color: var(--color-font-secondary) !important;
}

.closePreviewButton {
  padding: 0 !important;
}

.actionBar {
  justify-content: space-between !important;
  padding: var(--padding-lg) 0 !important;
  width: 100% !important;
}

.actionBarButton {
  height: 32px !important;
  width: min-content !important;
  min-width: unset !important;
  font-size: var(--font-size-md);
  align-items: center !important;
  display: flex;
  color: var(--color-font-primary) !important;
  background-color: var(--color-soft-light) !important;
}

.hidden {
  display: none !important;
}

.activeStorageItem {
  font-weight: 700;
}