@use "../../styles/mixins";

.container {
  height: 93% !important;
  padding: 10px;
  font-family: var(--font-family-base);
}

.storageItemContainer {
  background-color: var(--color-soft-light);
  width: 100% !important;
  height: 100% !important;
  border-radius: var(--border-radius-md);
  overflow-y: auto;
  @include mixins.hideScrollbar;
}

.storageItemColumns {
  display: flex;
  height: 100% !important;
}


.preview {
  width: 100% !important;
  height: 100% !important;
  padding: var(--padding-xl);
}


.metaDataCopyButton {
  min-width: 67px !important;
  width: 67px !important;
}

.metaDataEditButton {
  min-width: 52px !important;
  width: 52px !important;
}

.metaDataReplaceButton {
  min-width: 83px !important;
  width: 83px !important;
}

.hidden {
  display: none !important;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.doc {
  display: block !important;
  overflow-y: auto;
  > div > section {
    width: 100% !important;
    overflow-x: auto;
  }
  width: 100%;
  height: 100%;
  overflow: auto;
}
