.container > div {
  width: 100% !important;
}

.formContainer {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

.formInputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--gap-sm);
  padding: var(--padding-sm) 0;
  > div {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
    width: 100%;
  }
}

.countLimitInput input {
  width: 100%;
}

.limitExceedBehaviourInput span {
  max-width: 80px !important;
}

.selectPopup {
  width: 220px !important;
  margin-left: var(--padding-lg)
}

.selectOption {
  padding: var(--padding-sm);
  font-size: var(--font-size-md);
  width: 100% !important;
}

.selectOption:hover {
  background-color: var(--color-soft);
}
