::ng-deep {
  input.file-selector {
    display: none;
  }

  .preview-object,
  .edit-object {
    position: relative !important;
    .mat-dialog-container {
      height: unset;
      padding: unset;
    }
  }

  .mat-menu-content {
    button.active {
      color: var(--accent-300) !important;
    }
  }
}

:host {
  mat-toolbar {
    p {
      font-size: 12px;
      margin-left: 5px;
    }
    min-height: 250px;
    padding: 0 30px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    h4 {
      mat-icon,
      span {
        margin-left: 5px;
        vertical-align: middle;
      }
    }
    button {
      mat-progress-spinner {
        display: inline-block;
      }
    }

    div.actions {
      align-self: flex-end;
    }
  }

  mat-progress-spinner.content-spinner {
    margin: auto 50px;
  }

  .unselected {
    opacity: 0.5;
    transform: scale(0.9);
  }

  .updating {
    opacity: 0.5;
    pointer-events: none;
  }

  mat-card {
    margin-top: -85px;
    height: calc(100vh - 250px);
    padding: 0px;
    display: flex;
    justify-content: space-between;

    .directory-view {
      display: flex;
      overflow: auto;
      .column {
        height: 100%;
        overflow: scroll;
        width: 300px;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
      }
    }

    .object-details {
      height: 100%;
      border-left: 1px solid rgba(0, 0, 0, 0.1);

      .close > button {
        float: right;
      }

      .preview {
        height: calc(100vh - 320px);
        overflow: scroll;

        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          text-align: center;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          width: 500px;
        }
        storage-view {
          display: block;
          width: 500px;
          height: 75%;
          overflow-x: scroll;
        }
      }

      .action-buttons {
        height: 40px;
        display: flex;
        justify-content: center;
        gap: 10px;
      }
    }
  }

  .highlight {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

::ng-deep {
  .line,
  .line.cdk-drag-preview {
    height: 40px;
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: var(--primary-text);

    .content {
      display: flex;
      align-items: center;
      /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
      mat-checkbox {
        width: 24px;
        height: 24px;
      }

      > span {
        padding: 4px;
        max-width: 220px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .more {
      visibility: hidden;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      .more {
        visibility: unset;
      }
    }
  }

  .line.cdk-drag-placeholder {
    opacity: 0;
  }

  .line.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .column.cdk-drop-list-dragging .line:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}
