:host {
  overflow-x: hidden;

  div.user {
    display: flex;
    align-items: center;

    img {
      width: 25px;
      height: 25px;
      margin-right: 5px;
      border-radius: 10px;
    }
  }

  mat-divider {
    margin: 20px 0px;
  }

  mat-form-field {
    display: block;
  }

  div.actions {
    text-align: end;

    button {
      margin: 0px 5px;
      &:last-of-type {
        margin-right: 0px;
      }
    }
  }
}
