<div class="user">
  <img [src]="user.avatar_url" alt="" />
  <span> {{ user.username }} </span>
</div>
<mat-divider></mat-divider>
<ng-container *ngIf="context == 'pull'">
  <mat-form-field>
    <mat-label>Repository</mat-label>
    <mat-select [(ngModel)]="selectedRepo.repo" (ngModelChange)="selectedRepo.branch = undefined">
      <mat-option *ngFor="let repo of availableRepos" [value]="repo.repo">
        {{ repo.repo }}
      </mat-option>
      <mat-option (click)="switchToPush('repo')">
        <mat-icon>add</mat-icon>
        New Repository
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Branch</mat-label>
    <mat-select [disabled]="!selectedRepo.repo" [(ngModel)]="selectedRepo.branch">
      <mat-option *ngFor="let branch of filterBranches(selectedRepo.repo)" [value]="branch">
        {{ branch }}
      </mat-option>
      <mat-option (click)="switchToPush('branch')">
        <mat-icon>add</mat-icon>
        New Branch
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="actions">
    <button
      (confirm)="complete()"
      [matAwareDialog]="{
        title: 'Confirmation',
        templateOrDescription: pullDialogTemplate,
        answer: '',
        noAnswer: true
      }"
      [disabled]="!selectedRepo.repo || !selectedRepo.branch"
      mat-button
    >
      <mat-icon>
        download
      </mat-icon>
      Pull
    </button>
    <button
      [disabled]="!selectedRepo.repo || !selectedRepo.branch"
      mat-button
      (click)="switchToPush('commit')"
    >
      <mat-icon>
        upload
      </mat-icon>
      Push
    </button>
  </div>
</ng-container>

<ng-container *ngIf="context == 'push'" class="push">
  <ng-container [ngSwitch]="pushStrategy.target">
    <mat-form-field *ngSwitchCase="'commit'">
      <mat-label>Commit message</mat-label>
      <textarea matInput name="commit" [(ngModel)]="pushStrategy.message"></textarea>
    </mat-form-field>

    <ng-container *ngSwitchCase="'branch'">
      <mat-form-field>
        <mat-label>Branch name</mat-label>
        <input matInput name="branch" [(ngModel)]="pushStrategy.branch" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Commit message</mat-label>
        <textarea matInput name="commit" [(ngModel)]="pushStrategy.message"></textarea>
      </mat-form-field>
    </ng-container>

    <mat-form-field *ngSwitchCase="'repo'">
      <mat-label>Repository name</mat-label>
      <input matInput name="repo" [(ngModel)]="pushStrategy.repo" />
    </mat-form-field>
  </ng-container>
  <div class="actions">
    <button mat-button (click)="context = 'pull'; clearPushStrategy()">
      <mat-icon>
        clear
      </mat-icon>
      Cancel
    </button>
    <button mat-button (click)="complete()">
      <mat-icon>
        done
      </mat-icon>
      Confirm
    </button>
  </div>
</ng-container>

<ng-template #pullDialogTemplate let-answer="answer">
  <p>
    This action may overwrite your functions.
  </p>
  <p>
    Please confirm this action to continue.
  </p>
</ng-template>
