@import "~@angular/material/theming";
@include mat-core();

$primary: mat-palette($mat-gray, 900, 500, 700);
$primary-for-dark: mat-palette($mat-gray, 900, 100, 700, 100);
$accent: mat-palette($mat-amber, A200, A100, A400);

$app-light-theme: mat-light-theme($primary, $accent);
$app-dark-theme: mat-dark-theme($primary-for-dark, $accent);

@mixin vars($theme, $tone) {
  --tone-diff: #{$tone};
  @each $colorName, $colorMap in $theme {
    @if type-of($colorMap) == "map" {
      @each $colorKey, $colorValue in $colorMap {
        @if type-of($colorValue) == "color" {
          --#{$colorName}-#{$colorKey}: #{$colorValue};
          --#{$colorName}-#{$colorKey}-rgb: #{red($colorValue)}, #{green($colorValue)},
            #{blue($colorValue)};
        }
      }
    }
  }
}

html {
  font-size: 14px;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  * {
    box-sizing: border-box;
  }
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    background: #fff;
  }
  &::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #9d9d9d;
  }
}

:root {
  &:not(.dark) {
    @include angular-material-theme($app-light-theme);
    @include vars($app-light-theme, 0.6);
  }
  &.dark {
    @include angular-material-theme($app-dark-theme);
    @include vars($app-dark-theme, 0);
    .mat-input-element {
      color: white;
    }
  }
}

mat-card {
  &.mat-elevation-z25 {
    box-shadow: 0 4px 16px rgba(var(--primary-default-rgb), 0.07);
  }
  mat-card-actions {
    margin: 0px !important;
    padding: 0px !important;
    display: flex !important;
    justify-content: flex-end;
    .save-button {
      mat-icon {
        margin-right: 5px;
      }
      mat-progress-spinner {
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
}

mat-form-field {
  .mat-form-field-outline {
    background: rgba(var(--background-app-bar-rgb), calc(0.22 + var(--tone-diff)));
    border-radius: 5px;
    top: 0.75em !important;
    > * {
      visibility: hidden;
    }
  }
  .mat-form-field-label {
    top: 2.14375em !important;
  }
  &.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float {
    .mat-form-field-label {
      transform: translateY(-1.89375em) scale(0.75) !important;
    }
  }
}

:root:not(.dark) {
  mat-toolbar {
    background-color: #fafafa !important;
  }
}

$custom-typography: mat-typography-config(
  $subheading-2: mat-typography-level(1rem, 1.5rem, 700),
  $body-1: mat-typography-level(1rem, 1.5rem, 500)
);

@include mat-core($custom-typography);

.ng-tooltip {
  position: absolute;
  max-width: 250px;
  font-size: 13px;
  text-align: center;
  color: #f8f8f2;
  padding: 6px;
  background: rgba(97, 97, 97, 0.9);
  border-radius: 4px;
  z-index: 1000;
  opacity: 0;
}

.ng-tooltip:after {
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: transparent;
}

.ng-tooltip-show {
  opacity: 1;
}

.ng-disabled-button {
  opacity: 0.3 !important;

  // remove hover effect
  span.mat-button-focus-overlay {
    background: unset !important;
  }
}
button[color="warn"] {
  color: var(--warn-500) !important;
  &:disabled {
    opacity: 0.7;
  }
}

.ng-disabled-button:hover {
  cursor: not-allowed;
}

table.striped tr:nth-child(even) td {
  background-color: rgba(var(--background-background-rgb), 1) !important;
}

mat-table.striped mat-row:nth-child(even) {
  background-color: rgba(var(--background-background-rgb), 1) !important;
}
.mat-menu-panel {
  min-width: 180px !important;
}

.minimal-input-placer {
  > mat-form-field {
    .mat-form-field-wrapper {
      padding: 0px !important;
      margin: 0px !important;

      .mat-form-field-hint-wrapper,
      .mat-form-field-label {
        display: none;
      }
    }
  }
}
