@import "~@angular/material/theming";
@include mat-core();

$primary: mat-palette($mat-gray, 900, 500, 700);
$accent: mat-palette($mat-amber, A200, A100, A400);

$app-light-theme: mat-light-theme($primary, $accent);
$app-dark-theme: mat-dark-theme($primary, $accent);

@mixin vars($theme, $tone) {
  --tone-diff: #{$tone};
  @each $colorName, $colorMap in $theme {
    @if type-of($colorMap) == "map" {
      @each $colorKey, $colorValue in $colorMap {
        @if type-of($colorValue) == "color" {
          --#{$colorName}-#{$colorKey}: #{$colorValue};
          --#{$colorName}-#{$colorKey}-rgb: #{red($colorValue)}, #{green($colorValue)},
            #{blue($colorValue)};
        }
      }
    }
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  * {
    box-sizing: border-box;
  }
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    background: #fff;
  }
  &::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #9d9d9d;
  }
}

:root {
  &:not(.dark) {
    @include angular-material-theme($app-light-theme);
    @include vars($app-light-theme, 0.6);
  }
  &.dark {
    @include angular-material-theme($app-dark-theme);
    @include vars($app-dark-theme, 0);
  }
}

/* Custom elevation */
.mat-elevation-z25 {
  box-shadow: 0 4px 16px rgba(var(--primary-default-rgb), 0.07);
}

.mat-form-field {
  &.mat-focused {
    .mat-form-field-infix {
      box-shadow: 3px 3px 5px var(--foreground-base-rgb) !important;
    }
  }
  .mat-form-field-flex {
    background: rgba(var(--background-app-bar-rgb), calc(0.22 + var(--tone-diff)));
    border-radius: 5px;
    .mat-form-field-infix {
      padding: 0.875em 0.75em !important;
      border: 0px;
    }
  }
  .mat-form-field-infix {
    .mat-form-field-label {
      transform: translate(0.75em, 0.4375em) scale(1);
    }
  }

  &.mat-form-field-should-float {
    .mat-form-field-infix {
      .mat-form-field-label {
        transform: translate(0.75em, -1.26em) scale(0.84375em) !important;
      }
    }
  }

  .mat-form-field-underline {
    opacity: 0 !important;
  }
}
