::ng-deep .identity-filter-menu {
  max-width: unset !important;
  width: 380px;
  .mat-menu-content {
    width: 100%;
    padding: 30px 0 20px !important;
    mat-form-field {
      width: 80%;
      margin: 0 10%;

      .mat-form-field-infix {
        width: 300px;
      }
    }
    .filter-buttons {
      display: flex;
      justify-content: center;
    }
  }
}

:host {
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  mat-card {
    transition: width 1s;
    display: inline-block;
    width: calc(100% - 60px);
    margin: 30px;
    margin-top: -85px;
    overflow: auto;

    table {
      min-width: 100%;
      width: max-content;
      .select {
        width: 75px;
      }
      th:not(.select):not(:last-of-type) {
        position: relative;
        &:after {
          content: "||";
          position: absolute;
          right: 10px;
          top: 10px;
        }
      }
      tr {
        height: 40px !important;
        > th:last-of-type {
          padding-right: 35px;
        }
        > *:last-of-type {
          text-align: right;
        }
      }

      td.mat-cell {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 0;
      }
    }
  }

  div.actions {
    max-width: 100%;
    align-self: flex-end;
    overflow-x: scroll;

    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }
}
