<img src="assets/dark-icon.svg" />

<mat-card class="mat-elevation-z25">
  <mat-card-content>
    <form #form="ngForm">
      <mat-error *ngIf="error">{{ error }}</mat-error>
      <mat-form-field>
        <mat-icon matPrefix>perm_identity</mat-icon>
        <input
          matInput
          type="text"
          name="identifier"
          placeholder="Username"
          autocomplete="username"
          minlength="3"
          required
          [(ngModel)]="identity.identifier"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-icon matPrefix>vpn_key</mat-icon>
        <input
          matInput
          name="password"
          type="password"
          placeholder="Password"
          autocomplete="current-password"
          minlength="3"
          required
          [(ngModel)]="identity.password"
          (keyup.enter)="identify()"
        />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      *ngFor="let strategy of strategies | async"
      mat-stroked-button
      color="primary"
      [matTooltip]="strategy.title"
      (click)="identify(strategy)"
    >
      <mat-icon>{{ strategy.icon }}</mat-icon>
      {{ strategy.title }}
    </button>
    <span class="space-between"></span>
    <button
      mat-raised-button
      type="submit"
      color="primary"
      (click)="identify()"
      [disabled]="form.invalid"
    >
      Login
    </button>
  </mat-card-actions>
</mat-card>
