build --disk_cache=/var/cache/spica/disk_cache
build --repository_cache=/var/cache/spica/bazel_repository_cache

build --noshow_loading_progress
build --show_progress_rate_limit 5


build --local_ram_resources=16000
build --local_cpu_resources=8

build --announce_rc

# More details on failures
build --verbose_failures=true

# Be more noisy when running under ci
test --test_output=errors

# Do not run in worker mode
build --strategy=TypeScriptCompile=standalone

# Cache tests under ci
test --cache_test_results

# Database worker
build --strategy=DatabaseCompile=worker