:host {
  .drag-list {
    list-style-type: none;
    padding: 0;
  }

  .drag-list li {
    display: table-cell;
    padding: 4px;
  }

  .drag-container {
    margin: 30px;
    margin-top: -110px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .drag-box {
    margin: 0 15px;
    cursor: move;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  }

  .drag-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
    opacity: 0.6;
  }

  .cdk-drop-list {
    display: flex;
    padding-bottom: 30px;
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cdk-drag-placeholder {
    opacity: 0.3;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  mat-toolbar {
    min-height: 250px;
    padding: 0 30px;
    align-items: flex-start;
    .space-between {
      flex: 1 1 auto;
    }
    span:first-of-type {
      h4 {
        & > * {
          vertical-align: middle;
          display: inline-block;
        }
        mat-icon {
          margin-left: -3px;
        }
        span {
          margin-left: 5px;
        }
      }
      h6 {
        font-size: 14px;
      }
    }
  }

  mat-card {
    width: 280px;
    height: 180px;
    float: left;
    user-select: none;
    mat-card-title {
      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: capitalize;
        font-size: 20px;
      }
      width: 255px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      .space-between {
        flex: 1 1 auto;
      }
    }
    mat-card-content p {
      height: 68px;
      overflow-wrap: break-word;
      overflow: hidden;
    }
    .mat-card-actions {
      position: absolute;
      bottom: 10px;
    }
  }
}
