::ng-deep {
  .bucket-card {
    user-select: none;
    display: flex;
    width: 100%;
    box-shadow: unset !important;
    height: auto;
    align-items: center;
    justify-content: space-between;
    background: transparent !important;
    flex-direction: row;
    padding: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    .bucket-title {
      transition: margin 500ms;
      flex-direction: column;
      width: 200px;
      margin-bottom: 5px;
      display: flex;

      &:focus {
        outline: none;
      }

      > div {
        display: flex;
        align-items: center;
        span {
          font-size: 1rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-transform: capitalize;
        }
      }
      small {
        width: 100%;
        opacity: 0.8;
        margin-top: 5px;
        font-size: 0.7rem;
      }
    }
    .active-bucket {
      transition: margin 500ms;
      margin-left: 10px;
    }
  }
}

:host {
  .drag-list {
    list-style-type: none;
    padding: 0;
  }

  .drag-list li {
    display: table-cell;
    padding: 4px;
  }

  .drag-container {
    margin: 30px;
    margin-top: -85px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .drag-box {
    cursor: pointer;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  }

  .drag-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
    opacity: 0.6;
  }

  .cdk-drop-list {
    display: block;
    width: 100%;
    padding-bottom: 5px;
    background: transparent !important;

    div.actions {
      .drag-button {
        cursor: move !important;
      }
    }
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cdk-drag-placeholder {
    opacity: 0.3;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  mat-toolbar {
    min-height: 250px;
    padding: 0 30px;
    align-items: flex-start;
    flex-direction: column;
    span:first-of-type {
      h4 {
        & > * {
          vertical-align: middle;
          display: inline-block;
        }
        mat-icon {
          margin-left: -3px;
        }
        span {
          margin-left: 5px;
        }
      }
      h6 {
        font-size: 14px;
      }
    }

    div.actions {
      align-self: flex-end;
      margin-top: 50px;
      .drag-button {
        cursor: move !important;
      }
    }
  }
}
