<div class="container" [class.open]="selected.name != null">
  <div
    class="back-button"
    *ngIf="selected.name != null && selected.color != null && selected.font == null"
  >
    <button mat-icon-button (click)="selected.color = null"><mat-icon>arrow_back</mat-icon></button>
  </div>
  <div class="enter">
    <div [class.warn]="warning">
      <input type="text" [(ngModel)]="selected.name" placeholder="What's your Startup's Name?" />
      <p *ngIf="selected.name != null">What're You Making Today?</p>
    </div>
  </div>
  <div class="items" *ngIf="selected.name != null && selected.color == null">
    <div
      class="item"
      *ngFor="let color of colors; let i = index"
      (click)="selected.name ? (selected.color = color) : warn()"
      [style.animation-delay]="i / 10 + 0.5 + 's'"
    >
      <div class="circles">
        <div [style.backgroundColor]="color.colors['background']"></div>
        <div [style.backgroundColor]="color.colors['primary']"></div>
        <div [style.backgroundColor]="color.colors['secondary-text']"></div>
      </div>
      <h5>
        {{ color.names["background"] | uppercase }}, {{ color.names["primary"] | uppercase }},
        {{ color.names["secondary-text"] | uppercase }}
      </h5>
    </div>
  </div>
  <div
    class="items"
    *ngIf="selected.name != null && selected.font == null && selected.color != null"
  >
    <div
      class="item twin"
      *ngFor="let f of fonts; let i = index"
      [style.font-family]="f.name"
      (click)="selected.name ? (selected.font = f) : warn(); closeDialog()"
      [style.animation-delay]="i / 10 + 0.5 + 's'"
    >
      <link [attr.href]="sanitizer.bypassSecurityTrustResourceUrl(f.src)" rel="stylesheet" />
      <h4>{{ f.name }}</h4>
      <p class="font-p">
        Select {{ f.name }} if you want your website to have a kind and pleasant personality.
      </p>
    </div>
  </div>
</div>
