:host {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  overflow: auto;
  z-index: 9;
  top: 0;
  left: 0;
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 780px;
    margin: auto;
    width: 100%;
    height: 100%;
    .back-button {
      color: var(--accent-500);
      position: absolute;
      top: 0;
      left: 0;
      button {
        background: unset;
        border: none;
        outline: none;
        cursor: pointer;
        &:hover {
          color: var(--foreground-text);
        }
        &:active {
          border: none;
        }
      }
    }

    .warn {
      animation: shake 1s !important;
    }
    .enter {
      width: 100%;
      animation-fill-mode: forwards !important;
      text-align: center;
      p {
        font-weight: bold;
        font-size: 13px;
        color: rgb(173, 173, 173);
      }
      input {
        animation: coming 0.5s;
        margin-bottom: 30px;
        width: 100%;
        background-color: unset;
        text-align: center;
        font-weight: bold;
        border: none;
        font-size: 46px;
        outline: none;
        &::placeholder {
          font-weight: 500;
          color: rgb(134, 134, 134);
        }
      }

      @keyframes app-creator_shake {
        0% {
          transform: translate(1px, 1px) rotate(0deg);
        }
        10% {
          transform: translate(-1px, -2px) rotate(-1deg);
        }
        20% {
          transform: translate(-3px, 0px) rotate(1deg);
        }
        30% {
          transform: translate(3px, 2px) rotate(0deg);
        }
        40% {
          transform: translate(1px, -1px) rotate(1deg);
        }
        50% {
          transform: translate(-1px, 2px) rotate(-1deg);
        }
        60% {
          transform: translate(-3px, 1px) rotate(0deg);
        }
        70% {
          transform: translate(3px, 1px) rotate(-1deg);
        }
        80% {
          transform: translate(-1px, -1px) rotate(1deg);
        }
        90% {
          transform: translate(1px, 2px) rotate(0deg);
        }
        100% {
          transform: translate(1px, -2px) rotate(-1deg);
        }
      }

      @keyframes app-creator_coming {
        0% {
          transform: translateY(50px);
          opacity: 0;
        }
        50% {
          opacity: 0;
        }
      }
      @keyframes app-creator_hover {
        0% {
          transform: translateY(0px);
          opacity: 1;
        }

        100% {
          transform: translate3d(0, -3px, 0);
          box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.2);
          opacity: 1;
        }
      }
      @keyframes app-creator_coming-big {
        0% {
          transform: translateY(500px);
        }
      }
      @keyframes app-creator_item-coming {
        0% {
          opacity: 0;
          transform: translateY(100px);
        }
        100% {
          pointer-events: all;
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    .items {
      transition-duration: 1s;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      margin-top: 30px;

      .disabled-div {
        pointer-events: none !important;
        cursor: pointer;
        &:hover {
          cursor: pointer;
          pointer-events: none !important;
          transform: translateY(-3px);
          transition: 0;
          box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.2);
          opacity: 1;
          animation-fill-mode: unset !important;
        }
      }

      .item {
        pointer-events: none;
        width: calc(33.33% - 10px);
        padding: 30px 45px;
        box-sizing: border-box;
        background: #f7f9fa;
        text-align: center;
        margin-bottom: 15px;
        opacity: 0;
        border-radius: 3px;
        transform: translateY(100px);
        animation: item-coming 0.5s;
        animation-fill-mode: both;
        cursor: pointer;
        &:hover {
          pointer-events: all;
          transform: translateY(-3px);
          transition: 0;
          box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.2);
          opacity: 1;
          animation-fill-mode: unset !important;
        }
        .circles {
          display: flex;
          justify-content: center;
          padding: 30px 0px 10px 30px;
          div {
            box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
            margin-left: -30px;

            width: 50px;
            height: 50px;
            border-radius: 100%;
          }
        }
        h5 {
          font-weight: 300;
          color: var(--accent-a900);
        }
        &.twin {
          width: calc(50% - 10px);
          h4 {
            font-size: 56px;
            margin: 10px 0;
          }
          .font-p {
            font-size: 18px;
            line-height: 1.7;
            font-weight: 400;
            color: #8e8e8e;
          }
        }
      }
    }

    &.open {
      align-content: flex-start;
      .enter {
        animation: coming-big 0.5s;
        margin-top: 50px;
        input {
          font-size: 19px;
          margin: 0;
        }
      }
    }
  }
}
