<div
  class="container"
  (mousemove)="onMouseMove($event)"
  (mouseup)="onMouseUp()"
  [class.with-sidecar]="enableLogView"
>
  <div class="code">
    <div class="code-actions">
      <div class="title">
        <mat-icon>code</mat-icon>
        <h4>{{ function.name }}</h4>
      </div>

      <div class="separator"></div>

      <div class="actions">
        <button mat-icon-button (click)="openEditDialog()" matTooltip="Edit">
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="switchToFullscreen()"
          [matTooltip]="onFullScreen ? 'Disable Fullscreen' : 'Enable Fullscreen'"
        >
          <mat-icon>{{ onFullScreen ? "fullscreen_exit" : "fullscreen" }}</mat-icon>
        </button>
        <button mat-icon-button (click)="language.format()" matTooltip="Format">
          <mat-icon>format_align_center</mat-icon>
        </button>
        <span class="last-saved" *ngIf="$indexSave | async; let lastSaved">
          <mat-label *ngIf="lastSaved != 'inprogress'">
            Last saved: {{ lastSaved | date: "mediumTime" }}
          </mat-label>
          <mat-progress-spinner
            [style.opacity]="lastSaved == 'inprogress' ? 1 : 0"
            color="primary"
            mode="indeterminate"
            [diameter]="18"
            color="accent"
          >
          </mat-progress-spinner>
        </span>
        <button
          *ngIf="!onFullScreen"
          class="hide-show-info"
          mat-icon-button
          (click)="onInfoViewSelectionChange()"
          [matTooltip]="enableInfoView ? 'Hide Options' : 'Show Options'"
        >
          <mat-icon>
            {{ enableInfoView ? "chevron_right" : "chevron_left" }}
          </mat-icon>
        </button>
      </div>
    </div>
    <code-editor
      class="editor"
      (save)="updateIndex()"
      name="code"
      [(ngModel)]="index"
      [options]="editorOptions"
      #language="language"
      [language]="function.language"
      [dependencies]="dependencies | async"
      (handlers)="onHandlersEmitted($event)"
    >
    </code-editor>
    <div class="resize-cursor" (mousedown)="onMouseDown()"></div>
    <div class="footer-bar">
      <button mat-button canInteract="function:logs:index" (click)="onLogViewSelectionChange()">
        <mat-icon>{{ enableLogView ? "expand_more" : "expand_less" }}</mat-icon>
        Logs
      </button>
      <div class="sidecar-log-view" *ngIf="enableLogView">
        <log-view
          [height$]="logViewHeight$"
          [functionId$]="selectedFunctionId"
          [realtimeConnectionTime]="realtimeConnectionTime"
        ></log-view>
      </div>
    </div>
  </div>
  <div class="info">
    <form #form="ngForm" (keydown.enter)="$event.preventDefault()">
      <mat-list>
        <h4 mat-subheader (click)="sections.triggers = !sections.triggers">
          <mat-icon>{{ sections.triggers ? "expand_more" : "chevron_right" }}</mat-icon> Triggers
          <mat-error *ngIf="serverError">
            {{ serverError }}
          </mat-error>
        </h4>
        <mat-divider></mat-divider>
        <div [class.hidden]="!sections.triggers">
          <ng-container *ngFor="let trigger of function.triggers; let i = index" [ngModelGroup]="i">
            <div
              class="trigger-explanation"
              *ngIf="information | async; let information"
              [class.error]="!trigger.handler"
            >
              <ng-container *ngIf="information.enqueuers | enqueuer: trigger.type; let enqueuer">
                <span (click)="triggersEditMode[i] = !triggersEditMode[i]">
                  <mat-icon>{{ triggersEditMode[i] ? "expand_more" : "chevron_right" }}</mat-icon>
                  {{ trigger.handler }}
                </span>
                <div class="actions">
                  <mat-slide-toggle
                    name="status"
                    [(ngModel)]="trigger.active"
                    labelPosition="before"
                  >
                    {{ trigger.active ? "Active" : "Deactive" }}
                  </mat-slide-toggle>
                  <mat-icon matToolTip="Show the example code" (click)="showExample(trigger)"
                    >contact_support</mat-icon
                  >

                  <mat-icon
                    color="warn"
                    [disabled]="function.triggers.length == 1"
                    (click)="deleteTrigger(i)"
                    >delete
                  </mat-icon>
                </div>
              </ng-container>
            </div>
            <mat-list-item class="triggers" [class.hidden]="!triggersEditMode[i]">
              <ng-container *ngIf="information | async; let information">
                <mat-form-field>
                  <mat-label>Handler</mat-label>
                  <mat-select
                    name="handler"
                    #handlerModel="ngModel"
                    placeholder="Handler"
                    [(ngModel)]="trigger.handler"
                    required
                  >
                    <mat-option
                      *ngFor="let handler of handlers"
                      class="mat-accent"
                      [value]="handler"
                      [disabled]="isHandlerInUse(handler)"
                    >
                      {{ handler }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="handlerModel.errors?.required">
                    This field is required.
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Type</mat-label>
                  <mat-select
                    #typeModel="ngModel"
                    name="type"
                    [(ngModel)]="trigger.type"
                    (ngModelChange)="trigger.options = {}"
                    required
                  >
                    <mat-select-trigger
                      *ngIf="information.enqueuers | enqueuer: trigger.type; let enqueuer"
                    >
                      <mat-icon>{{ enqueuer.description.icon }}</mat-icon>
                      <mat-label>{{ enqueuer.description.title }}</mat-label>
                    </mat-select-trigger>
                    <mat-option
                      *ngFor="let enqueuer of information.enqueuers"
                      [value]="enqueuer.description.name"
                    >
                      <mat-icon>{{ enqueuer.description.icon }}</mat-icon>
                      <mat-label>
                        <span>{{ enqueuer.description.title }}</span> —
                        <small class="mat-small">{{ enqueuer.description.description }}</small>
                      </mat-label>
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="typeModel.errors?.required"
                    >You must select an enqueuer.</mat-error
                  >
                </mat-form-field>
                <ng-container
                  ngModelGroup="triggerOptions"
                  *ngIf="
                    (information.enqueuers | enqueuer: trigger.type)?.options
                      | conditionalSchema: trigger.options;
                    let options
                  "
                >
                  <span
                    *ngFor="let propertyKv of options.properties | keyvalue"
                    [inputPlacer]="propertyKv.value"
                    [(ngModel)]="trigger.options[propertyKv.key]"
                    [name]="propertyKv.key"
                    [required]="options.required?.indexOf(propertyKv.key) > -1"
                  >
                  </span>
                  <span
                    *ngIf="trigger.type == 'http'"
                    class="http-url"
                    #urlSpan
                    #clipboard="matClipboard"
                    [matClipboard]="urlSpan.textContent"
                    [matTooltip]="clipboard.toolTip"
                  >
                    <ng-container *ngIf="clipboard.icon == 'check'">
                      Copied!
                    </ng-container>
                    <ng-container *ngIf="clipboard.icon != 'check'">
                      {{ apiUrl + "/fn-execute" + trigger.options.path }}
                    </ng-container>
                  </span>
                </ng-container>
              </ng-container>
            </mat-list-item>
          </ng-container>
          <button type="button" mat-button class="new-trigger" (click)="addTrigger()">
            <mat-icon>add</mat-icon>Add New Trigger
          </button>
        </div>

        <ng-container *ngIf="function?._id" ngModelGroup="dependencies">
          <h4 mat-subheader (click)="sections.dependencies = !sections.dependencies">
            <mat-icon>{{ sections.dependencies ? "expand_more" : "chevron_right" }}</mat-icon>
            Dependencies
            <span></span>
            <mat-progress-spinner
              *ngIf="dependencyInstallPending"
              matSuffix
              diameter="18"
              mode="indeterminate"
              color="accent"
            >
            </mat-progress-spinner>
          </h4>
          <mat-divider></mat-divider>
          <div [class.hidden]="!sections.dependencies">
            <mat-list-item
              class="dependency"
              *ngFor="let dependency of dependencies | async; let index = index"
            >
              <div>
                <span class="name">{{ dependency.name }}</span>
                <span class="seperator">@</span>
                <span class="version">{{ dependency.version }}</span>
              </div>
              <div>
                <button
                  type="button"
                  mat-icon-button
                  matTooltip="Update to latest version"
                  (click)="addDependency(dependency.name + '@latest')"
                  [disabled]="dependencyInstallPending"
                >
                  <mat-icon>refresh</mat-icon>
                </button>
                <button
                  type="button"
                  mat-icon-button
                  matTooltip="Remove this package"
                  color="warn"
                  (click)="deleteDependency(dependency.name)"
                  [disabled]="dependencyInstallPending"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </mat-list-item>
            <mat-list-item class="add-dependency">
              <mat-form-field>
                <mat-label>Dependency name</mat-label>
                <input
                  matInput
                  placeholder="Dependency name"
                  (keyup.enter)="addDependency(dependencyModel.value); dependencyModel.reset()"
                  name="dependencyName"
                  required
                  #dependencyModel="ngModel"
                  ngModel
                  [ngModelOptions]="{standalone: true}"
                  [disabled]="dependencyInstallPending"
                  canInteract="function:update"
                  [resource]="function._id"
                />

                <mat-error *ngIf="dependencyModel?.errors?.required">
                  This field is required.
                </mat-error>
                <button
                  mat-button
                  class="add-dependency-button"
                  (click)="addDependency(dependencyModel.value); dependencyModel.reset()"
                >
                  <mat-icon>add</mat-icon>
                </button>
              </mat-form-field>
            </mat-list-item>
          </div>
        </ng-container>

        <h4 mat-subheader (click)="sections.envs = !sections.envs">
          <mat-icon>{{ sections.envs ? "expand_more" : "chevron_right" }}</mat-icon> Environment
          Variables
        </h4>
        <mat-divider></mat-divider>
        <div [class.hidden]="!sections.envs">
          <mat-list-item
            *ngFor="let env of function.env; let index = index"
            [ngModelGroup]="index"
            class="environment"
          >
            <span class="left">
              <div class="env-display" *ngIf="!envsEditMode[index]">
                <span>{{ env.key }}</span
                >=<span>{{ env.value }}</span>
              </div>
              <form #envForm="ngForm">
                <ng-container *ngIf="envsEditMode[index]">
                  <mat-form-field>
                    <mat-label>Key</mat-label>
                    <input
                      (keyup.enter)="switchEnvEditMode(index)"
                      matInput
                      placeholder="Key"
                      [(ngModel)]="env.key"
                      name="key"
                      required
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Value</mat-label>
                    <textarea
                      (keyup.enter)="switchEnvEditMode(index)"
                      matInput
                      placeholder="Value"
                      [(ngModel)]="env.value"
                      name="value"
                      rows="1"
                      required
                    ></textarea>
                  </mat-form-field>
                </ng-container>
              </form>
            </span>
            <span class="right">
              <ng-container *ngIf="!envsEditMode[index]">
                <button mat-icon-button (click)="switchEnvEditMode(index)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteEnvironment(index)">
                  <mat-icon>delete</mat-icon>
                </button>
              </ng-container>
              <ng-container *ngIf="envsEditMode[index]">
                <button
                  [disabled]="envForm.invalid"
                  mat-icon-button
                  (click)="switchEnvEditMode(index)"
                >
                  <mat-icon>done</mat-icon>
                </button>
              </ng-container>
            </span>
          </mat-list-item>

          <button type="button" mat-button class="new-trigger" (click)="addVariable()">
            <mat-icon>add</mat-icon>Add New Environment Variable
          </button>
        </div>
      </mat-list>
      <button
        class="save-button"
        mat-button
        *matSave="$save | async; let state"
        [disabled]="form.invalid || !!state || isIndexPending"
        [canInteract]="function._id ? 'function:update' : 'function:create'"
        [resource]="function._id ? function._id : undefined"
        (click)="save()"
        [ngSwitch]="state"
      >
        <mat-icon *ngSwitchDefault>save</mat-icon>
        <mat-progress-spinner
          *ngSwitchCase="'saving'"
          [diameter]="18"
          color="accent"
          mode="indeterminate"
        >
        </mat-progress-spinner>
        <mat-icon *ngSwitchCase="'saved'">done</mat-icon>
        <mat-icon *ngSwitchCase="'failed'">clear</mat-icon>
        <span>{{ (!state ? "save" : state) | titlecase }}</span>
      </button>
    </form>
  </div>
</div>
