:host {
  .hidden {
    display: none !important;
  }
  .with-sidecar {
    .footer-bar {
      align-items: flex-start !important;
      height: 410px !important;
    }
  }
  code-editor {
    flex: 1;
  }

  mat-progress-spinner {
    display: inline-block;
  }
  .container {
    display: flex;
    height: calc(100vh - 64px);
    overflow: hidden;
    .info {
      position: absolute;
      right: 0;

      width: 400px;
      height: calc(100vh - 64px);
      overflow: auto;

      transition: all 0.5s ease-in-out;

      form {
        height: 100%;
      }
    }

    .info-hidden {
      transform: translateX(100%);
    }

    .code {
      flex: 1;
      display: flex;
      flex-direction: column;
      max-width: calc(100% - 400px);
      transition: all 0.5s ease-in-out;
      .code-actions {
        margin: 0px;
        align-items: center;
        display: flex;
        border-bottom: 5px solid rgba(var(--background-app-bar-rgb), calc(0.41 + var(--tone-diff)));
        > div.separator {
          flex: 1;
          height: 100%;
        }
        > *:not(.title) {
          border-bottom: 1px solid rgba(var(--foreground-base-rgb), 0.1);
        }
        .title {
          background: rgba(var(--background-app-bar-rgb), calc(0.41 + var(--tone-diff)));
          align-items: center;
          display: flex;
          height: 100%;
          padding: 0 30px;
          border-right: 1px solid rgba(var(--foreground-base-rgb), 0.1);
          > mat-icon {
            margin-right: 5px;
            color: var(--foreground-disabled);
          }
          h4 {
            margin: 0;
          }
        }

        span.repo-response {
          font-size: 13px !important;
          font-weight: normal !important;
        }

        mat-spinner {
          display: inline-block;
        }

        button.repo-branch {
          &:hover + button.disconnect {
            display: inline-block;
          }
        }

        button.disconnect {
          margin-left: -10px !important;
          display: none;
        }

        button.disconnect:hover {
          display: inline-block;
        }

        .actions {
          max-width: 100%;
          align-items: center;
          display: flex;
          padding: 5px 10px 5px 0px;
        }
      }
    }

    .code-expanded {
      max-width: 100%;
    }

    .resize-cursor {
      width: 100%;
      height: 5px;
      cursor: row-resize;
    }

    .footer-bar {
      height: 42px;
      display: flex;
      align-items: center;
      border-top: 1px solid rgba(var(--foreground-base-rgb), 0.1);
      padding-top: 2px;
      position: relative;
      button {
        z-index: 10;
      }
    }
  }

  mat-list {
    padding-top: 10px;
    border-left: 1px solid rgba(var(--foreground-base-rgb), 0.1);
    height: calc(100% - 41px);
    overflow: auto;
    mat-divider {
      width: 100% !important;
      margin-top: 0px 0px 15px 0px;
      position: relative !important;
    }

    h4[mat-subheader] {
      display: flex;
      cursor: pointer;
      span:first-of-type {
        flex: 1;
      }
      span.last-saved {
        display: block;
        text-align: right;
        mat-label {
          height: 20px;
          font-size: 12px;
          text-align: right;
          display: inline-block;
        }
        mat-progress-spinner {
          vertical-align: middle;
          margin-left: 5px;
          transition: opacity 0.5s ease-in-out;
        }
      }
      mat-error {
        margin-left: 10px;
      }
    }

    mat-list-item {
      height: auto !important;
      mat-form-field {
        mat-hint {
          mat-icon {
            font-size: 15px;
            cursor: help;
          }
        }
      }

      ::ng-deep .mat-list-item-content {
        display: block !important;
        padding-bottom: 15px !important;
        padding-top: 25px !important;
      }

      &.describe {
        display: flex;
        flex-direction: column;
        .name {
          margin-top: 0px;
        }
        .description,
        .name {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: space-between;
          mat-icon {
            margin-right: 8px;
            font-size: 1.25rem;
            width: 1.25rem;
            height: 1.25rem;
          }
          b {
            margin-right: 5px;
          }
        }
        mat-form-field {
          width: 100%;
          margin-bottom: 20px;
        }
        .timeout {
          width: 100%;
          mat-slider {
            width: 100%;
          }
        }
        /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
        /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
        mat-select {
          /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
          mat-select-trigger {
            > * {
              vertical-align: middle;
            }
            svg {
              height: 24px;
              margin-top: -4px;
            }
          }
        }
      }

      &.dependency {
        ::ng-deep .mat-list-item-content {
          display: flex !important;
          justify-content: space-between;
          padding-top: 0px !important;
          padding-bottom: 0px !important;
        }
        span.seperator {
          font-weight: 100;
          padding: 0 2px;
        }
      }

      &.add-dependency {
        ::ng-deep .mat-list-item-content {
          padding-top: 0px !important;
          padding-bottom: 0px !important;
        }
        mat-form-field {
          width: 100%;
        }
      }

      &.triggers {
        display: inline-table;
        border: 1px solid rgba(var(--foreground-base-rgb), 0.1);
        border-radius: 5px;
        padding: 0px;
        margin: 24px 10px 10px 10px;
        width: calc(100% - 20px);

        span.http-url {
          width: 340px;
          overflow-x: auto;
          overflow-y: hidden;
          white-space: nowrap;

          position: relative;
          z-index: 1;
          margin-top: -40px;
          font-size: 11px;
          float: right;
          text-align: end;
          cursor: copy;

          -ms-overflow-style: none; /* Internet Explorer 10+ */
          scrollbar-width: none; /* Firefox */
        }

        span.http-url::-webkit-scrollbar {
          display: none; /* Safari and Chrome */
        }

        ::ng-deep .input-placer-input {
          width: 100%;
        }
        mat-form-field {
          width: 100%;
          /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
          /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
          mat-select {
            /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
            mat-select-trigger {
              & > * {
                vertical-align: middle;
              }
              mat-label {
                padding-left: 10px;
              }
            }
          }
        }

        &:before {
          content: "";
          position: absolute;
          top: -13px;
          left: 24px;
          width: 24px;
          height: 24px;
          border-top-left-radius: 5px;
          border-top: 1px solid rgba(var(--foreground-base-rgb), 0.1);
          border-left: 1px solid rgba(var(--foreground-base-rgb), 0.1);
          transform: rotateZ(45deg);
          background: var(--background-background);
        }
      }

      &.environment {
        ::ng-deep .mat-list-item-content {
          margin: 0px 16px !important;
          padding: 12px 0px !important;

          display: flex !important;
          align-items: center;
          justify-content: space-between;

          border-bottom: 1px solid rgba(var(--foreground-base-rgb), 0.1);
        }

        span.left {
          width: 75%;

          div.env-display {
            display: flex;
            flex-wrap: wrap;

            > span {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          form > mat-form-field {
            width: 100%;
            /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
            ::ng-deep .mat-form-field-wrapper {
              padding-bottom: 0px !important;
            }
          }

          > *:not(:last-of-type) {
            margin-bottom: 10px;
          }
        }

        span.right {
          width: 20%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      &.optional-settings {
        div {
          width: 100%;
          margin-bottom: 15px;
        }
        .setting {
          mat-slide-toggle {
            margin-bottom: 20px;
          }
          mat-form-field {
            width: 100%;
          }
        }
      }
    }

    .trigger-explanation {
      padding: 5px 16px 5px 26px;
      display: flex;
      justify-content: space-between;
      span {
        cursor: pointer;
        display: flex;
        align-items: center;
      }
      .actions {
        cursor: pointer;
        display: flex;
        align-items: center;
        mat-icon {
          margin-left: 5px;
        }
      }
      &:first-of-type {
        padding-top: 15px;
      }

      &.error {
        color: var(--warn-default);
      }
    }

    .new-trigger {
      width: calc(100% - 32px);
      border-radius: 5px;
      margin: 16px;
    }
  }

  .sidecar-log-view {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: var(--background-background);
    ::ng-deep {
      mat-toolbar {
        h4 {
          display: none;
        }
        > div {
          margin-top: unset !important;
        }
        height: 40px;
        padding: 2px 0px !important;
        min-height: unset;
        justify-content: flex-start;
      }
      /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
      .mat-form-field-wrapper {
        margin-bottom: -1.25em;
      }
      .log-viewport {
        height: 290px;
      }
      /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
      mat-card {
        margin: unset;
        width: 100% !important;
        padding: 6px 16px;
      }
      mat-form-field {
        width: 25% !important;
      }
      mat-slide-toggle,
      mat-card-content {
        margin: 10px 0px 0px 0px !important;
      }
      mat-expansion-panel-header {
        padding: 5px !important;
      }
      .cdk-virtual-scroll-content-wrapper {
        .header {
          display: none !important;
        }
        div:first-of-type,
        mat-panel-title {
          font-size: 0.8rem !important;
          margin: 0px !important;
          padding-bottom: 0px !important;
          span:nth-child(1) {
            width: 10% !important;
            min-width: 150px;
          }
          span:nth-child(2) {
            width: 10% !important;
            min-width: 150px;
          }
          span:last-of-type {
            flex: 1;
          }
        }
      }
    }
  }

  .save-button {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    span {
      margin-left: 10px;
    }
  }
  .add-dependency-button {
    position: absolute;
    right: 0;
    bottom: 5px;
    cursor: pointer;
  }
}

.full-screen-code-actions {
  position: fixed !important;
  left: 0 !important;
  top: 0px !important;
  width: 100% !important;
  height: 46px !important;
  background: var(--background-card) !important;
  z-index: 1000 !important;
  .actions {
    padding: 0 10px 0 0 !important;
  }
}

.full-screen-code {
  position: fixed !important;
  left: 0 !important;
  top: 46px !important;
  width: 100% !important;
  height: calc(100vh - 440px) !important;
  background: var(--background-card) !important;
  z-index: 1000 !important;
}

.full-screen-log {
  position: fixed !important;
  left: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 400px !important;
  background: var(--background-card) !important;
  z-index: 1000 !important;
  margin: 0 !important;
  border-top: 1px solid rgba(var(--foreground-base-rgb), 0.1);
}
