.dashboardTable {
  height: 100%;
  width: 100%;
  background-color: var(--color-menu-background);

  .header {
    padding: var(--padding-xl);
    color: var(--font-color);
    font-size: var(--font-size-md);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
    border-bottom: 1px solid var(--color-border);
  }

  .content {
    flex: 1;
    overflow: auto;
    padding: var(--padding-md);
  }
}
