<section>
  <span>
    <h5 class="mat-h5 mat-hint">{{ schema.title || schema.$name }}</h5>
    <small class="mat-hint" *ngIf="schema.description">{{ schema.description }}</small>
  </span>
  <span>
    <mat-progress-spinner
      *ngIf="progress$ | async; let progress"
      diameter="40"
      mode="determinate"
      [value]="progress"
    ></mat-progress-spinner>
    <ng-content></ng-content>
    <button
      *ngIf="value || blob"
      mat-icon-button
      mat-flat-button
      [matTooltip]="!progress$ ? 'Clear storage object' : 'Stop'"
      (click)="clear()"
    >
      <mat-icon>clear_all</mat-icon>
    </button>
  </span>
</section>
<section storagePicker ngModel (ngModelChange)="pickFromStorage($event)">
  <ng-container *ngIf="blob || value">
    <mat-progress-bar *ngIf="view.ready == false" mode="indeterminate"></mat-progress-bar>
    <storage-view #view [blob]="blob || value"></storage-view>
    <mat-icon class="change">{{ isDraggingOver ? "save_alt" : "cached" }}</mat-icon>
  </ng-container>

  <div class="drop" *ngIf="!value && !blob">
    <mat-icon inline="true">save_alt</mat-icon>
    <small class="mat-small">Drag & Drop your file here</small>
  </div>
</section>
