<section>
  <span>
    <h5 class="mat-h5 mat-hint">{{ schema.title }}</h5>
    <small class="mat-hint" *ngIf="schema.description">{{ schema.description }}</small>
  </span>
  <span>
    <mat-progress-spinner
      *ngIf="progress$ | async; let progress"
      diameter="40"
      mode="determinate"
      [value]="progress"
    ></mat-progress-spinner>
    <ng-content></ng-content>
    <ng-container *ngIf="value || blob">
      <button
        storagePicker
        ngModel
        (ngModelChange)="pickFromStorage($event)"
        mat-icon-button
        mat-flat-button
        matTooltip="Edit"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        mat-flat-button
        [matTooltip]="!progress$ ? 'Clear' : 'Stop'"
        (click)="clear()"
      >
        <mat-icon>clear_all</mat-icon>
      </button>
    </ng-container>
  </span>
</section>
<section>
  <ng-container *ngIf="blob || value">
    <mat-progress-bar *ngIf="view.ready == false" mode="indeterminate"></mat-progress-bar>
    <storage-view
      #view
      [blob]="blob || value"
      matTooltip="View this object"
      (click)="openPreview(value || blob)"
      [controls]="false"
      [contentType]="blob?.content?.type"
    >
    </storage-view>
    <mat-icon color="accent" class="change">{{
      isDraggingOver ? "save_alt" : "center_focus_strong"
    }}</mat-icon>
  </ng-container>

  <div
    class="drop"
    *ngIf="!value && !blob"
    storagePicker
    ngModel
    (ngModelChange)="pickFromStorage($event)"
  >
    <mat-icon inline="true">save_alt</mat-icon>
    <small class="mat-small">Drag & Drop your file here</small>
  </div>
</section>
