:root.dark :host {
  --opacity: 0.5;
}

::ng-deep {
  .preview-object {
    position: relative !important;
    .mat-dialog-container {
      height: unset;
      padding: unset;
    }
  }
}

:host {
  --opacity: 1;
  display: inline-block;
  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
  }
  section {
    &:first-of-type {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      background: rgba(var(--background-app-bar-rgb), var(--opacity));
      padding: 10px 10px;
      span:last-of-type {
        display: flex;
        align-items: center;
        ::ng-deep > *:not(:last-child) {
          margin-right: 5px;
        }
      }
    }
    &:last-of-type {
      overflow: hidden;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      background: rgba(
        var(--background-app-bar-rgb),
        calc(var(--opacity) - calc(var(--opacity) / 2))
      );
      transition: filter 0.3s ease-in-out;
      filter: opacity(0.5);
      &:hover {
        filter: opacity(1);
        mat-icon.change {
          cursor: pointer;
          transform: rotate(180deg);
        }
      }

      storage-view {
        display: block;
        width: 100%;
        height: 300px;
      }

      mat-icon.change {
        position: absolute;
        left: calc(50% - 12px);
        top: calc(50% - 12px);
        transition: transform 0.3s ease-in-out;
        will-change: transform;
      }

      div.drop {
        display: flex;
        flex-flow: column;
        align-items: center;
        opacity: 0.6;
        padding: 10px 0;
        cursor: pointer;
        transition: opacity 0.3s ease-in-out;
        &:hover {
          opacity: 0.9;
          small {
            opacity: 1;
          }
        }
        mat-icon {
          font-size: 65px;
        }
        small {
          opacity: 0;
          margin-top: 5px;
          transition: opacity 0.3s ease-in-out;
        }
      }
    }
  }
}
