:host {
  display: inline-block;
  border-radius: 4px;
  overflow: hidden;
  section {
    &:first-child {
      padding: 10px;
      background: rgba(var(--background-hover-rgb), 0.07);
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    &:last-child {
      padding: 15px;
      background: rgba(var(--background-hover-rgb), 0.04);
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}
