.details-field {
  width: 100%;
}

.details-form {
  width: 100%;
}

[identifierContainer] {
  // width: 100%;
  // display: inline-flex;
  .mat-form-field {
    margin: 0 10px;
  }
}

mat-divider {
  margin-top: 15px;
}

[informationContainer] {
  width: 100%;
  display: inline-table;
  margin-top: 30px;
  .mat-form-field {
    width: 48%;
    margin: 0 8px;
  }
}

[customAttributesContainer] {
  width: 100%;
  display: inline-table;
  margin-top: 30px;
  .field-container {
    width: 48%;
    margin: 0 8px;
    margin-bottom: 10px;
    display: inline-block;
    /deep/ .custom-attr {
      width: 100%;
    }
  }
}

// [submitButton]{
// }
