:host {
  mat-card {
    mat-card-content {
      padding-top: 10px;
      form {
        ::ng-deep > div .input-placer-input {
          width: 100%;
        }
        > * {
          width: 100%;
        }
        div.policies {
          flex: 1;
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          mat-list {
            flex-grow: 1;
          }
        }
      }
    }
  }
}
