:host {
  mat-card {
    mat-card-content {
      mat-divider {
        position: static;
        margin: 20px 0px 20px 0px;
      }

      form {
        ::ng-deep > div .input-placer-input {
          width: 100%;
        }
        > * {
          width: 100%;
        }
      }
      div.policies {
        flex: 1;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        mat-list {
          flex-grow: 1;
        }
      }

      div.factor-auth {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        > mat-form-field{
          width: 30%;
        }
      }
    }
  }
}
