:host {
  mat-card {
    mat-card-content {
      form > button {
        margin-bottom: 1.25em;
      }

      form {
        ::ng-deep > div .input-placer-input {
          width: 100%;
        }
        > * {
          width: 100%;
        }
      }
      div.policies {
        flex: 1;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        mat-list {
          flex-grow: 1;
        }
      }
    }
  }
}
