:host {
  div.actions {
    button:not(:last-of-type) {
      margin-right: 5px;
    }
    transform: translateY(-87px);
    display: flex;
    justify-content: end;
    margin: 0 30px;
    .mat-flat-button {
      border-bottom: 1px solid rgba(var(--foreground-base-rgb), 0.1);
    }
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }

  mat-card {
    mat-card-content {
      mat-divider {
        position: static;
        margin: 20px 0px 20px 0px;
      }

      form {
        ::ng-deep > div .input-placer-input {
          width: 100%;
        }
        > * {
          width: 100%;
        }
        > button {
          margin-bottom: 1.34375em;
        }
      }
      div.policies {
        flex: 1;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        mat-list {
          flex-grow: 1;
        }
      }

      div.factor-auth {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        > mat-form-field {
          width: 30%;
        }
      }
    }
  }
}
