:host {
  div.actions {
    button:not(:last-of-type) {
      margin-right: 5px;
    }
    transform: translateY(-87px);
    display: flex;
    justify-content: end;
    margin: 0 30px;
    .mat-mdc-unelevated-button {
      border-bottom: 1px solid rgba(var(--foreground-base-rgb), 0.1);
    }
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }
  mat-form-field {
    width: 100%;
  }
  mat-expansion-panel {
    margin-top: 10px;
  }
  div.policies {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    mat-list {
      flex-grow: 1;
    }
  }

  div.status {
    margin-bottom: 20px;
    h3 {
      font-weight: normal;
    }
  }
}
