:root.dark :host {
  --opacity: 0.5;
}

:host {
  --opacity: 1;
  display: inline-block;
  border-radius: 5px;
  overflow: hidden;
  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
  }
  section {
    &:first-of-type {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      background: rgba(var(--background-app-bar-rgb), var(--opacity));
      padding: 10px 10px;
      span:last-of-type {
        display: flex;
        align-items: center;
        ::ng-deep > *:not(:last-child) {
          margin-right: 5px;
        }
      }
      mat-form-field {
        width: 50%;
        margin-top: 10px;
        ::ng-deep .mat-form-field-wrapper {
          padding-bottom: 0;
        }
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        &:not(:first-of-type) {
          padding: 0 5px;
        }
      }
    }
    &:last-of-type {
      height: 270px;
    }
  }

  &.minimal-input-placer {
    width: 250px !important;
    height: 250px !important;

    position: relative;

    section.header {
      padding: 0px !important;
      span.title {
        display: none;
      }

      span.buttons {
        button:nth-of-type(1) {
          display: none;
        }

        button:nth-of-type(2) {
          position: absolute;
          right: 10px;
          top: 10px;
          z-index: 1000;
        }
      }
    }

    section.content {
      height: 100%;
    }
  }
}
