:host ::ng-deep {
  mat-toolbar {
    padding: 0 14px;
    align-items: flex-end;
    .space-between {
      flex: 1 1 auto;
    }
    mat-toolbar-row p {
      font-size: 12px;
      margin: 0px 0px 0px 5px;
    }
    h4 {
      mat-icon,
      span {
        margin-left: 5px;
        vertical-align: middle;
      }
    }
  }
  mat-card:first-of-type {
    margin: 30px;
    overflow: hidden;
  }
}
