@use "../../../styles/mixins";

.container {
  cursor: pointer;

  &.disabled {
    opacity: var(--oziko-disabled-opacity);
    cursor: default;

    label {
      cursor: default !important;
    }
  }

  &:not(.disabled):hover .checkbox label {
    border-color: var(--oziko-color-primary);
  }

  .checkbox {
    display: flex;

    &.indeterminate {
      label {
        &::after {
          content: "-";
        }
      }
    }

    input[type="checkbox"] {
      display: none;
    }

    label {
      @include mixins.flexCenter;
      width: 14px;
      height: 14px;
      border: var(--oziko-border-default);
      border-radius: var(--oziko-border-radius-sm);
      cursor: pointer;
      transition: all var(--oziko-transition-duration) ease;

      &::after {
        content: "✓";
        font-size: var(--oziko-font-size-md);
        color: white;
        opacity: 0;
        transition: opacity var(--oziko-transition-duration) ease;
      }
    }

    input[type="checkbox"]:checked + label {
      background-color: var(--oziko-color-primary);
      border-color: var(--oziko-color-primary);

      &::after {
        opacity: 1;
      }
    }
  }
}
