:host {
  mat-form-field {
    width: 100%;
    mat-hint:last-of-type {
      cursor: help;
      mat-icon {
        font-size: 18px;
        vertical-align: middle;
      }
    }
  }
  &.minimal-input-placer > mat-form-field {
    width: 200px !important;
  }
}
