:host {
  display: inline-block;

  mat-form-field {
    width: 100%;

    ::ng-deep .mat-form-field-flex .mat-form-field-suffix {
      position: absolute;
      right: 10px;
      top: 15px;
    }
  }

  &.minimal-input-placer {
    textarea {
      height: 4em !important;
    }
  }
}
