<div
  class="languages"
  *ngIf="languageProperty.name == fieldName"
  [class.active]="languageProperty.isActive"
  [class.inactive]="!languageProperty.isActive"
>
  <button
    mat-icon-button
    class="language-button"
    *ngFor="let language of languages; let i = index"
    [matTooltip]="language.name"
    [style.transition-delay]="i / 6 + 's'"
    [class.active]="selectedLanguage.language == language.code"
    (click)="selectedLanguage.language = language.code"
  >
    {{ language.name | uppercase | slice: 0:2 }}
  </button>
</div>
<button
  mat-icon-button
  [disabled]="isAnimationActive"
  class="controller"
  (click)="languageAnimation(fieldName)"
>
  <mat-icon>translate</mat-icon>
</button>
