.viewerContainer {
  width: 100%;
  height: 100%;
  overflow: auto;
  .viewer {
    display: flex;
    height: 100%;
    > div {
      scale: 0.68;
      height: max-content;
      transform-origin: top left;
    }
  }
}
