<div class="dashboard-container">
  <div *ngIf="dashboard$ | async; let dashboard">
    <mat-toolbar>
      <h1>
        <mat-icon> {{ dashboard.icon }} </mat-icon>
        <span> {{ dashboard.name }}</span>
      </h1>
      <div *ngIf="!customizeDisabled" class="actions">
        <mat-form-field>
          <mat-label>
            Auto Align
          </mat-label>
          <mat-select (selectionChange)="autoAlign($event.value); saveComponentStyles()">
            <mat-option *ngFor="let i of [1, 2, 3, 4]" [value]="i">
              {{ componentStyles.length / i | number: "1.0-0" }}
              x {{ i }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button
          mat-button
          (click)="
            componentStyles = getDefaultComponentStyles(dashboard.components.length);
            saveComponentStyles()
          "
        >
          <mat-icon>
            restart_alt
          </mat-icon>
          Reset
        </button>
      </div>
    </mat-toolbar>
    <div class="components-container">
      <mat-card
        *ngFor="let component of dashboard.components; index as i"
        class="card"
        [ngStyle]="componentStyles[i]"
        (mouseup)="onEditEnded($event.currentTarget, i)"
        cdkDrag
        cdkDragBoundary=".components-container"
      >
        <div class="drag-cursor" cdkDragHandle></div>
        <dashboard-default
          *ngIf="defaultTypes.indexOf(component.type) != -1"
          [componentData$]="componentData$[i]"
          [type]="component.type"
          (onUpdate)="onUpdate($event, i)"
        >
        </dashboard-default>
        <dashboard-table
          *ngIf="component.type == 'table'"
          [componentData$]="componentData$[i]"
          [type]="component.type"
          (onUpdate)="onUpdate($event, i)"
        >
        </dashboard-table>
        <dashboard-card
          *ngIf="component.type == 'card'"
          [componentData$]="componentData$[i]"
          [type]="component.type"
          (onUpdate)="onUpdate($event, i)"
        >
        </dashboard-card>
      </mat-card>
    </div>
  </div>
</div>
