div {
  mat-toolbar {
    padding: 0 30px;
    align-items: flex-start;

    justify-content: space-between;
    h1 {
      & > * {
        vertical-align: middle;
        display: inline-block;
      }
      mat-icon {
        margin-left: -3px;
      }
      span {
        margin-left: 5px;
      }
    }

    div.actions {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      > * {
        margin-left: 5px;
      }
      mat-form-field {
        font-size: 14px;
        width: 150px;
      }
    }
  }
  div.components-container {
    margin-top: -160px;
    width: 100%;
    height: 300vh;
    mat-card {
      position: absolute;
      height: 500px;
      width: 500px;

      min-width: 250px;
      min-height: 250px;

      resize: both;
      overflow: auto;

      margin: 10px;

      &:active {
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
          0 3px 14px 2px rgba(0, 0, 0, 0.12);
      }

      mat-spinner {
        top: calc(50% - 75px);
        margin: auto;
      }

      div.drag-cursor {
        cursor: move;
        width: 100%;
        height: 50px;

        position: absolute;
        left: 0;
        top: 0;
      }

      div.content {
        height: 100%;
      }
    }
  }
  div.grid {
    position: relative;
    min-height: 1000px;
  }
  
  div.item {
    display: block;
    position: absolute;
 
    margin: 5px;
    z-index: 1;

    .muuri-item-dragging {
      z-index: 3;
    }
    .muuri-item-releasing {
      z-index: 2;
    }
    .muuri-item-hidden {
      z-index: 0;
    }
    .item-content {
      position: relative;
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
  

  @media only screen and (max-width: 1280px) {
    div.components-container > {
      mat-card {
        width: calc(100% - 20px) !important;
        height: 500px !important;
        position: relative !important;
        transform: unset !important;

        div.drag-cursor {
          display: none;
        }
      }
    }
  }
}
