div {
  mat-toolbar {
    min-height: 250px;
    padding: 0 30px;
    align-items: flex-start;

    justify-content: space-between;
    h1 {
      & > * {
        vertical-align: middle;
        display: inline-block;
      }
      mat-icon {
        margin-left: -3px;
      }
      span {
        margin-left: 5px;
      }
    }
  }
  div.components-container {
    margin-top: -160px;
    width: 100%;
    height: 300vh;
    mat-card {
      position: absolute;
      height: 500px;
      width: 500px;

      min-width: 250px;
      min-height: 250px;

      resize: both;
      overflow: auto;

      margin: 10px;

      &:active {
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
          0 3px 14px 2px rgba(0, 0, 0, 0.12);
      }

      div.nonexist-type {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      div.drag-cursor {
        cursor: move;
        width: 100%;
        height: 24px;

        position: absolute;
      }
    }
  }
}
