<div *ngIf="dashboard$ | async; let dashboard">
  <mat-toolbar>
    <h1>
      <mat-icon> {{ dashboard.icon }} </mat-icon>
      <span> {{ dashboard.name }}</span>
    </h1>
  </mat-toolbar>
  <div class="content">
    <div class="components">
      <mat-card
        (click)="onCardFocus(i)"
        [style.z-index]="cardZIndexes[i]"
        [style.left]="i * 50 + 'px'"
        [style.top]="150 + i * 50 + 'px'"
        class="card"
        *ngFor="let component of dashboard.components; index as i"
        cdkDrag
        cdkDragBoundary=".components"
        (cdkDragEnded)="onDragEnded($event,i)"
        (resize)="onResize($event,i)"
      >
        <div class="example-handle" cdkDragHandle>
          <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
            <path
              d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
            ></path>
            <path d="M0 0h24v24H0z" fill="none"></path>
          </svg>
        </div>
        <dashboard-default
          *ngIf="defaultTypes.indexOf(component.type) != -1"
          [componentData$]="componentData$[i]"
          [type]="component.type"
          (onUpdate)="onUpdate($event, i)"
        >
        </dashboard-default>
        <dashboard-table
          *ngIf="component.type == 'table'"
          [componentData$]="componentData$[i]"
          [type]="component.type"
          (onUpdate)="onUpdate($event, i)"
        >
        </dashboard-table>
        <dashboard-card
          *ngIf="component.type == 'card'"
          [componentData$]="componentData$[i]"
          [type]="component.type"
          (onUpdate)="onUpdate($event, i)"
        >
        </dashboard-card>
        <div
          class="nonexist-type"
          *ngIf="
            defaultTypes.indexOf(component.type) == -1 && customTypes.indexOf(component.type) == -1
          "
        >
          <span>This component type does not exist.</span>
        </div>
      </mat-card>
    </div>
  </div>
</div>
