.confirmModal {
  padding: var(--padding-xl) !important;
  min-height: 0 !important;
  .header {
    border-bottom: var(--border-default);
    padding: var(--padding-lg) 0px;
    .title {
      font-size: var(--font-size-xl);
      font-weight: 700;
    }
  }
  .body {
    display: flex;
    flex-direction: column !important;
  }
  .footer {
    padding: 0;
  }
}
.input {
  width: 100%;
}
