.confirmModal {
  * {
    font-family: var(--font-family-base) !important;
    line-height: unset !important;
  }
  font-family: var(--font-family-base) !important;
  line-height: unset !important;
  padding: 0;
  min-height: 0 !important;
  width: 600px !important;
  min-width: 600px !important;
  .header {
    padding: 0 var(--padding-md) !important;
    border-bottom: var(--border-default);
    height: fit-content !important;
    padding: 0;
    .title {
      font-size: var(--font-size-xl);
      font-weight: 700;
      padding: var(--padding-xl) 0 !important;
      color: var(--color-black);
    }
  }
  .body {
    display: flex;
    flex-direction: column !important;
    gap: var(--gap-lg) !important;
    padding-bottom: var(--padding-sm);
  }
  .footer {
    padding: 0 var(--padding-md) var(--padding-md) 0;
    gap: var(--gap-md) !important;
  }
}
.title {
  margin: 0 !important;
  font-size: var(--font-size-lg) !important;
  font-weight: bold !important;
  font-family: var(--font-family-base) !important;
  line-height: unset;
}

.inputContainer {
  width: 100% !important;
  height: 44px;
  padding: 0 var(--padding-md);
  border-radius: var(--border-radius-md);
  border: var(--border-default);
  background-color: var(--color-input-background);
}
.input {
  width: 100% !important;
  height: 44px;
  font-family: var(--font-family-base);
  font-size: var(--font-size-md);
}

.cancelButton:hover {
  background-color: var(--color-menu-contrast) !important;
  border: none;
}

.cancelButton,
.confirmButton {
  height: 32px !important;
}

.confirmButton:disabled:hover {
  background-color: var(--color-danger) !important;
}

.errorTextContainer {
  position: relative;
  width: 100%;
}

.errorText {
  font-size: var(--font-size-xs) !important;
  width: 100%;
  position: absolute;
  bottom: 0;
}

[class^="Portal-module_container__"] {
  z-index: 4;
}
