:host {
  mat-form-field {
    width: 100%;
  }
  textarea {
    height: 350px;
  }
  mat-form-field.type {
    margin-top: 10px;
  }

  div.oauth-step {
    margin-bottom: 10px h3 {
      margin: 0px;
    }
    h5 {
      margin: 10px 0px 0px 0px;
    }

    div.line {
      width: 100%;
      display: flex;
      > div {
        flex: 1;
        &:first-of-type {
          margin-right: 10px;
        }
        &:last-of-type {
          margin-left: 10px;
        }
      }
    }

    div.key-value-area {
      display: flex;
      align-items: baseline;
    }

    div.inputs {
      flex: 9;
      display: flex;
      > mat-form-field:first-of-type {
        margin-right: 5px;
      }

      > mat-form-field:last-of-type {
        margin-left: 5px;
      }
    }

    button.remove-property {
      flex: 1;
    }

    div.new-property {
      display: flex;
      width: 90%;
      > mat-form-field:first-of-type {
        margin-right: 5px;
      }

      > mat-form-field:last-of-type {
        margin-left: 5px;
      }
    }

    button.add-new-property {
      width: 90%;
      padding: 5px;
      border: 1px dashed rgba(0, 0, 0, 0.08);
      margin-top: 15px;
    }
  }
}
