::ng-deep .history-tree {
  min-width: unset !important;
  overflow: unset !important;
  width: 40px;
  border-radius: 25px !important;
  .mat-menu-content {
    padding: 0 !important;
    button:not(:first-child) {
      margin-top: 4px;
    }
  }
}

:host {
  mat-toolbar {
    min-height: 250px;
    padding: 0 30px;
    align-items: flex-start;
    span {
      h4 {
        & > * {
          vertical-align: middle;
        }
        mat-icon {
          margin-left: -3px;
        }
        span {
          margin-left: 5px;
        }
        mat-chip-list {
          display: inline-block;
          margin-left: 10px;
          mat-chip {
            font-size: 11px;
            padding: 7px 10px;
            min-height: 20px;
            height: 22px;
            line-height: normal;
          }
        }
      }

      h6 {
        font-size: 14px;
      }
    }
    .space-between {
      flex: 1 1 auto;
    }
  }

  mat-card {
    width: calc(100% - 60px);
    margin: 30px;
    margin-top: -130px;
    mat-card-content {
      &.handset form {
        flex-flow: column;
      }
      form {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-between;
        > div {
          padding: 10px;
          &.left,
          &.right {
            flex: 2.5;
          }
          &.bottom {
            flex-basis: 100%;
            padding-top: 0;
          }
          mat-error {
            font-size: 10.5px;
          }
          div {
            padding-top: 15px;
          }
          // TODO(thesayyn): replace this with css variables
          ::ng-deep .input-placer-input {
            width: 100%;
          }
        }
      }
    }

    mat-card-actions {
      margin: 0;
      padding: 0;
      text-align: end;

      > button {
        span,
        mat-progress-spinner {
          display: inline-block;
          vertical-align: middle;
        }
        span {
          margin-left: 4px;
        }
      }

      form {
        display: inline;
        mat-form-field {
          width: 150px;
          margin-left: 5px;
          margin-right: 10px;
        }
      }
    }
  }
}
