::ng-deep .history-tree {
  min-width: unset !important;
  overflow: unset !important;
  width: 40px;
  border-radius: 25px !important;
  .mat-menu-content {
    padding: 0 !important;
    button:not(:first-child) {
      margin-top: 4px;
    }
  }
}

:host {
  .block-form {
    display: block;
    float: left;
    width: 100%;
  }
  mat-toolbar {
    min-height: 250px;
    padding: 0 30px;
    align-items: flex-start;
    .title {
      h1 > * {
        vertical-align: middle;
      }
      mat-chip-list {
        display: inline-block;
        margin-left: 10px;
        mat-chip {
          font-size: 11px;
          padding: 7px 10px;
          min-height: 20px;
          height: 22px;
          line-height: normal;
        }
      }
      h6 {
        font-size: 14px;
      }
    }
    .space-between {
      flex: 1 1 auto;
    }
  }

  mat-card {
    width: calc(100% - 60px);
    margin: 30px;
    margin-top: -130px;
    mat-card-actions.save {
      margin: 0;
      padding: 0;
      text-align: end;
      mat-chip-list {
        display: inline-block;
        mat-chip {
          font-size: 11px;
          padding: 7px 10px;
          min-height: 20px;
          height: 22px;
          line-height: normal;
        }
      }
      mat-progress-spinner.save {
        display: inline;
      }
      mat-form-field.schedule {
        width: 150px;
        margin-left: 5px;
        margin-right: 10px;
      }
      form.schedule {
        display: inline;
      }
    }
    mat-card-content {
      form {
        > div {
          padding: 10px;
          &.left,
          &.right {
            float: left;
            width: 50%;
          }
          &.bottom {
            float: left;
            width: 100%;
          }
          mat-error {
            font-size: 10.5px;
          }
          // TODO(thesayyn): replace this with css variables
          ::ng-deep .input-placer-input {
            width: 100%;
            padding: 10px 0px;
            &.property-translate {
              width: calc(100% - 45px);
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}
