::ng-deep .history-tree {
  min-width: unset !important;
  overflow: unset !important;
  width: 40px;
  border-radius: 25px !important;
  .mat-menu-content {
    padding: 0 !important;
    button:not(:first-child) {
      margin-top: 4px;
    }
  }
}

:host {
  .flex-form {
    display: block;
    float: left;
    width: 100%;
  }
  mat-toolbar {
    min-height: 250px;
    padding: 0 30px;
    align-items: flex-start;
    .title {
      h1 > * {
        vertical-align: middle;
      }
      h6 {
        font-size: 14px;
      }
    }
    .space-between {
      flex: 1 1 auto;
    }
  }

  mat-card {
    width: calc(100% - 60px);
    margin: 30px;
    margin-top: -130px;
    mat-card-content {
      form {
        > div {
          padding: 10px;
          &.left,
          &.right {
            float: left;
            width: 50%;
          }
          &.bottom {
            float: left;
            width: 100%;
          }
          // TODO(thesayyn): replace this with css variables
          ::ng-deep .input-placer-input {
            width: 100%;
            padding: 10px 0px;
            &.property-translate {
              width: calc(100% - 45px);
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}
