<mat-toolbar>
  <span *ngIf="bucket$ | async; let bucket" @smooth>
    <h4>
      <mat-icon>{{ bucket.icon }}</mat-icon>
      <span>{{ bucket.title }}</span>

      <mat-chip-listbox *ngIf="bucket.readOnly">
        <mat-chip-option disableRipple>Read Only</mat-chip-option>
      </mat-chip-listbox>
    </h4>
    <h6>{{ bucket.description }}</h6>
  </span>

  <span class="space-between"></span>
  <button
    *ngIf="histories$ | async; let histories"
    mat-icon-button
    [matBadge]="histories.length"
    matBadgeColor="warn"
    matBadgeSize="small"
    [matMenuTriggerFor]="historyMenu"
    @smooth
  >
    <mat-icon>restore</mat-icon>
    <mat-menu #historyMenu="matMenu" class="history-tree mat-elevation-z25" xPosition="before">
      <ng-template matMenuContent>
        <button
          mat-icon-button
          mat-raised-button
          [disabled]="!now"
          class="mat-mdc-elevation-z0"
          (click)="data = now; $event.stopPropagation()"
          matTooltip="Now"
          matTooltipPosition="before"
        >
          N
        </button>
        <button
          *ngFor="let history of histories; let index = index"
          mat-icon-button
          mat-raised-button
          color="accent"
          class="mat-mdc-elevation-z0"
          (click)="revert(history._id); $event.stopPropagation()"
          [matTooltip]="history.date | date: 'MMM d y, h:mm:ss a'"
          matTooltipPosition="before"
          [matBadge]="history.changes"
          matBadgeColor="warn"
          matBadgeSize="small"
        >
          {{ index + 1 }}
        </button>
      </ng-template>
    </mat-menu>
  </button>
</mat-toolbar>

<mat-card
  appearance="outlined"
  *ngIf="bucket$ | async; let bucket"
  class="mat-mdc-elevation-z25"
  @smooth
>
  <mat-card-content [class.handset]="isHandset$ | async">
    <form #form="ngForm">
      <div *ngFor="let layout of layouts" [class]="layout">
        <ng-container *ngFor="let propertyKv of positioned[layout]">
          <div
            *ngIf="propertyKv.value.options?.translate && data[propertyKv.key]"
            [inputPlacer]="propertyKv.value"
            [disabled]="propertyKv.value.readOnly || !language.selected || bucket.readOnly"
            [required]="bucket.required && bucket.required.indexOf(propertyKv.key) > -1"
            [name]="propertyKv.key"
            #translateModel="ngModel"
            [(ngModel)]="data[propertyKv.key][language.selected]"
            [requiredTranslate]="data[propertyKv.key]"
            [currentLanguage]="language.selected"
            [defaultLanguage]="language.default"
          >
            <property-language
              #language
              matSuffix
              (click)="$event.stopPropagation()"
              [model]="translateModel"
            ></property-language>
            <mat-error *ngIf="translateModel?.errors?.requiredTranslate && translateModel.touched">
              {{ language.default }} value is required as it is the default language.
            </mat-error>
          </div>
          <div
            *ngIf="!propertyKv.value.options.translate"
            [inputPlacer]="propertyKv.value"
            [disabled]="propertyKv.value.readOnly || bucket.readOnly"
            [required]="bucket.required && bucket.required.indexOf(propertyKv.key) > -1"
            [name]="propertyKv.key"
            [(ngModel)]="data[propertyKv.key]"
          ></div>
        </ng-container>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button
      class="save-button"
      [canInteract]="data._id ? 'bucket:data:update' : 'bucket:data:create'"
      [resource]="data._id ? bucketId + '/' + data._id : bucketId"
      *matSave="$save | async; let state"
      [disabled]="form.invalid || bucket.readOnly || !!state"
      mat-button
      (click)="saveBucketRow()"
      [ngSwitch]="state"
    >
      <mat-icon *ngSwitchDefault>save</mat-icon>
      <mat-progress-spinner
        *ngSwitchCase="'saving'"
        [diameter]="18"
        color="primary"
        mode="indeterminate"
      ></mat-progress-spinner>
      <mat-icon *ngSwitchCase="'saved'">done</mat-icon>
      <mat-icon *ngSwitchCase="'failed'">clear</mat-icon>
      <span>{{ (!state ? "save" : state) | titlecase }}</span>
    </button>
  </mat-card-actions>
</mat-card>
