apiVersion: v1
kind: Secret
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ .Release.Name }}-application-secrets
  annotations:
    "helm.sh/hook": pre-install, pre-upgrade
    "helm.sh/hook-weight": "-1"
type: Opaque
data:
  secret: |
    {{- $value := .Values.application.secret | default "" }}
    {{- $existing := lookup "v1" "Secret" .Release.Namespace (printf "%s-application-secrets" .Release.Name) }}
    {{- if $value }}
      {{ $value | b64enc }}
    {{- else if $existing }}
      {{ $existing.data.secret }}
    {{- else }}
      {{ required "A valid .Values.application.secret is required!" $value | b64enc }}
    {{- end }}

  bucketDataHashSecret: |
    {{- $value := .Values.application.bucketDataHashSecret | default "" }}
    {{- $existing := lookup "v1" "Secret" .Release.Namespace (printf "%s-application-secrets" .Release.Name) }}
    {{- if $value }}
      {{ $value | b64enc }}
    {{- else if $existing }}
      {{ $existing.data.bucketDataHashSecret }}
    {{- else }}
      {{ required "A valid .Values.application.bucketDataHashSecret is required!" $value | b64enc }}
    {{- end }}

  userVerificationHashSecret: |
    {{- $value := .Values.application.userVerificationHashSecret | default "" }}
    {{- $existing := lookup "v1" "Secret" .Release.Namespace (printf "%s-application-secrets" .Release.Name) }}
    {{- if $value }}
      {{ $value | b64enc }}
    {{- else if $existing }}
      {{ $existing.data.userVerificationHashSecret }}
    {{- else }}
      {{ required "A valid .Values.application.userVerificationHashSecret is required!" $value | b64enc }}
    {{- end }}

  userProviderEncryptionSecret: |
    {{- $value := .Values.application.userProviderEncryptionSecret | default "" }}
    {{- $existing := lookup "v1" "Secret" .Release.Namespace (printf "%s-application-secrets" .Release.Name) }}
    {{- if $value }}
      {{ $value | b64enc }}
    {{- else if $existing }}
      {{ $existing.data.userProviderEncryptionSecret }}
    {{- else }}
      {{ required "A valid .Values.application.userProviderEncryptionSecret is required!" $value | b64enc }}
    {{- end }}

  userProviderHashSecret: |
    {{- $value := .Values.application.userProviderHashSecret | default "" }}
    {{- $existing := lookup "v1" "Secret" .Release.Namespace (printf "%s-application-secrets" .Release.Name) }}
    {{- if $value }}
      {{ $value | b64enc }}
    {{- else if $existing }}
      {{ $existing.data.userProviderHashSecret }}
    {{- else }}
      {{ required "A valid .Values.application.userProviderHashSecret is required!" $value | b64enc }}
    {{- end }}

  twilioAccountSid: |
    {{- $value := .Values.application.twilioAccountSid | default "" }}
    {{- $existing := lookup "v1" "Secret" .Release.Namespace (printf "%s-application-secrets" .Release.Name) }}
    {{- if $value }}
      {{ $value | b64enc }}
    {{- else if $existing }}
      {{ $existing.data.twilioAccountSid }}
    {{- else }}
      {{ "" | b64enc }}
    {{- end }}

  twilioAuthToken: |
    {{- $value := .Values.application.twilioAuthToken | default "" }}
    {{- $existing := lookup "v1" "Secret" .Release.Namespace (printf "%s-application-secrets" .Release.Name) }}
    {{- if $value }}
      {{ $value | b64enc }}
    {{- else if $existing }}
      {{ $existing.data.twilioAuthToken }}
    {{- else }}
      {{ "" | b64enc }}
    {{- end }}

  twilioFromNumber: |
    {{- $value := .Values.application.twilioFromNumber | default "" }}
    {{- $existing := lookup "v1" "Secret" .Release.Namespace (printf "%s-application-secrets" .Release.Name) }}
    {{- if $value }}
      {{ $value | b64enc }}
    {{- else if $existing }}
      {{ $existing.data.twilioFromNumber }}
    {{- else }}
      {{ "" | b64enc }}
    {{- end }}
