apiVersion: v1
kind: Secret
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ .Release.Name }}-application-secrets
  annotations:
    "helm.sh/hook": pre-install, pre-upgrade
    "helm.sh/hook-weight": "-1"
type: Opaque
data:
  secret: |
    {{- $value := .Values.application.secret | default "" }}
    {{- $existing := lookup "v1" "Secret" .Release.Namespace (printf "%s-application-secrets" .Release.Name) }}
    {{- if $value }}
      {{ $value | b64enc }}
    {{- else if $existing }}
      {{ $existing.data.secret }}
    {{- else }}
      {{ required "A valid .Values.application.secret is required!" $value | b64enc }}
    {{- end }}

  bucketDataHashSecret: |
    {{- $value := .Values.application.bucketDataHashSecret | default "" }}
    {{- $existing := lookup "v1" "Secret" .Release.Namespace (printf "%s-application-secrets" .Release.Name) }}
    {{- if $value }}
      {{ $value | b64enc }}
    {{- else if $existing }}
      {{ required "A valid .Values.application.bucketDataHashSecret is required!" $value | b64enc }}
    {{- else }}
      {{ "" | b64enc }}
    {{- end }}
