{{- if eq .Values.application.diskAccessMode "ReadWriteMany"}}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Release.Name }}-data
spec:
  accessModes:
    - {{ .Values.application.diskAccessMode }}
  resources:
    requests:
      storage: {{ .Values.application.storageSize }}
  storageClassName: {{ .Values.application.storageClass }}
---
{{- end}}
apiVersion: apps/v1
{{- if eq .Values.application.diskAccessMode "ReadWriteMany"}}
kind: Deployment
{{- else }}
kind: StatefulSet
{{- end }}
metadata:
  namespace: {{.Release.Namespace}}
  name: {{ .Release.Name }}-application
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}-spica
    app.kubernetes.io/component: application
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/part-of: {{ .Chart.Name }}
    app.kubernetes.io/managed-by: helm
spec:
  {{- if ne .Values.application.diskAccessMode "ReadWriteMany"}}
  serviceName: {{ .Release.Name }}-application
  {{- end }}
  replicas: {{ .Values.application.replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Release.Name }}-spica
      app.kubernetes.io/component: application
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ .Release.Name }}-spica
        app.kubernetes.io/component: application
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.kubernetes.io/version: {{ .Chart.AppVersion }}
        app.kubernetes.io/part-of: {{ .Chart.Name }}
        app.kubernetes.io/managed-by: helm
    spec:
      serviceAccountName: {{ .Values.application.serviceAccountName }}
      containers:
        - name: web
          image: {{ .Values.images.web }}:{{ $.Chart.AppVersion }}
          resources:
{{ toYaml .Values.application.webResources | indent 12 }}
          ports:
            - containerPort: 80
          env:
            - name: BASE_URL
              value: {{.Values.application.webBaseUrl}}
        - name: api
          image: {{ .Values.images.api }}:{{ $.Chart.AppVersion }}
          resources:
{{ toYaml .Values.application.apiResources | indent 12 }}
          ports:
            - containerPort: 4300
          args: [
{{if len .Values.application.args}}
{{- range .Values.application.args }}
            {{ . | quote }},
{{- end }}
{{end}}
            --port, "4300", 
            --database-uri, {{ template "database.connection-uri" . }},
            --database-replica-set,  {{ .Values.database.replicaSetName }},
            --database-name,  {{ .Values.database.name }},
            --passport-secret, {{ required "A valid .Values.application.secret is required!" .Values.application.secret }},
            --passport-password,  {{ .Values.application.defaultPassword }},
            --public-url, {{ required "A valid .Values.application.publicHost is required!" .Values.application.publicHost }}{{.Values.application.apiBaseUrl | trimSuffix "/"}},
            --persistent-path, /data,
            --replication, "{{ ternary "true" "false" (gt (int .Values.application.replicas) 1) }}"
          ]
          volumeMounts:
            - name: {{ .Release.Name }}-data
              mountPath: /data
          env:
            - name: MONGODB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-database-spica-credentials
                  key: spicaUsername
            - name: MONGODB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-database-spica-credentials
                  key: spicaPassword
      {{- if .Values.application.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.application.nodeSelector | indent 8 }}
      {{- end }}
      {{- if .Values.application.tolerations }}
      tolerations:
{{ toYaml .Values.application.tolerations | indent 8 }}
      {{- end }}
      {{- if eq .Values.application.diskAccessMode "ReadWriteMany"}}
      volumes:
      - name: {{ .Release.Name }}-data
        persistentVolumeClaim:
          claimName: {{ .Release.Name }}-data
      {{- else}}
  volumeClaimTemplates:
    - metadata:
        name: {{ .Release.Name }}-data
      spec:
        storageClassName: {{ .Values.application.storageClass }}
        accessModes:
          - {{ .Values.application.diskAccessMode }}
        resources:
          requests:
            storage: {{ .Values.application.storageSize }}
      {{- end}}
