apiVersion: v1
kind: Service
metadata:
  namespace: {{.Release.Namespace}}
  name: {{ .Release.Name }}-application
  labels:
    app.kubernetes.io/name: application-srv
    app.kubernetes.io/component: service
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/part-of: {{ .Chart.Name }}
    app.kubernetes.io/managed-by: helm
spec:
  type: NodePort
  ports:
    - name: web
      port: 80
      targetPort: 80
    - name: api
      port: 4300
      targetPort: 4300
  selector:
    app.kubernetes.io/name: {{ .Release.Name }}-spica
    app.kubernetes.io/component: application