apiVersion: apps/v1
kind: StatefulSet
metadata:
  namespace: {{.Release.Namespace}}
  name: {{ .Release.Name }}-database
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}-database
    app.kubernetes.io/component: database
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/part-of: {{ .Chart.Name }}
    app.kubernetes.io/managed-by: helm
spec:
  serviceName: {{ .Release.Name }}-database
  replicas: {{ .Values.database.replicas }}
  podManagementPolicy: Parallel
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Release.Name }}-database
      app.kubernetes.io/component: database
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ .Release.Name }}-database
        app.kubernetes.io/component: database
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.kubernetes.io/version: {{ .Chart.AppVersion }}
        app.kubernetes.io/part-of: {{ .Chart.Name }}
        app.kubernetes.io/managed-by: helm
    spec:
      terminationGracePeriodSeconds: 10
      containers:
        - name: mongo
          image: mongo:{{ .Values.database.version }}
          command:
          - mongod 
          - "--replSet" 
          - rs0 
          - "--bind_ip_all"
          {{- if eq (int .Values.database.replicas) 1}}
          lifecycle:
            postStart:
              exec:
                command:
                  - "/bin/sh"
                  - "-c"
                  - >
                    retries=0;
                    max_retries=10;
                    until mongo --eval "db.runCommand({ ping: 1 })" 2>/dev/null || [ $retries -ge $max_retries ]; do
                      retries=$((retries+1));
                      sleep 5;
                    done;
                    [ $retries -ge $max_retries ] && echo "MongoDB did not become ready after $max_retries retries. Exiting." && exit 1;
                    mongo --eval 'rs.initiate({"_id": "rs0", "members": {{ template "generateReplicaSetMembers" . }} })'
          {{- end}}
          ports:
            - containerPort: 27017
          resources:
{{ toYaml .Values.database.resources | indent 12 }}
          volumeMounts:
            - name: {{ .Release.Name }}-data
              mountPath: /data/db
      {{- if .Values.database.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.database.nodeSelector | indent 8 }}
      {{- end }}
      {{- if .Values.database.tolerations }}
      tolerations:
{{ toYaml .Values.database.tolerations | indent 8 }}
      {{- end }}
  volumeClaimTemplates:
    - metadata:
        name: {{ .Release.Name }}-data
      spec:
        storageClassName: {{.Values.database.storageClass}}
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: {{.Values.database.storageSize}}
