<ng-template #toolbar>
  <mat-toolbar-row>
    <h4>
      <mat-icon>layers</mat-icon>
      <span>Identities</span>
    </h4>
    <span class="space-between"></span>
    <button mat-icon-button (click)="refresh$.next()">
      <mat-icon>refresh</mat-icon>
    </button>
    <button mat-icon-button routerLink="/passport/identity/add">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar-row>
</ng-template>
<mat-card class="mat-elevation-z25">
  <mat-card-content>
    <mat-table [dataSource]="identities$">
      <ng-container matColumnDef="_id">
        <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
        <mat-cell *matCellDef="let identity">{{ identity._id }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="identifier">
        <mat-header-cell *matHeaderCellDef>Identifier</mat-header-cell>
        <mat-cell *matCellDef="let identity">{{ identity.identifier }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let identity">
          <button mat-icon-button [routerLink]="identity._id + '/edit'">
            <mat-icon>edit</mat-icon>
          </button>
          <button
            *ngIf="identity.system !== true"
            canInteract="passport:identity:delete"
            mat-icon-button
            color="warn"
            [matAwareDialog]="{
              title: 'Confirmation',
              templateOrDescription: dialogTemplate,
              answer: 'yes'
            }"
            (confirm)="delete(identity._id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </mat-card-content>

  <mat-card-footer>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </mat-card-footer>
</mat-card>

<ng-template #dialogTemplate let-answer="answer">
  <p>This action will delete the user.</p>
  <p>Please type {{ answer }} to confirm.</p>
</ng-template>
