:host {
  ::ng-deep .mat-list-item-content {
    padding: 0px !important;
  }

  mat-toolbar {
    min-height: 250px;
    padding: 0 30px;
    align-items: flex-start;
    h4 {
      mat-icon,
      span {
        vertical-align: middle;
        margin-left: 5px;
      }
    }
  }

  mat-card {
    margin: 30px;
    margin-top: -85px;
    .ratio-button{
      width: 5em;
    }
    mat-list {
      padding-top: 0px;
      mat-list-item {
        margin-top: 10px;
        height: auto !important;
        &:nth-child(1) {
          margin-top: 0px;
          padding-top: 0px !important;
          ::ng-deep .mat-list-item-content {
            display: flex;
            mat-form-field {
              flex: 1;
            }
            span {
              vertical-align: middle;
            }
          }
        }

        &:not(:first-of-type) {
          ::ng-deep .mat-list-item-content {
            display: flex;
          }
        }

        &:not(:nth-child(1)) {
          ::ng-deep .mat-list-item-content {
            display: flex;
            justify-content: space-around;
            align-items: baseline;
          }

          div.details {
            display: flex;
            flex: 9;

            > mat-form-field {
              margin: 0px 5px 0px 5px;
            }

            > mat-form-field:nth-of-type(1) {
              flex: 1;
            }

            > mat-form-field:nth-of-type(2) {
              flex: 2;
            }

            > mat-form-field:nth-of-type(3) {
              flex: 1;
            }
          }

          div.actions {
            flex: 1;
            display: flex;
            justify-content: center;
          }
        }
      }

      .new-component {
        width: calc(100% - 48px);
        border: 1px dashed rgba(var(--foreground-base-rgb), 0.07);
        border-radius: 5px;
        margin: 16px 24px;
        padding: 15px;
      }
    }
  }
}
