:host {
  ::ng-deep .mat-list-item-content {
    padding: 0px !important;
  }

  mat-toolbar {
    min-height: 250px;
    padding: 0 30px;
    align-items: flex-start;
    h4 {
      mat-icon,
      span {
        vertical-align: middle;
        margin-left: 5px;
      }
    }
  }

  mat-card {
    margin: 30px;
    margin-top: -85px;
    // overflow: hidden;
    .ratio-button{
      width: 5em;
    }
    div.dashboard-edit{
      display:flex !important;
      flex-direction:column !important;
      justify-content:center !important;
      align-items:center !important;
    }
    div.drag-cursor {
      cursor: move;
      width: 100%;
      height: 50px;

      position: absolute;
      left: 0;
      top: 0;
    }
    div.content {
      height: 100%;
    }
    mat-list {
      padding-top: 0px;
      mat-list-item {
        margin-top: 10px;
        height: auto !important;
        &:nth-child(1) {
          margin-top: 0px;
          padding-top: 0px !important;
          ::ng-deep .mat-list-item-content {
            display: flex;
            mat-form-field {
              flex: 1;
            }
            span {
              vertical-align: middle;
            }
          }
        }

        &:not(:first-of-type) {
          ::ng-deep .mat-list-item-content {
            display: flex;
          }
        }

        &:not(:nth-child(1)) {
          ::ng-deep .mat-list-item-content {
            display: flex;
            justify-content: space-around;
            align-items: baseline;
          }

          div.details {
            display: flex;
            flex: 9;

            > mat-form-field {
              margin: 0px 5px 0px 5px;
            }

            > mat-form-field:nth-of-type(1) {
              flex: 1;
            }

            > mat-form-field:nth-of-type(2) {
              flex: 2;
            }

            > mat-form-field:nth-of-type(3) {
              flex: 1;
            }
          }

          div.actions {
            flex: 1;
            display: flex;
            justify-content: center;
          }
        }
      }

      .new-component {
        width: calc(100% - 48px);
        border: 1px dashed rgba(var(--foreground-base-rgb), 0.07);
        border-radius: 5px;
        margin: 16px 24px;
        padding: 15px;
      }
    }
  }
  div.charts-container {
    margin-left: 30px;
    margin-right: 30px;
   

    .charts-card{
      // margin:0 30px 30px 30px !important;
      margin:0;
     }
    
  }
  div.grid {
    position: relative;
    min-height: 1000px;
  }
  
  div.item {
    display: block;
    position: absolute;
 
    margin: 5px;
    z-index: 1;

    .muuri-item-dragging {
      z-index: 3;
    }
    .muuri-item-releasing {
      z-index: 2;
    }
    .muuri-item-hidden {
      z-index: 0;
    }
    .item-content {
      position: relative;
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
  
 
  

}
