:host {
  mat-toolbar {
    min-height: 250px;
    padding: 0 30px;
    align-items: flex-start;
    flex-direction: column;

    h4 > * {
      vertical-align: middle;
      margin-left: 5px;
    }

    div.actions {
      align-self: flex-end;
      margin-top: 60px;
    }
  }

  .example-viewport {
    height: 500px;
    width: 100%;
  }

  .mat-mdc-card {
    margin: 5%;
    margin: 30px;
    margin-top: -85px;
    // For proper border radius
    overflow: hidden;

    > *:first-child {
      margin-right: 5px;
    }

    > *:not(:first-child):not(mat-card-content) {
      margin: 0px 5px;
    }
  }

  .mat-mdc-card-content {
    height: 100%;
    .emptyList {
      display: flex;
      justify-content: center;
    }
    .cdk-virtual-scroll-viewport {
      div:first-of-type {
        margin-right: 24px;
        padding: 0px 24px;
        height: 48px;
        display: flex;
        align-items: center;
        span {
          display: inline-block;
          width: 25%;
          text-align: center;
          word-wrap: break-word;
        }
        span:first-child {
          text-align: left;
        }

        span:last-child {
          text-align: right;
        }
      }

      ::ng-deep .mat-expansion-panel {
        box-shadow: none;
        border-bottom: 1px solid rgba(var(--foreground-base-rgb), 0.1) !important;
      }

      .mat-expansion-panel  {
        pre {
          word-break: break-word;
          white-space: pre-wrap;
        }
        .mat-expansion-panel-header {
          min-height: 64px !important;
          height: auto !important;
        }
        .mat-expansion-panel-header span {
          width: 25%;
          text-align: center;
          word-break: break-word;
          align-self: center;
          margin: 10px 5px;
        }
        .mat-expansion-panel-header span:first-child {
          text-align: left;
          margin: 10px 5px 10px 0px;
        }
        .mat-expansion-panel-header span:last-child {
          text-align: right;
          margin: 10px 0px 10px 5px;
        }
      }

      .mat-mdc-progress-spinner {
        margin: 15px auto;
      }
    }
  }
}
