:host {
  mat-toolbar {
    min-height: 250px;
    padding: 0 30px;
    align-items: flex-start;
    h4 > * {
      vertical-align: middle;
      margin-left: 5px;
    }
    .space-between {
      flex: 1 1 auto;
    }
  }

  .mat-form-field {
    margin: 5px 10px;
  }

  .example-viewport {
    height: 500px;
    width: 100%;
  }

  .mat-card {
    margin: 5%;
    margin: 30px;
    margin-top: -110px;
    // For proper border radius
    overflow: hidden;
    div.filters {
      padding-top: 19px;
      margin: 0px 24px;
    }
  }

  .mat-card-content {
    height: 100%;
    .emptyList {
      display: flex;
      justify-content: center;
    }
    .cdk-virtual-scroll-viewport {
      div.title {
        margin-right: 24px;
        padding: 0px 24px;
        height: 48px;
        display: flex;
        align-items: center;
        span {
          display: inline-block;
          width: 20%;
          text-align: center;
          word-wrap: break-word;
        }
        span:first-child {
          text-align: left;
        }

        span:last-child {
          text-align: right;
        }
      }
      .mat-expansion-panel  {
        .mat-expansion-panel-header span {
          width: 20%;
          text-align: center;
          word-wrap: break-word;
        }
        .mat-expansion-panel-header span:first-child {
          text-align: left;
        }
        .mat-expansion-panel-header span:last-child {
          text-align: right;
        }
      }

      .mat-progress-spinner {
        margin: 15px auto;
      }
    }
  }
}
