<mat-toolbar color="primary">
  <h4 class="mat-h4">
    <mat-icon>http</mat-icon>
    <span>Webhook Logs</span>
  </h4>
  <span class="space-between"></span>
  <button mat-icon-button (click)="applyFilter()">
    <mat-icon>refresh</mat-icon>
  </button>
  <button mat-icon-button canInteract="webhook:delete" (click)="clearLogs()">
    <mat-icon>clear_all</mat-icon>
  </button>
</mat-toolbar>
<mat-card class="mat-elevation-z25">
  <div class="filters">
    <span>Filters: </span>
    <mat-form-field>
      <mat-label>Select webhook id</mat-label>
      <mat-select [(ngModel)]="filter.webhooks" multiple>
        <mat-option *ngFor="let webhook of webhooks" [value]="webhook">
          {{ webhook }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select status code</mat-label>
      <mat-select [(ngModel)]="filter.statusCodes" multiple>
        <mat-option *ngFor="let code of statusCodes" [value]="code">
          {{ code }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [ngModel]="filter.date"
        (ngModelChange)="setDate($event.begin, $event.end)"
        placeholder="Select a date range"
        [satDatepicker]="picker"
        [max]="maxDate"
      />
      <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
      <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
    </mat-form-field>
    <button mat-button (click)="applyFilter()">
      Apply
    </button>
    <button mat-button color="warn" (click)="clearFilter()">
      Clear
    </button>
  </div>
  <mat-card-content>
    <mat-accordion>
      <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
        <div class="title">
          <span>Id</span>
          <span>Webhook Id</span>
          <span>Request Url</span>
          <span>Response Status Code</span>
          <span>Execution Time</span>
        </div>
        <span class="emptyList" *ngIf="!logs.length && !isPending">
          Couldn't find any log to show.
        </span>
        <mat-expansion-panel *cdkVirtualFor="let log of dataSource">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span>
                {{ log._id }}
              </span>
              <span>
                {{ log.webhook }}
              </span>
              <span>
                {{ log.request.url }}
              </span>
              <span>
                {{ log.response.status }}
              </span>
              <span>{{ log.execution_time | date: "MM/dd/yyyy HH:mm:ss" }}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <h3>
            Request
          </h3>
          <p>
            {{ log.request | json }}
          </p>
          <h3>
            Response
          </h3>
          <p>
            {{ log.response | json }}
          </p>
        </mat-expansion-panel>
        <mat-progress-spinner
          *ngIf="isPending"
          [diameter]="35"
          color="primary"
          mode="indeterminate"
        >
        </mat-progress-spinner>
      </cdk-virtual-scroll-viewport>
    </mat-accordion>
  </mat-card-content>
</mat-card>
