:host {
  display: block;
  color: black;

  ::ng-deep div.doc-content {
    padding-bottom: 50px;
    padding-left: 4%;
    padding-right: 8%;
    line-height: 2;

    doc-cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      gap: 2rem 2rem;
    }

    a {
      text-decoration: none;
      color: rgb(28, 28, 80);
      font-weight: 700;
      &.external-link {
        color: #1c1c50;
        &::after {
          content: "";
          background-image: url(../../../assets/icons/link.svg);
          background-size: contain;
          height: 19px;
          width: 19px;
          vertical-align: middle;
          display: inline-block;
          margin-left: 3px;
        }
      }
    }

    table {
      border-width: 1px 0 0 1px;
      overflow-x: auto;
      &,
      td,
      th {
        border-collapse: collapse;
        border-color: #ddd;
        border-style: solid;
      }
      td,
      th {
        border-width: 0 1px 1px 0;
        line-height: 1.5;
        padding: 1em;
        text-align: left;
      }
    }

    blockquote {
      border-left: 3px solid #1c1c50;
      padding-left: 15px;
    }

    pre code.hljs {
      padding: 1em;
      font-weight: 700;
      font-family: Menlo, Courier, monospace;
    }

    doc-toc {
      ul {
        padding-left: 8px;
        list-style-type: none;
        li {
          position: relative;
          padding: 0;
          a {
            font-weight: 400;
            text-decoration: none;
            color: black;
          }
        }
      }
      > ul {
        padding: 0;
        margin: 0;
      }
    }

    article.api-doc {
      header {
        label.type.controller {
          display: none;
        }
      }
      div.body {
        display: block;
        section.resource {
          &:not(:first-of-type) {
            margin-top: 65px;
          }

          h3 {
            span.method {
              vertical-align: middle;
              border: 2px solid #383838;
              padding: 3px 15px;
              border-radius: 23px;
            }
            span.path {
              margin-left: 6px;
              span.route-path {
                span {
                  margin-left: -2px;
                  &.separator {
                    color: #948b8b;
                  }
                  &.param {
                    color: #16c98d;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
