:host {
  display: block;

  ::ng-deep div.doc-content {
    width: 60%;
    padding: 0 4%;
    docs-table-of-contents {
      position: fixed;
      right: 10px;
      top: 60px;
      > ul {
        padding-left: 0;
        list-style-type: none;
        ul {
          list-style-type: none;
        }
        a {
          text-decoration: none;
          font-size: 13px;
        }
      }
    }
  }
}
