<mat-toolbar>
  <h4 class="mat-h4">
    <span>
      Welcome to Spica!
    </span>
  </h4>
</mat-toolbar>
<mat-card appearance="outlined" class="mat-elevation-z25 dashboard">
  <mat-card-content>
    <mat-list class="quicklinks" role="list">
      <h1 mat-subheader>Quicklinks</h1>
      <a mat-list-item target="_blank" href="//spicaengine.com/docs">
        Documentation
        <mat-icon>open_in_new</mat-icon>
      </a>
      <a mat-list-item target="_blank" href="//github.com/spica-engine/spica">
        Github
        <mat-icon>open_in_new</mat-icon>
      </a>
      <a mat-list-item target="_blank" href="//youtube.com/playlist?list=UUCfDC3-r1tIeYfylt_9QVJg">
        Youtube
        <mat-icon>open_in_new</mat-icon>
      </a>
      <a mat-list-item target="_blank" href="//github.com/spica-engine/spica/releases">
        Releases
        <mat-icon>open_in_new</mat-icon>
      </a>
      <a
        mat-list-item
        target="_blank"
        href="//github.com/spica-engine/spica/commit/COMMIT_HASH_PLACEHOLDER"
      >
        Current release: 0.0.0-PLACEHOLDER
        <mat-icon>open_in_new</mat-icon>
      </a>
    </mat-list>
    <ng-container *ngIf="!!(isTutorialEnabled$ | async)">
      <mat-divider [vertical]="true"></mat-divider>
      <mat-list class="tutorial-videos">
        <div class="header">
          <h1 mat-subheader>Tutorials</h1>
          <button
            color="warn"
            mat-icon-button
            (click)="onDisable()"
            matTooltip="Don't show this again"
          >
            <mat-icon>
              visibility_off
            </mat-icon>
          </button>
        </div>
        <div class="iframe-container" mat-list-item>
          <iframe
            src="https://www.youtube.com/embed/videoseries?list=UUCfDC3-r1tIeYfylt_9QVJg"
            title="Spica Tutorials"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </mat-list>
    </ng-container>
  </mat-card-content>
</mat-card>
<ng-container *ngIf="apiChart">
  <h2 class="status-header">
    Instance Usages
  </h2>
  <div class="api-container">
    <mat-card appearance="outlined" class="mat-elevation-z25">
      <mat-card-content>
        <div class="requests">
          <h3>Requests</h3>
          <mat-spinner color="accent" diameter="35" *ngIf="apiStatusPending"> </mat-spinner>
          <dashboard-default
            *ngIf="!apiStatusPending"
            [componentData$]="apiChart.request"
            type="line"
            (onUpdate)="onApiStatusFilterUpdate($event)"
            refresh="true"
          >
          </dashboard-default>
        </div>
        <div class="downloads">
          <h3>Downloads</h3>
          <mat-spinner color="accent" diameter="35" *ngIf="apiStatusPending"> </mat-spinner>
          <dashboard-default
            *ngIf="!apiStatusPending"
            [componentData$]="apiChart.downloaded"
            type="bar"
            refresh="true"
          >
          </dashboard-default>
        </div>
        <div class="uploads">
          <h3>Uploads</h3>
          <mat-spinner color="accent" diameter="35" *ngIf="apiStatusPending"> </mat-spinner>
          <dashboard-default
            *ngIf="!apiStatusPending"
            [componentData$]="apiChart.uploaded"
            type="bar"
            refresh="true"
          >
          </dashboard-default>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
<div class="status-container">
  <mat-card appearance="outlined" *ngFor="let stat of stats" class="mat-elevation-z25">
    <mat-card-content>
      <mat-list>
        <h3>{{ stat.module | titlecase }} Module</h3>
        <mat-list *ngFor="let statKv of stat.status | keyvalue">
          <h1 mat-subheader>{{ statKv.key | titlecase }}({{ statKv.value.unit }})</h1>
          <mat-list-item
            >- Current:
            <b>&ensp;{{ statKv.value.current }}</b>
          </mat-list-item>
          <mat-list-item
            >- Limit:
            <b>&ensp;{{ statKv.value.limit ? statKv.value.limit : "Unlimited" }}</b>
          </mat-list-item>
          <ng-container *ngIf="statKv.value.limit">
            <mat-list-item class="progress">
              <mat-progress-bar
                #progressBar
                mode="determinate"
                [value]="(statKv.value.current / statKv.value.limit) * 100"
                [ngClass]="{
                  low: progressBar.value < 50,
                  medium: progressBar.value >= 50 && progressBar.value < 90,
                  high: progressBar.value >= 90
                }"
              ></mat-progress-bar>
              <span class="inuse" [style.left]="'calc(' + progressBar.value + '% - 20px)'">
                {{ statKv.value.current / statKv.value.limit | percent }}
              </span>
            </mat-list-item>
          </ng-container>
        </mat-list>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
