:host {
  mat-toolbar {
    min-height: 250px;
    padding: 0 30px;
    align-items: flex-start;
    h4 > * {
      vertical-align: middle;
      margin-left: 5px;
    }
  }

  mat-toolbar + mat-card {
    margin-top: -85px;
  }

  mat-card {
    height: 320px;
    margin: 30px;
    mat-card-content {
      display: flex;
      align-items: center;
      height: 100%;
      mat-list.quicklinks {
        flex: 1;
        a {
          width: max-content;
          text-decoration: none;
          color: unset;
          font-size: 14px;
          font-weight: bold;

          mat-icon {
            margin-left: 4px;
            font-size: 14px;
            transition: transform 0.1s ease-out;
          }

          &:hover mat-icon {
            transform: translate(1px, -1px);
          }
        }
      }

      mat-divider {
        height: 100%;
      }

      mat-list.tutorial-videos {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 100%;

        div.header {
          > h1 {
            display: inline-block;
          }

          > button {
            float: right;
            mat-icon {
              font-size: 20px;
            }
          }
        }

        div.iframe-container {
          height: 100%;
          text-align: center;
          iframe {
            padding-left: 16px;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }

  h2.status-header {
    text-align: center;
  }

  div.status-container {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    justify-content: space-between;
    row-gap: 30px;
    > mat-card {
      margin: 0px;
      height: unset;
      width: calc(50% - 15px);
      mat-list {
        width: 100%;

        h3 {
          text-align: center;
        }

        mat-list-item.progress {
          position: relative;
          margin: 0 16px;
          width: unset;
          ::ng-deep div.mat-list-item-content {
            padding: 0px !important;
          }
          mat-progress-bar + span {
            position: absolute;
            top: 40px;
            width: 40px;
            text-align: center;
          }
        }
      }

      mat-progress-bar {
        height: 20px;
        border-radius: 3px;
      }

      ::ng-deep {
        .low .mat-progress-bar-fill::after {
          background-color: #28a745;
        }

        .medium .mat-progress-bar-fill::after {
          background-color: #f1cd00;
        }

        .high .mat-progress-bar-fill::after {
          background-color: #c91e1e;
        }
      }

      ::ng-deep .mat-progress-bar-buffer {
        background: #e9ecef;
      }
    }
  }

  div.api-container {
    width: 100%;
    mat-card {
      height: 1000px;
      mat-card-content {
        display: flex;
        column-gap: 20px;
        flex-wrap: wrap;
        align-items: flex-start;
        > div > h3 {
          text-align: center;
        }

        ::ng-deep {
          &:not(:first-of-type) dashboard-default button.refresh {
            display: none;
          }

          mat-form-field mat-hint {
            display: none;
          }
        }

        div.requests {
          width: 100%;
        }
        div.downloads,
        div.uploads {
          width: calc(50% - 10px);
        }

        mat-spinner {
          position: absolute;
          left: 50%;
          top: 50%;
        }
      }
    }
  }
}
