.pageContainer {
  padding: var(--padding-md);
}

.actionButton {
  padding: 0;
  width: unset !important;
}
.drawerContainer{
    height: 100%;
    width: 100%;
}
.drawerContent {
}

.drawerFooter {
  border-top: 1px solid var(--color-border);
  padding: var(--padding-md) var(--padding-xl);
}
.fieldContainer{
  flex: 1;
}

.drawerTitle, .drawerContent, .fieldContainer{
  padding: var(--padding-xl);
}

.policiesCell {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 280px;
}

.scrollContainer {
  flex: 1;
  overflow-y: auto;
  width: 100%;
}

.error {
  color: var(--color-danger);
  font-size: var(--font-size-sm);
}

.inputFieldContainer {
  width: 100%;
}
