.table {
  font-family: var(--font-family-base);
  border-radius: var(--border-radius-md);
  color: var(--color-font-primary);
  font-size: var(--font-size-md);
  font-weight: 400;
  border-bottom: none;
  white-space: nowrap;
  max-width: 100%;
  width: 100%;
  border-spacing: 0;
}

.table td:not([class*="focusedCell"]),
.table th {
  border-bottom: none !important;
  border-right: var(--border-default);
  border-color: var(--color-input-placeholder);
}

.table > tbody > tr:nth-child(even) {
  background-color: var(--color-zebra);
}
.table > tbody > tr:nth-child(odd) {
  background-color: var(--color-soft-light);
}

.columnHeaderText {
  display: flex;
  justify-content: normal !important;
  align-items: center;
  gap: var(--gap-md) !important;
  > span {
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 50px;
    width: min-content;
  }
  width: 80%;
}

.headerIcon {
  color: var(--color-icon);
}

.newFieldHeaderIcon {
  color: var(--color-font-primary);
}

.newFieldHeader {
  border-top-right-radius: var(--border-radius-md);
}

.multipleSelectionCell {
  display: flex;
  gap: var(--gap-md);

  .grayBox {
    width: 22px;
    height: 22px;
    border-radius: var(--border-radius-md);
    background-color: var(--color-border);
    font-family: var(--font-family-base);
    font-size: var(--font-size-md);
    line-height: 0 !important;
  }
}

.columnHeader {
  justify-content: space-between !important;
  background-color: var(--color-border);
}

.columnHeader:first-child {
  border-right: none;
}

.newFieldColumnButton {
  padding-left: 0;
  background-color: var(--color-border);
  font-weight: 600;
  line-height: 0 !important;
  span {
    font-weight: 600;
    font-size: var(--font-size-md);
    font-family: var(--font-family-base);
  }
  button {
    width: 100%;
    gap: var(--gap-xl);
  }
  max-width: 140px;
}

.newFieldCell {
  background-color: var(--color-border) !important;
}

.checkbox {
  label {
    width: 20px !important;
    height: 20px !important;
    border-color: var(--color-border) !important;
    border-radius: var(--border-radius-md) !important;
    cursor: pointer !important;
    position: relative !important;
  }

  div:nth-child(2) {
    display: none;
  }

  height: min-content !important;
  margin-top: -2px;
}

.selectColumn {
  min-width: 60px !important;
  flex: none !important;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 0 !important;
  * {
    padding-right: 0 !important;
  }
  > div > div {
    height: min-content !important;
  }
}

.selectCell {
  border-bottom: var(--border-default) !important;
  padding: var(--padding-md) !important;
  border-right: none !important;
}

.locationCell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.locationImage {
  width: 20px;
  height: 20px;
  border-radius: var(--border-radius-md);
}

.fileCell {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
  overflow: hidden;
  span {
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.newFieldColumn {
  flex: 1;
  position: relative;
  max-width: 140px;
  overflow-y: auto;

  &:not(:last-child) {
    border-right: none;
  }
}

.grayText {
  color: var(--color-input-placeholder);
}

.defaultCell {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.defaultCellData {
  width: 100%;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  align-items: center;
  align-content: center;
}
