.container {
  padding: var(--padding-md);
  background-color: var(--color-menu-background);
  border-radius: var(--border-radius-md);
  .title {
    color: #000000;
    font-weight: bold;
    padding: var(--padding-sm) 0;
  }
  .buttonText {
    color: var(--color-font-secondary);
  }
  .errorText {
    color: var(--color-danger);
    font-size: var(--font-size-md);
  }
}
