<ng-template #toolbar>
  <span>
    <h4>
      <mat-icon>vpn_key</mat-icon>
      <span>API Keys</span>
    </h4>
    <h6>
      Enable machine to machine communication with an API key
    </h6>
  </span>
  <span>
    <button mat-button [matMenuTriggerFor]="propertiesMenu">
      <mat-icon>view_column</mat-icon>
      Columns
      <mat-menu xPosition="before" #propertiesMenu="matMenu">
        <button mat-menu-item (click)="$event.stopPropagation()">
          <mat-checkbox
            [ngModel]="properties.length == displayedProperties.length"
            [indeterminate]="
              displayedProperties.length > 1 && displayedProperties.length < properties.length
            "
            (ngModelChange)="toggleDisplayAll($event)"
          >
            Display all
          </mat-checkbox>
        </button>
        <mat-divider></mat-divider>
        <button
          mat-menu-item
          disableRipple
          *ngFor="let property of properties"
          (click)="$event.stopPropagation()"
        >
          <mat-checkbox
            [ngModel]="displayedProperties.indexOf(property) > -1"
            (ngModelChange)="toggleProperty(property, $event)"
          >
            {{ property }}
          </mat-checkbox>
        </button>
      </mat-menu>
    </button>
    <button mat-button canInteract="passport:apikey:create" routerLink="/passport/apikey/add">
      <mat-icon>add</mat-icon>
      Add New
    </button>
  </span>
</ng-template>

<mat-card appearance="outlined" class="mat-elevation-z25">
  <mat-card-content>
    <table mat-table [dataSource]="apiKeys$" matSort (matSortChange)="onSortChange($event)">
      <ng-container matColumnDef="_id">
        <th
          mat-header-cell
          mat-resize-header
          mat-sort-header
          persist-header-width="Apikeys"
          *matHeaderCellDef
        >
          _id
        </th>
        <td mat-cell *matCellDef="let apiKey">{{ apiKey._id }}</td>
      </ng-container>
      <ng-container matColumnDef="key">
        <th
          mat-header-cell
          mat-resize-header
          mat-sort-header
          persist-header-width="Apikeys"
          *matHeaderCellDef
        >
          API Key
        </th>
        <td mat-cell *matCellDef="let apiKey">{{ apiKey.key }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th
          mat-header-cell
          mat-resize-header
          mat-sort-header
          persist-header-width="Apikeys"
          *matHeaderCellDef
        >
          Name
        </th>
        <td mat-cell *matCellDef="let apiKey">{{ apiKey.name }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th
          mat-header-cell
          mat-resize-header
          mat-sort-header
          persist-header-width="Apikeys"
          *matHeaderCellDef
        >
          Description
        </th>
        <td mat-cell *matCellDef="let apiKey">{{ apiKey.description }}</td>
      </ng-container>

      <ng-container matColumnDef="active">
        <th
          mat-header-cell
          mat-resize-header
          mat-sort-header
          persist-header-width="Apikeys"
          *matHeaderCellDef
        >
          Active
        </th>
        <td mat-cell *matCellDef="let apiKey">{{ apiKey.active }}</td>
      </ng-container>

      <ng-container matColumnDef="policies">
        <th
          mat-header-cell
          mat-resize-header
          mat-sort-header
          persist-header-width="Apikeys"
          *matHeaderCellDef
        >
          Policies
        </th>
        <td mat-cell *matCellDef="let apiKey">{{ apiKey.policies.toString() }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          Actions
        </th>
        <td mat-cell *matCellDef="let apiKey">
          <button
            mat-icon-button
            canInteract="passport:apikey:show"
            [resource]="apiKey._id"
            [routerLink]="apiKey._id + '/edit'"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            canInteract="passport:apikey:delete"
            [resource]="apiKey._id"
            color="warn"
            (confirm)="deleteApiKey(apiKey._id)"
            [matAwareDialog]="{
              title: 'Confirmation',
              templateOrDescription: dialogTemplate,
              answer: apiKey.name
            }"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedProperties"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedProperties"></tr>
    </table>
  </mat-card-content>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</mat-card>

<ng-template #dialogTemplate let-answer="answer">
  <p>This action will <b>permanently</b> delete this API key.</p>
  <p>
    Please type in <code>{{ answer }}</code> to confirm.
  </p>
</ng-template>
