.container {
  background: var(--color-menu-background);
  padding: var(--padding-md);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-md);

  .select {
    background: none;
    padding: 0 !important;

  }

  .content {
    border: var(--border-default);
    border-radius: var(--border-radius-md);
    padding: 0 var(--padding-md) !important;

    .separator {
      width: 1px;
      height: 100%;
      background: var(--color-border);
    }
  }

  .chip {
    font-size: var(--font-size-sm);
    border-radius: var(--border-radius-md);
    padding: var(--padding-sm) var(--padding-md) !important;
    cursor: pointer;
    justify-content: space-between !important;
    &.active {
      border-color: var(--color-primary);
    }
  }

  .button{
    font-size: var(--font-size-md);
  }
}
