.container {
  background: var(--color-menu-background);
  padding: var(--padding-md);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-md);
  --chip-height: 25px;

  .select {
    background: none;
    padding: 0;
    text-transform: uppercase;
  }

  .fileSizeInputsContainer {
    padding: var(--padding-md) 0 !important;
    .select {
      > div:first-child {
        width: min-content;
      }
      padding-right: var(--padding-md);
    }
  }

  .fileSizeInput {
    text-align: center;
  }

  .content {
    padding: var(--padding-sm) var(--padding-md);
    border: var(--border-default);
    border-radius: var(--border-radius-md);

    .left {
      border-right: var(--border-default);
      height: var(--chip-height);
    }
  }

  .content {
    height: var(--chip-height) !important;
  }

  .dateRangeContainer {
    height: var(--chip-height) !important;
  }

  .chip {
    font-size: var(--font-size-sm);
    border-radius: var(--border-radius-md);
    padding: var(--padding-sm) var(--padding-md) !important;
    width: 116px !important;
    height: var(--chip-height) !important;
    white-space: nowrap;
    cursor: pointer;
    justify-content: space-between !important;
    &.active {
      border-color: var(--color-primary);
    }
  }

  .button {
    font-size: var(--font-size-md);
  }
}

.selectPopup {
  text-transform: uppercase;
}
