:host {
  color: #1c1c50;
  display: block;
  section {
    padding: 4% 0;
    margin: auto;
    max-width: 1224px;
    h1 {
      font-size: 3.2rem;
      font-weight: 100;
      margin-top: 0;
      margin-bottom: 0;
    }
    h4 {
      font-size: 1rem;
      font-weight: 100;
    }
    div.top h4:last-child {
      font-size: 1rem;
      font-weight: 100;

      &::after {
        margin-top: 20px;
        display: block;
        content: "";
        height: 2px;
        width: 75px;
        background: #15bde8;
      }
    }

    .mobile-h1 {
      font-size: 2.2rem;
    }
  }
}
