:host {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: var(--background-background);
  img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  mat-card {
    width: 357px;
    /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
    mat-card-content {
      margin-top: 26px;
      mat-form-field {
        width: 100%;
        /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
        ::ng-deep .mat-form-field-prefix {
          margin-left: 5px;
          align-self: center;
        }
      }
    }
  }

  button:not(.back) {
    width: 100%;
    margin: 5px 0px;
    overflow: hidden;
    &:first-of-type {
      margin-bottom: 10px;
    }
  }

  button.back {
    position: absolute;
    left: 0;
    top: 0;
    mat-icon {
      font-size: 20px;
    }
  }
}
