:host {
  mat-toolbar {
    min-height: 250px;
    padding: 0 30px;
    align-items: flex-start;
    flex-direction: column;
    ::ng-deep {
      span:first-of-type {
        h4 {
          & > * {
            vertical-align: middle;
            display: inline-block;
          }
          mat-icon {
            margin-left: -3px;
          }
          span {
            margin-left: 5px;
          }
        }
        h6 {
          font-size: 14px;
        }
      }
    }

    div.actions {
      align-self: flex-end;
      margin-top: 50px;
    }
  }
  mat-card {
    width: 100%;
    box-shadow: unset;
  }

  .drag-list {
    list-style-type: none;
    padding: 0;
  }

  .drag-list li {
    display: table-cell;
    padding: 4px;
  }

  .drag-container {
    margin: 30px;
    margin-top: -85px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .drag-box {
    cursor: pointer;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  }

  .drag-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
    opacity: 0.6;
  }

  .cdk-drop-list {
    display: block;
    width: 100%;
    background: transparent !important;
    min-height: 20px;

    > .draggable-item {
      &:last-of-type {
        ::ng-deep {
          .schema-card {
            border-bottom: 0px;
          }
        }
      }
    }
  }
  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}
::ng-deep {
  .grouping {
    mat-expansion-panel-header {
      padding: 8px;
      padding-right: 16px;
      .panel-title {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
        > div {
          align-items: center;
          display: flex;
          .drag-button {
            position: relative;
            transform: unset;
            margin-left: -15px;
          }
        }
      }
    }
    .mat-expansion-panel-body {
      padding: unset;
      padding-left: 0;
      padding-bottom: 16px;
      .draggable-item {
        padding-left: 24px;
      }
    }
  }
  .schema-card {
    user-select: none;
    display: flex;
    width: 100%;
    box-shadow: unset !important;
    height: auto;
    align-items: center;
    justify-content: space-between;
    background: transparent !important;
    flex-direction: row;
    padding: 3px 7px;
    border-bottom: 1px solid var(--foreground-dividers);
    font-weight: 400;
    > div:first-of-type {
      transform: translateX(22px);
    }
    .schema-title {
      transition: margin 500ms;
      flex-direction: column;
      width: 200px;
      margin-bottom: 5px;
      display: flex;
      cursor: pointer;
      &:focus {
        outline: none;
      }

      > div {
        display: flex;
        align-items: center;
        span {
          font-size: 1rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-transform: capitalize;
        }
      }
      small {
        width: 100%;
        opacity: 0.8;
        margin-top: 5px;
        font-size: 0.7rem;
        height: 11px;
        align-items: center;
        display: flex;
      }
    }
    .actions {
      display: flex;
    }
  }
  .categoryDialog {
    mat-form-field {
      width: 100%;
    }
    .actions {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  color: var(--primary-text);
  .drag-button {
    z-index: 0;
  }
}
.drag-part {
  margin-bottom: 5px;
  .mat-expansion-panel {
    background: transparent;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 10%), 0px 2px 2px 0px rgb(0 0 0 / 7%),
      0px 1px 5px 0px rgb(0 0 0 / 6%);
  }
}
.empty-category {
  min-height: 50px;
  position: relative;
}
.cdk-drag {
  position: relative;
}
.drag-button {
  position: absolute;
  transform: translate(-10px, 3px);
  opacity: 0.6;
  cursor: move;
  z-index: 2;
  mat-icon {
    font-size: 1.5rem;
    font-style: normal;
  }
}
