::ng-deep {
  .mat-menu-panel {
    margin-top: 15px;
    min-width: 200px;
    background: none;
    &::before {
      display: block;
      content: "";
      height: 8px;
      background-image: url(../../../assets/images/menu-arrow.svg);
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 7px;
    }
    .mat-menu-content {
      border-radius: 10px;
      background: white;
    }
  }
  .support-us {
    background: white;
    color: black !important;
    font-weight: 700;
    white-space: pre;
    text-align: center;
  }
}
:host {
  background-image: url("../../../assets/images/background.svg");
  background-size: cover;
  min-height: 850px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  nav {
    li:focus,
    img:focus {
      outline: 0;
    }
    padding-bottom: 20px;
    div:first-of-type {
      margin-bottom: 20px;
      ul:first-of-type li:first-of-type a {
        color: white;
        font-size: 1rem;
        padding: 0px 20px;
        border-radius: 15px;
        background-color: #15bde8;
        line-height: 28px !important;
      }
    }

    div:nth-child(2) {
      img {
        cursor: pointer;
        max-width: 50%;
      }
    }

    margin: 0 10%;
    span {
      .beta {
        position: absolute;
        width: 173px;
        height: 27px;
        background: #f2f1f0;
        top: 36px;
        left: -36px;
        text-align: center;
        font-size: 17px;
        font-weight: 700;
        color: #1c1c50;
        line-height: 27px;
        transform: rotate(-45deg);
      }
      img {
        height: 45px;
        vertical-align: middle;
        cursor: pointer;
      }
    }
    .handset {
      li:not(:last-child) {
        line-height: 40px;
      }
    }
    ul {
      list-style-type: none;
      padding-left: 0;
      li {
        cursor: pointer;
        &:not(:first-child) {
          margin-left: 35px;
        }
        & > * {
          vertical-align: middle;
        }
        &:last-child {
          a {
            > * {
              vertical-align: middle;
            }
            span {
              background: #fff;
              color: black;
              text-align: center;
              display: inline-block;
              border-radius: 9px;
              font-weight: 700;
              font-size: 14px;
              padding: 2px 14px;
              margin-left: 5px;
            }
          }
        }
      }
      &[aria-expanded~="true"] {
        color: #58bce4;
      }
    }
  }
}
