@use "../../../styles/mixins";
.container {
  width: 100%;
  @include mixins.flexAlignCenterJustifyBetween;
}

.columnsPopoverContent {
  z-index: 4;
  > div {
    max-height: 400px;
    overflow-y: auto;
    width: 100%;
  }
  min-width: 200px;
}

.displayAllCheckbox {
  position: sticky;
  top: 0;
  background: white;
  width: 100% !important;
  border-bottom: var(--border-default);
}

.actionBar button {
  height: 32px !important;
}
