<section class="header" (click)="_onTouchedFn()">
  <span class="title">
    <h5 class="mat-mdc-h5 mat-hint">{{ schema.title }}</h5>
    <small class="mat-mdc-hint" *ngIf="schema.description">{{ schema.description }}</small>
  </span>
  <span class="buttons">
    <ng-container *ngIf="showLatLng">
      <mat-form-field>
        <mat-label>Latitude</mat-label>
        <input
          matInput
          type="number"
          aria-controls="none"
          [disabled]="_disabled"
          [(ngModel)]="value.coordinates[1]"
          (ngModelChange)="callOnChange(); applyCoords()"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Longitude</mat-label>
        <input
          matInput
          type="number"
          [disabled]="_disabled"
          [(ngModel)]="value.coordinates[0]"
          (ngModelChange)="callOnChange(); applyCoords()"
        />
      </mat-form-field>
    </ng-container>
    <button
      mat-icon-button
      mat-flat-button
      [matTooltip]="(showLatLng ? 'Hide' : 'Show') + ' Latitude and Longitude'"
      (click)="showLatLng = !showLatLng"
    >
      <mat-icon>control_camera</mat-icon>
    </button>
    <button
      mat-icon-button
      mat-flat-button
      matTooltip="Set to current location"
      [disabled]="!isGeolocationSupported"
      (click)="setToCurrentLocation()"
    >
      <mat-icon>my_location</mat-icon>
    </button>
    <ng-content></ng-content>
  </span>
</section>
<section
  class="content"
  leaflet
  (leafletClick)="applyCoords($event.latlng); callOnChange()"
  [leafletCenter]="_center"
  [leafletOptions]="_options"
>
  <div [leafletLayer]="_marker"></div>
</section>
