:host ::ng-deep {
  .mat-list-item-content {
    padding: 0px !important;
  }

  mat-toolbar {
    min-height: 250px;
    padding: 0 30px;
    align-items: flex-start;
    h4 {
      mat-icon,
      span {
        vertical-align: middle;
        margin-left: 5px;
      }
    }
  }
  mat-card {
    padding: 25px;
    margin: 30px;
    margin-top: -110px;
    // For proper border radius
    overflow: hidden;

    mat-card-content form mat-list h4 {
      padding: 16px 0px 24px 0px;
    }

    mat-form-field.url {
      width: 100%;
    }

    mat-list-item.triggers {
      margin-top: 10px;
    }

    mat-list-item.triggers mat-form-field {
      width: 20%;
      margin-right: 10px;
    }

    .status {
      width: 20%;
      margin: 0 15px;
      height: 100%;
    }
  }
}
