:host {
  /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
  ::ng-deep .mat-mdc-list-item-content {
    padding: 0px !important;
  }

  mat-toolbar {
    min-height: 250px;
    padding: 0 30px;
    align-items: flex-start;
    h4 {
      mat-icon,
      span {
        vertical-align: middle;
        margin-left: 5px;
      }
    }
  }
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  mat-card {
    margin: 30px;
    margin-top: -85px;
    overflow: hidden;
    /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
    /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
    /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
    mat-list {
      padding-top: 0px;
      /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
      /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
      mat-list-item {
        margin-top: 10px;
        height: auto !important;
        &:nth-child(1),
        &:nth-child(2) {
          margin-top: 0px;
          padding-top: 0px !important;
          /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
          ::ng-deep .mat-mdc-list-item-content {
            display: flex;
            mat-form-field {
              flex: 1;
            }
            span {
              vertical-align: middle;
            }
          }
        }

        &.triggers {
          mat-form-field:not(:first-of-type) {
            width: 20%;
            margin: 15px;
          }
          span {
            margin-left: 15px;
          }
        }
      }
    }
  }
}
