<div class="content-container">
  <div class="logo">
    <img src="assets/logo-1.png" />
  </div>
  <div class="content">
    <div class="title">
      <h5>Let's create your first Restful API</h5>
    </div>
    <mat-vertical-stepper linear #stepper>
      <mat-step editable="false">
        <ng-template matStepLabel>Creating a bucket</ng-template>
        <h4 class="row">
          Buckets are the data collections in your Spica project. You can define a flexible data
          model for any bucket. So let's create your first bucket here
        </h4>
        <div class="row" *ngFor="let property of properties; index as i">
          <mat-form-field>
            <mat-label>Field Name</mat-label>
            <input [(ngModel)]="property.key" matInput placeholder="Name of the field" required />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select [(ngModel)]="property.type" required>
              <mat-option *ngFor="let inputType of inputTypes" [value]="inputType">
                {{ inputType }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-icon-button *ngIf="properties.length > 1" (click)="removeProperty(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>

        <div class="actions">
          <button mat-stroked-button (click)="addProperty()">
            <mat-icon>add</mat-icon>
            <span>
              New property
            </span>
          </button>
          <button mat-button [disabled]="isSchemaInvalid()" (click)="saveSchema()">
            <mat-icon>
              save
            </mat-icon>
            <span>
              Save
            </span>
          </button>
        </div>
      </mat-step>
      <mat-step editable="false">
        <ng-template matStepLabel>Creating an entry</ng-template>
        <h4 class="row">
          Now, create few entries for your project.
        </h4>
        <div class="placers">
          <ng-container *ngFor="let property of bucket.properties | keyvalue">
            <span
              class="placer"
              [name]="property.key"
              [inputPlacer]="property.value"
              [(ngModel)]="entry[property.key]"
            >
            </span>
          </ng-container>
        </div>
        <button mat-button (click)="insertEntry()">
          <mat-icon>save</mat-icon>
          <span>Save</span>
        </button>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Access your endpoint</ng-template>
        <div class="result">
          <div class="example">
            <span>Headers:</span>
            <pre [innerHtml]="exampleInfo.headers | json"></pre>
            <span>Url:</span>
            <pre [innerHtml]="exampleInfo.url"></pre>
            <button mat-button (click)="showEntry = true">
              <mat-icon>
                http
              </mat-icon>
              <span>
                Send Request
              </span>
            </button>
            <ng-container *ngIf="showEntry">
              <span>Response:</span>
              <pre [innerHtml]="entry | json"></pre>
            </ng-container>
          </div>
          <mat-divider [vertical]="true"></mat-divider>
          <div class="curl">
            <span>
              Curl Command:
            </span>
            <pre [innerHtml]="curl"></pre>
            <div>
              <button mat-button #clipboard="matClipboard" [matClipboard]="curl">
                <mat-icon [matTooltip]="clipboard.toolTip">
                  {{ clipboard.icon }}
                </mat-icon>
                <span>
                  Copy to clipboard
                </span>
              </button>
            </div>
          </div>
        </div>
      </mat-step>
    </mat-vertical-stepper>
    <button class="dismiss-button" color="warn" mat-flat-button (click)="hideTutorial()">
      Don't show this again
    </button>
  </div>
</div>
