<form #form="ngForm" (keydown.enter)="form.valid && save()">
  <mat-list>
    <h4 mat-dialog-title>
      {{ function._id ? "Update function" : "Add new function" }}
    </h4>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          matInput
          #nameModel="ngModel"
          [(ngModel)]="function.name"
          name="name"
          required
          minlength="3"
          maxlength="50"
        />
        <mat-hint>Name of the function.</mat-hint>
        <mat-error *ngIf="nameModel?.errors?.required">Name is required.</mat-error>
        <mat-error *ngIf="nameModel?.errors?.minlength">
          Name must be greater than {{ nameModel.errors.minlength.requiredLength }} characters.
        </mat-error>
        <mat-error *ngIf="nameModel?.errors?.maxlength">
          Name must be less than {{ nameModel.errors.maxlength.requiredLength }} characters.
        </mat-error>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item>
      <mat-form-field>
        <mat-label>Language</mat-label>
        <mat-select
          [disabled]="function._id"
          [(ngModel)]="function.language"
          #languageModel="ngModel"
          name="language"
        >
          <mat-select-trigger>
            <svg viewBox="0 0 24 24" [ngSwitch]="languageModel.value">
              <path
                *ngSwitchCase="'javascript'"
                fill="currentColor"
                d="M3,3H21V21H3V3M7.73,18.04C8.13,18.89 8.92,19.59 10.27,19.59C11.77,19.59 12.8,18.79 12.8,17.04V11.26H11.1V17C11.1,17.86 10.75,18.08 10.2,18.08C9.62,18.08 9.38,17.68 9.11,17.21L7.73,18.04M13.71,17.86C14.21,18.84 15.22,19.59 16.8,19.59C18.4,19.59 19.6,18.76 19.6,17.23C19.6,15.82 18.79,15.19 17.35,14.57L16.93,14.39C16.2,14.08 15.89,13.87 15.89,13.37C15.89,12.96 16.2,12.64 16.7,12.64C17.18,12.64 17.5,12.85 17.79,13.37L19.1,12.5C18.55,11.54 17.77,11.17 16.7,11.17C15.19,11.17 14.22,12.13 14.22,13.4C14.22,14.78 15.03,15.43 16.25,15.95L16.67,16.13C17.45,16.47 17.91,16.68 17.91,17.26C17.91,17.74 17.46,18.09 16.76,18.09C15.93,18.09 15.45,17.66 15.09,17.06L13.71,17.86Z"
              />
              <path
                *ngSwitchCase="'typescript'"
                fill="currentColor"
                d="M3,3H21V21H3V3M13.71,17.86C14.21,18.84 15.22,19.59 16.8,19.59C18.4,19.59 19.6,18.76 19.6,17.23C19.6,15.82 18.79,15.19 17.35,14.57L16.93,14.39C16.2,14.08 15.89,13.87 15.89,13.37C15.89,12.96 16.2,12.64 16.7,12.64C17.18,12.64 17.5,12.85 17.79,13.37L19.1,12.5C18.55,11.54 17.77,11.17 16.7,11.17C15.19,11.17 14.22,12.13 14.22,13.4C14.22,14.78 15.03,15.43 16.25,15.95L16.67,16.13C17.45,16.47 17.91,16.68 17.91,17.26C17.91,17.74 17.46,18.09 16.76,18.09C15.93,18.09 15.45,17.66 15.09,17.06L13.71,17.86M13,11.25H8V12.75H9.5V20H11.25V12.75H13V11.25Z"
              />
            </svg>
            <mat-label>{{ languageModel.value | titlecase }}</mat-label>
          </mat-select-trigger>
          <mat-option value="javascript">Javascript</mat-option>
          <mat-option value="typescript">Typescript</mat-option>
        </mat-select>
        <mat-hint>Language of the function.</mat-hint>
      </mat-form-field>
    </mat-list-item>
    <ng-container *ngIf="information | async; let information">
      <mat-list-item>
        <div class="timeout">
          <mat-label>
            Timeout in seconds
            <b>({{ formatTimeout(function.timeout || information.timeout) }})</b>
          </mat-label>
          <mat-slider
            thumbLabel
            [displayWith]="formatTimeout"
            min="0.1"
            step="0.1"
            [max]="information.timeout"
            [ngModel]="function.timeout || information.timeout"
            (ngModelChange)="function.timeout = $event"
            name="timeout"
            #timeoutModel="ngModel"
          >
          </mat-slider>
          <mat-error *ngIf="timeoutModel?.errors?.required">Timeout is required.</mat-error>
          <mat-error *ngIf="timeoutModel?.errors?.min">
            Timeout value must be positive.
          </mat-error>
        </div>
      </mat-list-item>
      <ng-container *ngIf="!function._id">
        <h4 mat-subheader>
          Trigger
        </h4>
        <mat-divider></mat-divider>
        <mat-list-item class="trigger">
          <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select
              #typeModel="ngModel"
              name="trigger-type"
              [(ngModel)]="function.triggers[0].type"
              (ngModelChange)="function.triggers[0].options = {}"
              required
            >
              <mat-select-trigger
                *ngIf="information.enqueuers | enqueuer: function.triggers[0].type; let enqueuer"
              >
                <mat-icon>{{ enqueuer.description.icon }}</mat-icon>
                <mat-label>{{ enqueuer.description.title }}</mat-label>
              </mat-select-trigger>
              <mat-option
                *ngFor="let enqueuer of information.enqueuers"
                [value]="enqueuer.description.name"
              >
                <mat-icon>{{ enqueuer.description.icon }}</mat-icon>
                <mat-label>
                  <span>{{ enqueuer.description.title }}</span> —
                  <small class="mat-mdc-small">{{ enqueuer.description.description }}</small>
                </mat-label>
              </mat-option>
            </mat-select>
            <mat-error *ngIf="typeModel.errors?.required">You must select an enqueuer.</mat-error>
          </mat-form-field>
        </mat-list-item>
        <ng-container
          *ngIf="
            (information.enqueuers | enqueuer: function.triggers[0].type)?.options
              | conditionalSchema: function.triggers[0].options;
            let options
          "
        >
          <mat-list-item
            class="trigger-details"
            *ngFor="let propertyKv of options.properties | keyvalue; last as isLast"
          >
            <div
              [inputPlacer]="propertyKv.value"
              [(ngModel)]="function.triggers[0].options[propertyKv.key]"
              [name]="propertyKv.key"
              [required]="options.required?.indexOf(propertyKv.key) > -1"
            ></div>
            <span class="http-url" *ngIf="function.triggers[0].type == 'http' && isLast">
              {{ apiUrl + "/fn-execute" + function.triggers[0].options.path }}
            </span>
          </mat-list-item>
        </ng-container>
      </ng-container>
    </ng-container>
  </mat-list>

  <button
    class="save save-button"
    mat-button
    *matSave="$save | async; let state"
    [disabled]="form.invalid || !!state"
    [canInteract]="function._id ? 'function:update' : 'function:create'"
    [resource]="function._id ? function._id : undefined"
    (click)="save()"
    [ngSwitch]="state"
  >
    <mat-icon *ngSwitchDefault>save</mat-icon>
    <mat-progress-spinner
      *ngSwitchCase="'saving'"
      [diameter]="18"
      color="accent"
      mode="indeterminate"
    >
    </mat-progress-spinner>
    <mat-icon *ngSwitchCase="'saved'">done</mat-icon>
    <mat-icon *ngSwitchCase="'failed'">clear</mat-icon>
    <span>{{ (!state ? "save" : state) | titlecase }}</span>
  </button>
</form>
