::ng-deep {
  .cdk-drag {
    .property-meta {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .cdk-drag-placeholder {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    display: flex;
    width: 100%;
    background: rgba(var(--background-background-rgb), 0.4) !important;
    box-shadow: unset !important;
    .mat-expansion-indicator {
      display: none;
    }
  }
  .icon-container {
    padding: 0px 8px;
    .search-icon {
      width: 100%;
      mat-icon {
        color: var(--foreground-icon);
      }
    }
  }

  .property {
    width: 100%;
    padding: 5px 0px;
    &:not(:last-of-type) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    }
  }

  .readonly {
    mat-divider {
      margin-bottom: 20px !important;
    }
    > div {
      display: flex;
      margin-top: 20px;
      mat-hint {
        margin-left: 5px;
        align-self: center;
      }
    }
  }
}

:root.dark :host {
  --opacity: 0.2;
}

:host {
  display: flex;
  --opacity: 0.5;
  .left-content {
    display: block;
    width: 50%;
    min-width: 300px;
    max-width: 400px;
    border-right: 1px solid rgba(0, 0, 0, 0.08);
  }
  .right-content {
    flex: 1;
  }
  .hide {
    display: none;
  }
  mat-toolbar {
    min-height: 250px;
    padding: 0 30px;
    align-items: flex-start;
    flex-direction: column;
    .bucket-title {
      margin-left: -10px;
      display: flex;
      align-items: center;
    }
    div.actions {
      max-width: 100%;
      align-self: flex-end;
      overflow-x: scroll;
      margin-top: 56px;
      button:not(:last-of-type) {
        margin-right: 5px;
      }
      .mat-flat-button {
        border-bottom: 1px solid rgba(var(--foreground-base-rgb), 0.1);
      }
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
      }
    }
  }

  .input-defaults {
    width: 50%;
    margin-top: 20px;
    ::ng-deep {
      mat-menu {
        padding: 10px;
        mat-radio-group {
          display: flex;
          flex-direction: column;
          margin: 15px 0;
        }
      }
    }
  }

  .bucket-settings {
    margin: 30px;
    margin-top: -85px;
    padding: 16px 36px;
    mat-list {
      > span {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        padding-right: 5px;
        span.errors {
          mat-error:not(:first-of-type) {
            margin-top: 5px;
          }
        }
      }

      mat-divider {
        position: relative;
        width: 100%;
      }

      h4[mat-subheader] {
        mat-icon {
          margin-right: 10px;
        }
        mat-button-toggle-group {
          margin-left: auto;
        }
      }

      .code-editors {
        display: flex;
        gap: 10px;
        div {
          flex: 1;
          a {
            text-decoration: none !important;
            color: unset !important;
          }
          b {
            line-height: 2.5rem;
            font-weight: 400;
            cursor: pointer;
            display: flex;
            align-items: center;
            mat-icon {
              margin-right: 10px;
            }
          }
          &:last-of-type {
            b {
              justify-content: flex-end;
              mat-icon {
                margin-left: 10px;
                margin-right: 0px;
              }
            }
          }
          code-editor {
            border-radius: 3px;
          }
        }
      }

      mat-list-item {
        &:first-of-type {
          form {
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: space-between;
            mat-form-field:first-of-type {
              flex: 3;
            }
            mat-form-field:last-of-type {
              margin-left: 10px;
              flex: 4;
            }
          }
        }

        &:nth-of-type(2) {
          code-editor {
            min-height: 200px;
          }
        }

        &.properties {
          .property-meta {
            display: flex;
            justify-content: space-between;
            width: 100%;
            .property-title {
              align-items: center;
              display: flex;
              .icon {
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px;
                mat-icon {
                  color: white;
                  font-size: 1rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 20px;
                  height: 20px;
                }
                margin-right: 10px;
              }
            }

            .property-description {
              button {
                flex-shrink: 0;
                line-height: 0px;
                margin-right: 5px;
              }

              button.cdk-drag-handle {
                cursor: move;
              }
            }
          }
        }

        &.property {
          input[name="property-name"] {
            text-transform: lowercase;
          }
        }

        &.validation {
          margin: 0;
          padding: 0;
        }

        .add-property {
          border: 1px dashed rgba(0, 0, 0, 0.08);
          width: 100%;
          padding: 20px;
          margin-top: 10px;
        }
      }
    }

    ::ng-deep mat-card-content {
      margin-bottom: 0px;
      mat-list {
        mat-list-item {
          height: auto;
          padding-top: 34px;
          padding-bottom: 10px;

          .mat-list-item-content {
            display: contents;
          }
        }
      }
      mat-grid-list {
        mat-grid-tile {
          overflow: auto;
          .mat-figure {
            flex-flow: column;
            justify-content: unset;
            padding: 5px;
            background: rgba(var(--background-app-bar-rgb), 0.5);
            mat-card {
              width: 100%;
              padding: 12px;
              border-radius: unset;
              border-bottom: 1px solid rgba(var(--background-app-bar-rgb), 0.5);
              > * {
                vertical-align: middle;
              }
            }
            > span {
              position: absolute;
              left: 50%;
              top: 50%;
              z-index: 0;
              transform: translate(-50%, -50%);
              font-size: 26px;
              font-weight: 400;
              color: var(--foreground-disabled-text);
            }
          }
        }
      }
    }

    .remove-history {
      margin: 50px 0px;
      display: block;
      button {
        float: right;
        mat-progress-spinner {
          display: inline-block;
          margin-right: 5px;
        }
      }
    }
  }

  .toggles {
    div:not(.limitations-details) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    div.limitations-details {
      margin: 20px 0px 20px 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      mat-form-field:nth-of-type(1) {
        flex: 1;
      }
      mat-form-field:nth-of-type(2) {
        flex: 2;
        margin-left: 10px;
      }
    }

    mat-error {
      font-size: 12px !important;
    }
  }
}
