::ng-deep {
  mat-expansion-panel {
    .mat-subheader {
      padding: 0 !important;
    }
    .mat-expansion-indicator {
      height: 23px;
    }

    .mat-expansion-panel-header-description {
      flex-grow: initial !important;
    }

    .drag-box {
      cursor: move;
      flex: unset;
      padding-top: 6px;
    }
  }
}

:host {
  mat-toolbar {
    .bucket-title {
      display: flex;
      align-items: center;
    }
  }

  .input-defaults {
    width: 50%;
    margin-top: 20px;
    ::ng-deep {
      mat-menu {
        padding: 10px;
        mat-radio-group {
          display: flex;
          flex-direction: column;
          margin: 15px 0;
        }
      }
    }
  }

  mat-card {
    &.margin-5 {
      margin: 30px;
    }
    ::ng-deep {
      mat-card-content {
        margin-bottom: 0px;
        mat-divider {
          position: relative;
          width: 100%;
        }
        mat-list {
          mat-list-item {
            height: auto;
            padding-top: 34px;
            padding-bottom: 10px;

            .mat-list-item-content {
              display: contents;
              mat-form-field {
                margin-left: 10px;
              }
              form.title-description {
                display: flex;
                mat-form-field.title {
                  width: 35%;
                }

                mat-form-field.description {
                  width: 40%;
                }
                div.read-only {
                  width: 25%;
                  text-align: center;
                }
              }
            }

            &.properties {
              mat-expansion-panel {
                box-shadow: none;
                margin-top: 10px;
                mat-panel-title {
                  padding-top: 10px;
                  mat-icon {
                    margin-right: 10px;
                  }
                }

                mat-panel-description {
                  button {
                    flex: unset;
                    padding: 0;
                    min-width: 0;
                    width: auto;
                    height: auto;
                    flex-shrink: 0;
                    line-height: 0px;
                    border-radius: 50%;
                    margin-right: 5px;
                  }
                }
              }
              .input-placer-area {
                padding: 20px;
              }
            }

            &.add-property {
              input[name="property-name"] {
                text-transform: lowercase;
              }
            }

            &.validation {
              margin: 0;
              padding: 0;
            }
          }
        }
        mat-grid-list {
          mat-grid-tile {
            border: 1px solid rgba(var(--foreground-divider-rgb), 0.04);
            .mat-figure {
              flex-flow: column;
              justify-content: unset;
              padding: 5px;
              background: var(--primary-50);
              mat-card {
                width: 100%;
                padding: 12px;
                border-radius: unset;
                border-bottom: 1px solid var(--foreground-divider);
                > * {
                  vertical-align: middle;
                }
              }
              > span {
                position: absolute;
                left: 50%;
                top: 50%;
                z-index: 0;
                transform: translate(-50%, -50%);
                font-size: 26px;
                font-weight: 400;
                color: var(--foreground-disabled-text);
              }
            }
          }
        }
      }
    }
    mat-card-actions {
      margin: 0;
      padding: 0;
      mat-progress-spinner.save {
        display: inline;
      }
    }
  }
}
