<div>
  <h3>Create A {{ (data.type ? data.type : "folder").replace("_", " ") | titlecase }}</h3>
  <mat-divider></mat-divider>
  <mat-form-field>
    <mat-label>Name</mat-label>

    <input
      required
      matInput
      name="name"
      [(ngModel)]="name"
      (ngModelChange)="updateExistsState(nameModel, $event)"
      #nameModel="ngModel"
      (keyup.enter)="!nameModel.invalid && dialogRef.close(name)"
      pattern="^[^\/\ \.]+$"
    />
    <mat-error *ngIf="nameModel?.errors?.nameExists">
      This name already exists.
    </mat-error>
    <mat-error *ngIf="nameModel?.errors?.pattern">
      Name must not include slash, space or dot characters.
    </mat-error>
  </mat-form-field>
  <button mat-button [disabled]="nameModel.invalid" (click)="dialogRef.close(name)">
    <mat-icon>save</mat-icon>Save
  </button>
</div>
