.navigation {
  flex: 8;
  height: 100%;
  background: white;
  border-radius: var(--border-radius-md);
  display: flex;
  flex-direction: column;
  gap: 0;

  .items {
    display: flex;
    flex-direction: column;
    gap: 0;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: var(--color-border) transparent;
    scrollbar-width: thin;
  }

  .items > div:hover:not(.accordion) {
    background-color: var(--color-hover);
  }

  .noLineHeight {
    line-height: 0 !important;
  }
}

.accordionHeader {
  height: 32px !important;
  svg {
    display: none;
  }
  &:hover svg {
    display: block;
  }
}

.accordion > div > div:nth-child(2) > div > div > div {
  padding: var(--padding-xs) !important;
}

.accordion > div:has(.accordionOpen) > div:nth-child(2) {
  padding: var(--padding-md) 0 !important;
}

.selected {
  background-color: var(--color-hover);
}