.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bucketTable {
  height: calc(100vh - 200px);
  width: 100%;
}

.emptyState {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  color: #666;
  font-size: 16px;
  
  p {
    margin: 0;
  }
}

