.tableContainer{
    display: flex !important;
    border:1px solid var(--color-border) !important;
    width: 100% !important;
    border-radius: var(--border-radius-md) !important;
    overflow: hidden !important;


    .table{
        border:none !important;
        overflow: scroll !important;
        width: 90% !important;
        background-color: var(--color-soft-light) !important;
        font-size: var(--font-size-md) !important;
        color: var(--color-font-primary) !important;
    }
    
    .column{
        border-color: var(--color-input-placeholder) !important;

        .cell{
            height: 36px !important;
            background-color: var(--color-soft-light) !important;
            border-color: var(--color-zebra);
        } 

        .cell:nth-child(odd){
            background-color: var(--color-zebra) !important;
        }
    }
    
    .column:first-child{
        border-top-left-radius: var(--border-radius-md) !important;
        border-bottom-left-radius: var(--border-radius-md) !important;
    }
    
    
    .header{
        background-color: var(--color-border) !important;
        color: var(--color-font-primary) !important;
        display: flex !important;
        gap: var(--gap-md) !important;
        width: 100% !important;
        justify-content: start !important;
        height: 36px !important;
        font-size: var(--font-size-md) !important;
    
    }



    .newFieldContainer{
        width: 10% !important;
        border-left: 1px solid var(--color-input-placeholder) !important;
        background-color: var(--color-border) !important;

    }

    .newFieldHeader{
        width: 100% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        padding: var(--padding-md) !important;
        color: var(--color-primary) !important;
        font-weight: 600 !important;
        font-size: var(--font-size-md) !important;
        cursor: pointer !important;

    }
}
