::ng-deep .language-menu {
  width: 40px;
  min-width: unset;
  overflow: visible;
  background: none;
  border-radius: 24px;
  margin-top: 5px;
  transform: translateX(-3px);
  transition: transform 0.3s ease-in;
  .mat-menu-content {
    padding: 0 !important;
    button:not(:first-of-type) {
      margin-top: 4px;
    }
  }
}

:host {
  display: inline-block;
  vertical-align: top;
}
