:host {
  ::ng-deep .input-placer-input {
    display: block;
    &.boolean,
    &.storage {
      padding: 0 10%;
    }
    > mat-form-field {
      width: 80% !important;
      min-width: unset !important;
    }
  }
}
