:host {
  ::ng-deep {
    .mat-tab-labels {
      justify-content: center;
    }

    .input-placer-input {
      display: block;
      &.boolean,
      &.storage {
        padding: 0 10%;
      }

      > mat-form-field,
      section,
      section ~ mat-hint {
        width: 80% !important;
        margin: 0 10%;
      }
    }
  }

  mat-form-field,
  section {
    width: 80% !important;
    margin: 0 10%;
  }
  .filter-buttons {
    display: flex;
    justify-content: center;
    button {
      margin: 5px;
    }
  }

  div.tab-content {
    display: flex;
    flex-direction: row;

    code-editor {
      flex: 4;
    }

    div.history {
      flex: 1;

      div.title {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      h4{
        margin: 5px 0px;
      }

      mat-chip-list{
        margin-top: 15px
      }

      mat-chip {
        margin: 5px auto;
      }
    }
  }
}
