:host {
  ::ng-deep {
    .input-placer-input {
      display: block;
      &.boolean,
      &.storage {
        padding: 0 10%;
      }

      > mat-form-field,
      section,
      section ~ mat-hint {
        width: 80% !important;
        margin: 0 10%;
      }
    }
  }

  mat-button-toggle-group {
    display: flex;
    align-items: center;
    justify-content: center;
    mat-button-toggle {
      flex: 1;
    }
  }

  mat-form-field,
  section {
    width: 80% !important;
    margin: 0 10%;
  }
  .filter-buttons {
    display: flex;
    justify-content: center;
    button {
      margin: 5px;
    }
  }

  div.tab-content {
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    code-editor {
      flex: 4;
    }

    div.history {
      flex: 1;

      h4 {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      mat-chip-list {
        margin-top: 15px;
      }

      mat-chip {
        margin: 5px auto;
      }
    }
  }

  p.mat-error {
    text-align: center;
  }
}
