:host {
  mat-card {
    margin: 30px;
    overflow: hidden;
    padding: 25px;
  }
  mat-form-field {
    width: 100%;
    margin-top: 15px;
  }
  mat-expansion-panel {
    margin-top: 10px;
  }
  div.policies {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    mat-list {
      flex-grow: 1;
    }
  }
}
