:host {
  mat-form-field {
    width: 100%;
  }
  mat-expansion-panel {
    margin-top: 10px;
  }
  div.policies {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    mat-list {
      flex-grow: 1;
    }
  }

  div.status {
    margin-bottom: 20px;
    h3 {
      font-weight: normal;
    }
  }
}
