:host {
  p {
    color: #1c1c50;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.7;
    padding-top: 12px;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  hr {
    border: 0.1px solid #cfd8dc;
    width: 100%;
    margin: 70px 0px;
  }

  app-header {
    min-height: 200px;
  }

  section {
    max-width: 80%;
    margin: auto;
    flex-flow: row wrap;
    color: #1c1c50;
  }

  section:nth-of-type(1) {
    > div h3 {
      margin-bottom: 0px;
    }

    > h4 {
      color: #78909c;
      font-weight: 400;
    }

    .features li {
      margin: 20px 0px;
      mat-icon {
        font-size: 48px;
        width: 48px;
        height: 48px;
        vertical-align: middle;
      }
      span {
        margin-left: 10px;
      }
    }

    .includes {
      padding: 15px 0px;
      > div {
        padding: 25px 80px 30px 40px;
        border: 1px solid #10102f;
        border-radius: 15px;
        width: calc(100% + 40px);
        box-sizing: border-box;
      }
      ul li {
        font-size: 17px;
        color: #4d5c63;
        font-weight: 400;
        margin: 10px 0px;
        display: flex;
        align-items: center;

        mat-icon {
          color: #1abde7;
          margin-right: 5px;
        }
      }
    }
    mat-card.free-trial {
      margin: 0px;
      background: #10102f;
      padding: 40px;
      mat-card-content {
        p,
        h3 {
          padding: 0px;
          text-align: left;
          color: #fff;
          margin: 15px 0px;
        }
        h3 {
          font-size: 2.5rem;
          line-height: 3rem;
        }
        a {
          justify-content: flex-start;
          button {
            background: #f5487f;
            color: #fff;
            padding: 0px 24px;
          }
        }
        ul {
          li {
            text-align: left;
            display: flex;
            align-items: center;
            color: #fff;
            font-size: 1.15rem;
            line-height: 2rem;
            mat-icon {
              margin: 0px 10px 0px 20px;
              color: #f5487f;
            }
          }
        }
      }
      color: #fff;
    }

    mat-card {
      padding: 0px 0px 20px 0px;
      margin: 10px;

      border-radius: 15px;
      box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25), 0 3px 7px -3px rgba(0, 0, 0, 0.3);

      mat-toolbar {
        background-color: transparent;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        p {
          width: 100%;
          text-align: center;
          color: #222222;
          font-size: 22px;
          font-weight: 500;
        }
      }

      mat-card-content {
        ul {
          margin-top: 15px;
          li {
            font-size: 16px;
            padding: 8px 15px;
            color: #627680;
            font-weight: 400;
            text-align: center;
          }
        }
        a {
          text-decoration: none;
          display: flex;
          justify-content: center;
        }
      }
    }

    mat-card:not(:last-of-type) mat-card-content ul li:last-of-type {
      padding: 10px 0px;
      color: #1c1c50;
      font-size: 36px;
      margin: 5px 0px;
      height: 50px;
      span {
        font-size: 14px;
        display: block;
        color: #aeaeae;
      }
    }

    > p:last-of-type span a {
      text-decoration: underline;
    }
  }

  section:nth-of-type(2) {
    > div {
      border-radius: 15px;
      box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25), 0 3px 7px -3px rgba(0, 0, 0, 0.3);
      margin: 20px 0px;
      padding: 50px;
      min-height: 150px;
      background: #fff;

      > div:nth-of-type(2) {
        border-left: 1px solid #eee;
        margin: 20px;
        padding: 20px;
        span {
          color: #78909c;
        }
      }

      h3 {
        font-size: 150%;
        margin: 0;
        padding-bottom: 12px;
        font-weight: normal;
        display: flex;
        align-items: center;

        mat-icon {
          margin-right: 5px;
        }
      }
    }
  }

  section:nth-of-type(3) {
    max-width: 100%;
    div {
      margin: 12vh 0;
      background-color: rgb(50, 50, 93);
      padding: 12vh 0;

      h1 {
        color: #fff;
        font-weight: normal;
        margin: 20px auto;
        max-width: 80%;
      }

      p {
        color: #fff;
        max-width: 80%;
        margin: 20px auto;
        padding: 0px;
        text-align: center;
        font-weight: 400;
      }

      a {
        margin: 20px auto;
        button {
          color: rgb(50, 50, 93);
        }
      }
    }
  }

  section:nth-of-type(4) {
    div:first-of-type a {
      text-decoration: underline;
    }

    div:last-of-type {
      margin: 22px 0px;
      a {
        margin: 0px 10px;
        button {
          height: 50px;
          width: 100%;
          font-size: calc(12px + 0.6vw);
        }
      }
    }
  }
}
