:host {
  app-header {
    min-height: 200px;
  }

  .info {
    font-weight: unset;
    text-align: center;
    line-height: 30px;
    max-width: 800px;
    margin: 20px auto;
  }

  p {
    color: #1c1c50;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.7;
    text-align: justfiy;
    padding-top: 12px;
  }

  a {
    display: unset !important;
  }

  // Text Properties
  .text-black {
    color: black;
  }

  .text-gray {
    color: #263238;
  }

  .text-white {
    color: white;
  }

  .text-default {
    color: #78909c;
  }

  .plugin {
    border-radius: 15px !important;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.2) !important;
    margin: 20px 0px !important;
    padding: 40px !important;
    transition: all 1s;
    min-height: 150px;
    background: #fff !important;

    p {
      padding-left: 30px;
      padding-right: 30px;
    }

    .price {
      border-left: 1px solid #eee;
    }

    h3 {
      font-size: 150%;
      margin: 0;
      padding-bottom: 12px;
      font-weight: normal;
      display: flex;
      align-items: center;

      mat-icon {
        margin-right: 5px;
      }
    }
  }

  .features {
    padding-top: 10px;
    ul {
      width: 50%;
      li {
        font-weight: 400;
        margin: 10px 0px;
        display: flex;
        align-items: center;

        mat-icon {
          color: #1abde7;
          margin-right: 5px;
        }
      }
    }
  }

  // Margin && Padding

  .unset-margin {
    margin: unset !important;
  }

  .pt-0 {
    padding-top: 0 !important;
  }

  .p-0 {
    padding: 0 !important;
  }

  .unset-padding {
    padding: unset !important;
  }

  .blue {
    background-color: #1abde7;
  }

  .gray {
    background-color: #263238;
  }

  .bg-gray {
    background: #eee;
  }

  .contact-link {
    text-decoration: none;
    button {
      display: block;
      margin: 0 auto;
      background-color: white;
      color: rgb(50, 50, 93);
    }
  }

  a {
    .link-button {
      width: 100%;
    }
  }

  ul {
    list-style: none;
  }

  home-section.enterprise {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-left: 0;

      li {
        flex-basis: 40%;

        h1 {
          vertical-align: middle;

          &::before {
            display: inline-block;
            content: "";
            height: 20px;
            width: 20px;
            padding-right: 8px;
            background-image: url("../../../assets/images/star.svg");
            background-repeat: no-repeat;
          }
        }

        /*     p {
          font-weight: 100;
          line-height: 2;
        }*/
      }
    }
  }

  .mobile-img {
    max-width: 100% !important;
  }

  .flex-margin {
    margin: 12vh 0;
    width: 100%;
    display: flex;
  }

  .description-title {
    margin: 0 0 2px 0 !important;
    display: block;
  }

  .inline-button {
    width: 45%;
    display: inline-block;
    margin: 12px 0px;
  }

  .text-center {
    text-align: center;
  }

  .enterprise-button-wrapper {
    margin-top: 22px;
  }

  .br-bottom {
    border-bottom: 1px solid #cfd8dc;
  }

  .enterprise-icon {
    font-size: 48px;
    width: 48px;
    height: 48px;
    vertical-align: middle;
  }

  .enterprise-property {
    margin: 15px 0px;
    span {
      margin-left: 10px;
    }
  }

  .content-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 12px 0;
    flex-flow: row wrap;
    box-sizing: border-box;
    display: flex;
    place-content: center space-around;
    align-items: center;

    .container {
      padding: 36px 0;
      margin: auto;
      max-width: 1224px !important;

      .packet:last-of-type  {
        button {
          margin: 0px !important;
        }
      }

      img {
        display: block;
        margin: auto;
      }
    }
    .request-demo {
      margin: 12vh 0;
      background-color: rgb(50, 50, 93);
      padding: 12vh 0 !important;
      max-width: unset !important;
    }
  }

  .content-wrapper {
    color: #1c1c50;

    ul {
      padding: 0;
    }
  }

  .packet {
    margin: 0 10px;

    .bg-black {
      background-color: #263238;
    }

    mat-toolbar {
      border-top-left-radius: 15px !important;
      border-top-right-radius: 15px !important;
    }

    mat-card {
      border-radius: 15px !important;
      height: 410px;
      box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.2) !important;
    }
  }

  mat-icon {
    &.packet-icon {
      font-size: 36px;
      color: white;
      width: 36px;
      height: 36px;
      display: block;
      margin: auto;
    }
  }

  mat-card {
    border-radius: 0px;

    .packet-title {
      width: 100%;
      text-align: center;
      display: block;
      color: white;
      font-size: 18px;
      font-weight: 500;
      margin: 14px 0px;
    }

    mat-card-content {
      .packet-information {
        margin-top: 15px !important;
      }
    }

    button {
      color: white;
      margin: 10px 0px;
    }

    .get {
      text-align: center;
      width: 100%;
    }

    ul {
      li {
        text-align: center;
        color: #78909c;
        padding: 12px 0px;
        font-size: 16px;

        &.price {
          border: 0;
          padding: 10px 0px;
          color: #1c1c50;
          font-size: 36px;
          margin: 5px 0px;
          height: 50px;
          .period {
            font-size: 14px;
            display: block;
            color: #aeaeae;
          }
        }
      }
    }
  }

  .end {
    .link-button {
      height: 50px;
      font-size: 125%;
    }
  }
}
