.drawerForm {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.drawerContent {
  padding: var(--padding-lg);
  flex: 1;
  overflow-y: auto;
  align-items: start;
}

.drawerTitle {
  margin-bottom: var(--padding-md);
}
 