.skeletonStrategyItem {
  width: 100% !important;
  max-width: 100% !important;
  height: 55px !important;
  border: var(--border-default) !important;
  color: var(--color-font-primary) !important;
  background-color: var(--color-layout-background) !important;
}
