@use "../../../../styles/mixins";

/* Container Styles */
.container {
  height: 100% !important;
  overflow-x: auto;
  display: flex;
}

.columns {
  max-width: 840px !important;
  height: 100% !important;
  justify-content: flex-start !important;
  align-items: start !important;
}

/* Column Container Styles */
.storageItemColumnContainer {
  height: 100% !important;
  border-right: var(--border-default) !important;
  justify-content: flex-start !important;
  padding: var(--padding-xl) 0;
  width: 280px !important;
  min-width: 280px !important;
  overflow-y: auto;
  min-height: 0;
  
  &:last-child {
    border-right: none;
  }
}

.lastColumn {
  border-right: none !important;
}

.columnLoaderContainer {
  display: flex;
  width: 280px;
  min-width: 280px !important;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* Column Content Styles */
.storageItemColumn {
  height: 100% !important;
  width: 100% !important;
  overflow-y: scroll;
  @include mixins.hideScrollbar;
}

.noItemsText {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Storage Item Styles */
.storageItem {
  cursor: pointer;
  max-width: 100%;
  width: 100% !important;
  height: 28px !important;
  padding: var(--padding-sm) var(--padding-xl);
  justify-content: flex-start !important;

  &:hover {
    background-color: var(--color-hover);
  }
}

.activeStorageItem {
  background-color: var(--color-hover);
}

.storageItemText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block !important;
  max-width: 100%;
}

.storageItemIcon {
  color: var(--color-font-primary);
}

