@use "../../../../styles/mixins";

.container {
  height: 100% !important;
  overflow-x: auto;
  display: flex;
}

.columns {
  max-width: 840px !important;
  height: 100% !important;
  justify-content: flex-start !important;
  align-items: start !important;
}


.storageItemColumnContainer {
  height: 100% !important;
  border-right: var(--border-default) !important;
  justify-content: flex-start !important;
  padding: var(--padding-xl) 0;
  width: 280px !important;
  min-width: 280px !important;
}

.columnLoaderContainer {
  display: flex;
  width: 280px;
  min-width: 280px !important;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.storageItemColumnContainer {
  border-right: var(--border-default);
  overflow-y: auto;
  min-height: 0;
  
  &:last-child {
    border-right: none;
  }
}


.lastColumn {
  border-right: none !important;
}