:host {
  mat-header-cell.action,
  mat-cell.action {
    max-width: 150px;
    justify-content: flex-end;
  }
  mat-toolbar {
    min-height: 250px;
    padding: 0 30px;
    align-items: flex-start;
    .space-between {
      flex: 1 1 auto;
    }
    h4 {
      mat-icon,
      span {
        vertical-align: middle;
        margin-left: 5px;
      }
    }
  }
  mat-card {
    margin: 30px;
    margin-top: -110px;
    // For proper border radius
    overflow: hidden;
  }

  textarea {
    height: 22px;
  }

  .mat-list-item-content {
    height: 85px !important;
  }

  mat-card {
    mat-card-header {
      mat-card-title > * {
        vertical-align: middle;
      }
    }
  }

  .full-width-table {
    width: 100%;
  }
  .mat-cell {
    text-align: center;
  }
  .mat-card-header {
    width: 100%;
  }
  /deep/.mat-card-header-text {
    width: 100%;
  }
  .mat-header-cell {
    text-align: left;
  }
  .mat-cell {
    text-align: left;
  }
  button[mat-button] {
    float: right;
  }
  /deep/[centerHeader] {
    display: grid;
    text-align: center;
  }
  /deep/[item] {
    display: block;
    text-align: center;
  }
  .id-header,
  .id-content {
    text-align: left;
    flex: 3;
  }
  .url-header,
  .url-content {
    flex: 3;
  }

  .actions-header,
  .actions-content {
    display: inline-flex;
    justify-content: flex-end;
    flex: 1;
  }
}
