<mat-toolbar color="primary">
  <h4 class="mat-h4">
    <mat-icon>http</mat-icon>
    <span>Subscriptions</span>
  </h4>
  <span class="space-between"></span>
  <button mat-icon-button>
    <mat-icon>refresh</mat-icon>
  </button>
  <button canInteract="subscription:create" mat-icon-button routerLink="add">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<mat-card class="mat-elevation-z25">
  <mat-card-content>
    <mat-table [dataSource]="$data">
      <ng-container matColumnDef="_id">
        <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element._id }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="url">
        <mat-header-cell *matHeaderCellDef> Url </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.url }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell class="action" *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell class="action" *matCellDef="let element">
          <button
            canInteract="subscription:show"
            mat-icon-button
            [routerLink]="element._id"
            matTooltip="Edit"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            canInteract="subscription:delete"
            mat-icon-button
            color="warn"
            [matAwareDialog]="{
              title: 'Confirmation',
              templateOrDescription: dialogTemplate,
              answer: 'yes'
            }"
            (confirm)="delete(element._id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </mat-card-content>

  <mat-card-footer>
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </mat-card-footer>
</mat-card>

<ng-template #dialogTemplate let-answer="answer">
  <p>This action cannot be undone.</p>
  <p>
    This action will permanently delete the subscription and broke the all associations.
  </p>
  <p>
    Please type <b>{{ answer }}</b> to confirm.
  </p>
</ng-template>
