div.charts-container {
  margin: 30px;
   div.content{
    height: 100%;
  }
  }
div.grid {
    position: relative;
    min-height: 1000px;
  }
  
  div.item {
    display: block;
    position: absolute;
 
    margin: 5px;
    z-index: 1;

    .muuri-item-dragging {
      z-index: 3;
    }
    .muuri-item-releasing {
      z-index: 2;
    }
    .muuri-item-hidden {
      z-index: 0;
    }
    .item-content {
      position: relative;
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
  