::ng-deep {
  .font-menu {
    .mat-mdc-menu-content {
      max-height: 270px;
      .mat-mdc-menu-item {
        height: auto;
        padding: 5px 0px;
        border-bottom: 1px solid var(--accent);
        line-height: 2;
        h4,
        h5 {
          text-align: center;
          display: block;
          float: left;
          width: 100%;
          margin: 0;
        }
        h5 span {
          display: block;
        }
      }
    }
  }

  .palette-menu {
    .mat-mdc-menu-content {
      max-height: 270px;
      width: 250px;
      .mat-mdc-menu-item {
        width: 100%;
        height: auto;
        padding: 5px 0px;
        h5 {
          font-weight: bold;
          margin: 0;
          text-align: center;
          line-height: 2;
        }
        .custom-circles {
          width: 100%;
          display: inline-flex !important;
          justify-content: center;
          div {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: inline-flex;
            &:not(:first-child) {
              margin-left: 5px;
            }
          }
        }

        .circles {
          width: 100%;
          display: inline-flex !important;
          justify-content: center;
          div {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: inline-flex;
            &:not(:first-child) {
              margin-left: -15px;
            }
          }
        }
      }
    }
  }

  .settings-menu {
    max-width: unset !important;
    .mat-mdc-menu-content {
      margin: 15px;
      mat-form-field {
        width: 100% !important;
        .mat-mdc-form-field {
          &-underline {
            position: relative;
            bottom: auto;
          }
          &-subscript-wrapper {
            position: static;
          }
        }
      }

      .mat-mdc-list-item {
        height: auto;
      }
      /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
      .mat-mdc-list-item-content,
      .mat-mdc-subheader {
        padding: 0 !important;
      }
      /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
      .mat-mdc-list-item-content {
        justify-content: space-between;
      }

      h3.customCode {
        display: flex;
        justify-content: space-between;
        span > * {
          vertical-align: middle;
        }
      }
    }

    .settings-menu-form {
      width: 70%;
      margin-top: 5px;
      display: inline-block;
    }
  }

  .add-page-menu {
    .mat-mdc-menu-content {
      padding: 1.3em;
      padding-top: 1em !important;

      button {
        display: block;
        width: 100%;
        text-align: right;
      }
    }
  }

  .dot-menu {
    /* TODO(mdc-migration): The following rule targets internal classes of menu that may no longer apply for the MDC version. */
    &.mat-mdc-menu-above {
      transform: translateY(-7px);
    }
    /* TODO(mdc-migration): The following rule targets internal classes of menu that may no longer apply for the MDC version. */
    &.mat-mdc-menu-below {
      transform: translateY(7px);
    }
  }
  .creator-dialog {
    width: 100%;
    height: 100%;
    max-width: unset !important;
    border-radius: 0px;
    /* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version. */
    mat-dialog-container {
      border-radius: unset !important;
    }
  }
}

:host {
  .visibility-menu {
    opacity: 0;
    transition: 0.1;
    &:hover {
      opacity: 1;
    }
  }
  [menu] {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    min-width: 60px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-flow: column;

    .delete-sub-page {
      position: absolute;
      background: #ff5555;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      font-size: 10px;
      line-height: 20px;
      border-radius: 20px;
      top: -5.5px;
      right: -2.5px;
      font-weight: bolder;
      color: var(--accent-a100);
      box-shadow: 0 2px 5px 0 rgba(49, 49, 93, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
      z-index: 222;
      cursor: pointer;
      ::ng-deep mat-icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        font-size: 10px;
      }
    }

    [branding] {
      mat-icon {
        display: block;
        margin: 0 auto;
      }
    }

    [pages] {
      height: 40%;
      button {
        &.current {
          background: var(--primary-100);
        }
        &:not(:last-of-type) {
          margin-bottom: 10px;
        }
        display: block;
        background: none;
        padding: 0;
        outline: 0;
        cursor: pointer;
        text-align: center;
        i {
          font-size: 24px;
        }
      }
    }

    [actions] {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      button {
        &:not(:last-of-type) {
          margin-bottom: 10px;
        }
        border: none;
        background: none;
        padding: 0;
        outline: 0;
        cursor: pointer;
        text-align: center;
        i {
          font-size: 24px;
        }
      }
    }
  }

  [container] {
    margin-left: 60px;
    height: 100vh;
    width: calc(100% - 60px);
    position: relative;

    [iframe] {
      position: relative;
      button[dotButton] {
        position: absolute;
        transition: position 0.5s linear;
        transform: translate(-150%, -150%);
      }
    }

    [components] {
      display: inline-block;
      width: 100%;
      position: relative;
      padding: 100px 0;
      padding-top: 5px;
      text-align: center;
      &::before {
        content: "";
        background-image: url("composer3-bg.svg");
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.6;
        z-index: -1;
      }
      &::after {
        content: "";
        background-color: var(--compose-palette, --primary-100);
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        z-index: -1;
      }
      [category] {
        padding: 30px 0px;
        [title] {
          color: #fff;
          margin-bottom: 30px;
          font-size: 24px;
          [sub-title] {
            margin-top: 10px;
            font-size: 14px;
            display: block;
            width: calc(100% - 200px);
            margin: auto;
            padding-top: 10px;
          }
        }
        .visible {
          display: none !important;
        }
        .show {
          display: block !important;
        }
        [category-container] {
          max-width: 780px;
          margin: auto;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          [list-items] {
            cursor: pointer;
            float: left;
            background-color: #fff;
            width: calc(20% - 6px);
            margin-bottom: 6px;
            border-radius: 3px;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
            padding: 30px 22px;
            line-height: 23px;
            color: #061027;
            transition: all 0.1s ease-in-out;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-direction: column;
            flex-direction: column;
            &:hover {
              transform: translate3d(0, -3px, 0);
              i {
                color: #183d4a;
              }
            }
            [list-icon] {
              width: 100%;
              height: 50px;
              display: -ms-flexbox;
              display: flex;
              -ms-flex-align: center;
              align-items: center;
              -ms-flex-pack: center;
              justify-content: center;
              position: relative;
              overflow: hidden;
              margin-bottom: 10px;
              i {
                font-size: 24px;
              }
            }
          }
        }

        [item] {
          display: none;
          max-width: 780px;
          max-height: 450px;
          margin: auto;
          overflow: hidden;
          /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
          /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
          mat-card {
            display: inline-block;
            user-select: none;
            position: relative;
            padding: 0px;
            margin: 10px;
            height: 125px;
            width: 180px;
            cursor: pointer;
            /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
            mat-card-title {
              margin-top: 5px;
              text-transform: capitalize;
              font-size: 18px !important;
            }
            img {
              position: absolute;
              width: 100%;
              object-fit: cover;
              display: block;
              height: 100%;
            }
            [animate] {
              opacity: 0;
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              background-color: #2d2d2d;
              color: white;
              transition: all 0.3s;
              text-align: center;
              i {
                position: absolute;
                top: calc(50% - 20px);
                left: calc(50% - 20px);
                font-size: 40px;
              }
            }
          }
          /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
          /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
          mat-card:hover {
            [animate] {
              opacity: 0.6;
            }
            /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
            mat-card-title {
              position: absolute;
              left: 0;
              right: 0;
            }
          }
        }
        [paginator] {
          display: none;
          margin: auto;
          max-width: 580px;
          width: 100%;
        }
      }
    }
  }

  [overlay] {
    position: fixed;
    top: 0;
    height: 100%;
    width: calc(100% - 60px);
    margin-left: 60px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    [progress] {
      mat-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
