.controls {
  position: absolute;
  top: var(--padding-xl);
  right: var(--padding-xl);
  background: var(--color-default);
  border-radius: var(--border-radius-md);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  gap: var(--padding-sm-plus);
  padding: var(--padding-sm-plus) var(--padding-md);
  z-index: 10;

  .controlBtn {
    border: none;
    border-radius: var(--border-radius-sm);
    padding: var(--padding-sm) var(--padding-md);
    cursor: pointer;
    font-size: var(--font-size-sm);
    font-weight: 600;
    min-width: 35px;
    white-space: nowrap;
  }

  .zoomLevel {
    display: inline-block;
    font-weight: bold;
    min-width: 50px;
  }
}
