:host {
  pre {
    padding: 7px 10px;
    border-radius: 5px;
    background: rgba(var(--background-app-bar-rgb), calc(0.22 + var(--tone-diff)));
    height: auto;
  }

  div {
    width: 100%;
    display: flex;
    &:first-of-type {
      justify-content: space-between;
      > button {
        margin-right: -24px;
        margin-top: -24px;
      }
    }
    &:last-of-type {
      justify-content: center;
    }
  }
}
