:host {
  h3 {
    margin: 0px;
  }
  pre {
    padding: 7px 10px;
    border-radius: 5px;
    background: rgba(var(--background-app-bar-rgb), calc(0.22 + var(--tone-diff)));
    height: auto;
    white-space: break-spaces;
  }
}
