::ng-deep .mat-dialog-container {
  padding: 0 !important;
}

:host {
  background: black;
}
.ball-scale-multiple {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -30px;
  margin-left: -30px;
}
.ball-scale-multiple div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  background: var(--accent-200);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: ball-scale-multiple 1.5s linear infinite;
}
.ball-scale-multiple div:nth-child(2) {
  -webkit-animation-delay: 0.2s;
}
.ball-scale-multiple div:nth-child(3) {
  -webkit-animation-delay: 0.4s;
}
@-webkit-keyframes ball-scale-multiple {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
