<mat-toolbar>
  <mat-toolbar-row>
    <h1>Bucket</h1>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <h4>
      A bucket is a data collection. They include all the metadata such as data structure,
      validations, customization.
    </h4>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button (click)="addBucket()" canInteract="bucket:create" mat-raised-button>
      Create a bucket
    </button>
    <button mat-icon-button mat-raised-button routerLink="../settings">
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
