:host {
  mat-toolbar {
    min-height: 250px;
    padding: 0 30px;
    align-items: flex-start;
    flex-direction: column;

    h4 {
      mat-icon,
      span {
        vertical-align: middle;
        margin-left: 5px;
      }
    }

    div.actions {
      align-self: flex-end;
      margin-top: 60px;
    }
  }

  textarea {
    height: 22px;
  }

  .mat-mdc-list-item-content {
    height: 85px !important;
  }

  mat-card {
    mat-card-header {
      mat-card-title > * {
        vertical-align: middle;
      }
    }

    transition: width 1s;
    display: inline-block;
    width: calc(100% - 60px);
    margin: 30px;
    margin-top: -85px;
    overflow-x: scroll;

    table {
      min-width: 100%;
      width: max-content;
      .select {
        width: 75px;
      }
      th:not(.select):not(:last-of-type) {
        position: relative;
        &:after {
          content: "||";
          position: absolute;
          right: 10px;
          top: 10px;
        }
      }
      tr {
        height: 40px !important;
        > th:last-of-type {
          padding-right: 35px;
        }
        > *:last-of-type {
          text-align: right;
        }
      }

      td.mat-mdc-cell {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 0;
      }

      td.mat-mdc-cell:last-of-type {
        text-overflow: unset;
      }
    }
  }
}
