:host {
  mat-toolbar {
    min-height: 250px;
    padding: 0 30px;
    align-items: flex-start;
    h4 > * {
      vertical-align: middle;
    }
    .space-between {
      flex: 1 1 auto;
    }
  }

  mat-card {
    width: calc(100% - 60px);
    margin: 30px;
    margin-top: -160px;

    mat-form-field:not(:first-of-type) {
      margin-left: 10px;
      margin-top: 10px;
    }

    mat-table {
      max-width: 100%;
      mat-header-row mat-header-cell {
        flex: unset;
        &.mat-column-function {
          padding-right: 10px;
          text-align: center;
        }
        &.mat-column-timestamp {
          min-width: 200px;
        }
      }
      mat-row:nth-child(even) {
        cursor: pointer;
        mat-cell {
          white-space: nowrap;
          flex: unset;
          &.mat-column-function {
            padding-right: 10px;
            text-align: center;
          }
          &.mat-column-timestamp {
            min-width: 200px;
          }
          &.mat-column-content {
            flex: 1;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }

      mat-row:nth-child(odd) {
        min-height: 0;
        mat-cell {
          overflow: hidden;
          white-space: pre-wrap;
          line-height: 20px;
          opacity: 0.8;
          div {
            padding-top: 10px;
            padding-bottom: 10px;
          }
        }
      }
    }
  }
}
