<mat-toolbar color="primary">
  <h4 class="mat-h4">
    <mat-icon>bug_report</mat-icon>
    <span>Logs</span>
  </h4>
  <span class="space-between"></span>

  <button mat-icon-button (click)="filter$.next(filter$.value)">
    <mat-icon>refresh</mat-icon>
  </button>

  <button mat-icon-button (click)="clearLogs()">
    <mat-icon>clear_all</mat-icon>
  </button>
</mat-toolbar>

<mat-card class="mat-elevation-z25">
  <!-- Use material date range picker once there is public one: https://github.com/angular/components/issues/4763 -->
  <mat-form-field>
    <input
      matInput
      placeholder="Select a date range"
      [satDatepicker]="picker"
      [max]="maxDate"
      [ngModel]="filter$ | async"
      (ngModelChange)="
        filter$.value.begin = $event.begin;
        filter$.value.end = $event.end;
        filter$.next(filter$.value)
      "
    />
    <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
    <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
  </mat-form-field>
  <mat-form-field>
    <mat-select
      multiple
      [(ngModel)]="filter$.value.functions"
      (ngModelChange)="filter$.next(filter$.value)"
    >
      <mat-option *ngFor="let function of functions$ | async" [value]="function._id">
        {{ function.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-table multiTemplateDataRows [dataSource]="logs$">
    <ng-container matColumnDef="timestamp">
      <mat-header-cell mat-header-cell *matHeaderCellDef>TIMESTAMP</mat-header-cell>
      <mat-cell *matCellDef="let log">{{
        log.created_at | date: "yyyy-MM-dd HH:mm:ss.SSS"
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="function">
      <mat-header-cell mat-header-cell *matHeaderCellDef>FUNCTION</mat-header-cell>
      <mat-cell *matCellDef="let log">{{ log.function }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="content">
      <mat-header-cell mat-header-cell *matHeaderCellDef>CONTENT</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let log">{{ log.content }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="detail">
      <mat-cell *matCellDef="let log" [@detail]="log == expandedLog ? 'expanded' : 'collapsed'">
        {{ log.content }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row
      *matRowDef="let log; columns: displayedColumns"
      (click)="expandedLog = expandedLog == log ? null : log"
    ></mat-row>
    <mat-row mat-row *matRowDef="let row; columns: ['detail']"></mat-row>
  </mat-table>
</mat-card>
