<mat-toolbar color="primary">
  <h4 class="mat-h4">
    <mat-icon>bug_report</mat-icon>
    <span>Logs</span>
  </h4>
  <span class="space-between"></span>

  <button mat-icon-button (click)="clearLogs()">
    <mat-icon>clear_all</mat-icon>
  </button>
</mat-toolbar>

<mat-card class="mat-elevation-z25">
  <mat-form-field>
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [max]="maxDate" [rangePicker]="picker">
      <input
        matInput
        matStartDate
        placeholder="Start date"
        #begin="ngModel"
        [ngModel]="(queryParams | async)?.begin"
      />

      <input
        matEndDate
        placeholder="End date"
        #end="ngModel"
        [ngModel]="(queryParams | async)?.end"
      />
    </mat-date-range-input>

    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker
      #picker
      (closed)="
        next(
          formatHours({
            begin: begin.value,
            end: end.value
          })
        )
      "
    ></mat-date-range-picker>
  </mat-form-field>
  <mat-form-field>
    <mat-select
      matInput
      multiple
      [ngModel]="(queryParams | async)?.function"
      (ngModelChange)="next({function: $event})"
    >
      <mat-option
        class="mat-accent"
        *ngFor="let function of functions$ | async"
        [value]="function._id"
      >
        {{ function.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-slide-toggle
    #showErrorsToggle
    [checked]="(queryParams | async)?.showErrors"
    (change)="next({showErrors: $event.checked})"
  >
    {{ showErrorsToggle.checked ? "Show Errors" : "Hide Errors" }}
  </mat-slide-toggle>
  <mat-card-content>
    <mat-accordion>
      <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
        <div>
          <span>Id</span>
          <span>Function Name</span>
          <span>Status</span>
          <span>Execution Time</span>
        </div>
        <span class="emptyList" *ngIf="!(dataStream | async)?.length">
          Couldn't find any log to show.
        </span>
        <mat-expansion-panel *cdkVirtualFor="let log of dataSource">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span>
                {{ log._id }}
              </span>
              <span>
                {{ log.function }}
              </span>
              <span>
                <mat-icon [style.color]="log.channel == 'stdout' ? 'green' : 'red'">
                  {{ log.channel == "stdout" ? "done" : "error" }}
                </mat-icon>
              </span>
              <span>
                {{ log.created_at | date: "MM/dd/yyyy HH:mm:ss" }}
              </span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <pre>{{ log.content }}</pre>
        </mat-expansion-panel>
        <mat-progress-spinner
          *ngIf="isPending"
          [diameter]="35"
          color="primary"
          mode="indeterminate"
        >
        </mat-progress-spinner>
      </cdk-virtual-scroll-viewport>
    </mat-accordion>
  </mat-card-content>
</mat-card>
