.container {
  padding: 0;
}

.content {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  background: var(--color-background);

  .file {
    min-width: 100px;
    min-height: 100px;
    max-height: 200px;
    height: 200px;
  }
}
