@use "../../../styles/mixins";

.container {
  height: 100% !important;
  overflow-x: auto;
  display: flex;
}

.columns {
  max-width: 840px !important;
  height: 100% !important;
  justify-content: flex-start !important;
  align-items: start !important;
}

.storageItemColumn {
  height: 100% !important;
  width: 100% !important;
  overflow-y: scroll;
  @include mixins.hideScrollbar;
}

.storageItemColumnContainer {
  height: 100% !important;
  border-right: var(--border-default) !important;
  justify-content: flex-start !important;
  padding: var(--padding-xl) 0;
  width: 280px !important;
  min-width: 280px !important;
}

.columnLoaderContainer {
  display: flex;
  width: 280px;
  min-width: 280px !important;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.noItemsText {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.storageItemColumnContainer {
  border-right: var(--border-default);
  overflow-y: auto;
  min-height: 0;
  
  &:last-child {
    border-right: none;
  }
}

.droppableColumn {
  min-height: 100px;
  transition: background-color var(--transition-duration) ease;
  background-color: var(--color-transparent);
}

.notAllowedDrop {
  * {
    cursor: not-allowed !important;
    pointer-events: none;
  }
  cursor: not-allowed !important;
  background-color: var(--color-error-light) !important;
  opacity: 0.6;
  position: relative;
  
  &:hover {
    background-color: var(--color-error) !important;
  }
}

.droppableColumnActive {
  background-color: var(--color-menu-contrast);
}

.draggableStorageItem {
  transition: opacity var(--transition-duration) ease, cursor var(--transition-duration) ease;
  opacity: 1;
  cursor: move;
}

.draggingStorageItem {
  opacity: 0.5;
}

.lastColumn {
  border-right: none !important;
}