<h3>Edit Action</h3>
<mat-divider></mat-divider>
<div class="seperated-content">
  <div class="includeds">
    <mat-label>Included Resources</mat-label>
    <form
      (keydown.enter)="$event.preventDefault(); !includeForm.invalid && addInclude()"
      name="includeForm"
      #includeForm="ngForm"
    >
      <div
        class="resource"
        *ngFor="
          let included of data.currentAction.resource.include;
          index as resIndex;
          trackBy: trackByFn
        "
      >
        <ng-container *ngFor="let subResource of resource; index as subResIndex">
          <mat-form-field *ngIf="subResource.values | async; let values">
            <mat-label>{{ subResource.title }}</mat-label>
            <mat-select
              [value]="selectionValue('include', resIndex, subResIndex, values)"
              (selectionChange)="
                onSubResourceChange('include', resIndex, subResIndex, $event.value._id)
              "
            >
              <mat-option *ngFor="let value of values" class="mat-accent" [value]="value">{{
                value[subResource.primary] || value._id
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="!subResource.values && !subResource.url">
            <mat-label>{{ subResource.title }}</mat-label>
            <input
              matInput
              required
              [name]="'includedResource' + resIndex + '' + subResIndex"
              #includedResource="ngModel"
              [ngModel]="data.currentAction.resource.include[resIndex].split('/')[subResIndex]"
              (ngModelChange)="onSubResourceChange('include', resIndex, subResIndex, $event)"
            />
          </mat-form-field>
        </ng-container>
        <button
          mat-button
          [disabled]="resIndex == 0"
          color="warn"
          (click)="data.currentAction.resource.include.splice(resIndex, 1)"
        >
          <mat-icon>
            delete
          </mat-icon>
        </button>
      </div>
      <button type="submit" class="add-resource-button" mat-button (click)="addInclude()">
        Add resource <mat-icon>add</mat-icon>
      </button>
    </form>
  </div>
  <div class="excludeds">
    <mat-label>Excluded Resources</mat-label>
    <form
      (keydown.enter)="$event.preventDefault(); !excludeForm.invalid && addExclude()"
      name="excludeForm"
      #excludeForm="ngForm"
    >
      <div
      class="resource"
        *ngFor="
          let excluded of data.currentAction.resource.exclude;
          index as resIndex;
          trackBy: trackByFn
        "
      >
        <ng-container *ngFor="let subResource of resource; index as subResIndex">
          <mat-form-field *ngIf="subResource.values | async; let values">
            <mat-label>{{ subResource.title }}</mat-label>
            <mat-select
              [value]="selectionValue('exclude', resIndex, subResIndex, values)"
              (selectionChange)="
                onSubResourceChange('exclude', resIndex, subResIndex, $event.value._id)
              "
            >
              <mat-option *ngFor="let value of values" class="mat-accent" [value]="value">{{
                value[subResource.primary] || value._id
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="!subResource.url">
            <mat-label>{{ subResource.title }}</mat-label>
            <input
              matInput
              required
              [name]="'excludedResource' + resIndex + '' + subResIndex"
              #excludedResource="ngModel"
              [ngModel]="data.currentAction.resource.exclude[resIndex].split('/')[subResIndex]"
              (ngModelChange)="onSubResourceChange('exclude', resIndex, subResIndex, $event)"
            />
          </mat-form-field>
        </ng-container>
        <button
          mat-button
          [disabled]="resIndex == 0"
          color="warn"
          (click)="data.currentAction.resource.exclude.splice(resIndex, 1)"
        >
          <mat-icon>
            delete
          </mat-icon>
        </button>
      </div>
      <button type="submit" class="add-resource-button" mat-button (click)="addExclude()">
        Add resource <mat-icon>add</mat-icon>
      </button>
    </form>
  </div>
</div>
<mat-divider></mat-divider>
<div class="action-buttons">
  <button
    mat-button
    [disabled]="
      !data.currentAction.resource.include.length && !data.currentAction.resource.exclude.length
    "
    (click)="copyResources()"
  >
    Copy Resources To All Actions
  </button>
  <button
    mat-button
    [disabled]="
      !data.currentAction.resource.include.length && !data.currentAction.resource.exclude.length
    "
    (click)="dialogRef.close()"
  >
    Save
  </button>
</div>
