:host {
  display: flex;
  flex-direction: column;
  div.seperated-content {
    display: flex;
    div.includeds,
    div.excludeds {
      flex: 1;
      mat-form-field:not(:last-of-type){
        margin-right: 10px;
      }
    }
  }
  mat-divider {
    margin: 15px 0px;
  }
  .action-buttons {
    display: flex;
    justify-content: flex-end;
  }

  .add-resource-button {
    border: 1px dashed rgba(0, 0, 0, 0.08);
    width: 90%;
    padding: 20px;
    margin-top: 10px;
  }
}
