:host {
  height: 100%;
  display: block;
  .storage-view {
    // max-height: 100%;
    // display: flex !important;
    // ::ng-deep {
    //   img,
    //   .unkown-file,
    //   video {
    //     max-height: unset;
    //     min-height: unset;
    //     max-width: 100%;
    //     margin: 0;
    //     object-fit: contain;
    //   }
    // }
  }
}
