@keyframes spica {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shadow {
  0% {
    transform: scaleX(1);
    opacity: 0.8;
  }
  50% {
    transform: scaleX(0.8);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 0.8;
  }
}

:host {
  app-header {
    .headline {
      display: flex;
      flex-flow: row;
      justify-content: space-evenly;
      div {
        &:first-of-type {
          h1 {
            font-size: 4rem;
            font-weight: 100;
          }
          p {
            font-weight: 200;
          }
          .button-group {
            max-width: 200px;
            flex-flow: row;
            display: flex;
            justify-content: space-between;
          }
        }
        &:last-of-type {
          display: flex;
          flex-flow: column;
          align-items: center;
          z-index: 1;
          transform: translateY(100px);
          img.logo {
            height: 400px;
            animation-name: spica;
            animation-duration: 1.3s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
          }
          img.shadow {
            margin-top: 5px;
            width: 260px;
            animation-name: shadow;
            animation-duration: 1.3s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
          }
        }
      }
    }

    .wave {
      ::ng-deep svg {
        display: block;
        fill: white;
      }
    }
  }

  home-section.major-features {
    div {
      text-align: center;
      min-width: 250px;
      max-width: 350px;
      padding: 10px;
      img {
        height: 150px;
      }
      p {
        line-height: 2;
      }
    }
    footer {
      ::ng-deep svg {
        display: block;
        fill: #f2f1f0;
      }
    }
  }

  home-section.discover {
    background: #f2f1f0;
    ul {
      list-style-type: none;
      padding-left: 0;
      li {
        h2 {
          font-weight: 400;
          margin-bottom: 0;
        }
        p {
          font-weight: 100;
        }
      }
    }
  }

  section.projects {
    background-image: url("../../../assets/images/background.svg");
    background-size: cover;
    min-height: 350px;
    padding: 5% 0;
    span h1 {
      font-size: 4rem;
      font-weight: 400;
    }
    p {
      &::after {
        margin-top: 20px;
        display: block;
        content: "";
        height: 2px;
        width: 75px;
        background: #15bde8;
      }
    }
  }

  section.audience {
    color: #1c1c50;
    padding: 5% 0;
    div {
      max-width: 90%;
      span {
        p {
          line-height: 2;
          font-weight: 100;
        }
      }
    }
  }

  home-section.description {
    background-color: #f2f1f0;
    img {
      width: 350px;
    }
    ul {
      padding-left: 0;
      list-style-type: none;
      li {
        margin-top: 35px;
      }
    }
  }

  app-footer {
    background-color: #f2f1f0;
  }
}
