@keyframes spica {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shadow {
  0% {
    transform: scaleX(1);
    opacity: 0.8;
  }
  50% {
    transform: scaleX(0.8);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 0.8;
  }
}

:host {
  app-header {
    .headline {
      max-width: 1280px;
      margin: 100px auto -200px;
      &.desktop {
        &:first-of-type {
          text-align: left;
          .button-group {
            padding-right: 100px;
          }
        }
      }
      &:first-of-type {
        text-align: center;
        h1 {
          font-size: 2.5rem;
          font-weight: 100;
        }
        p {
          font-weight: 200;
          font-size: 1.2rem;
          line-height: 2rem;
        }
        .button-group {
          div:last-of-type {
            a {
              color: white;
              font-size: 1.1rem;
              margin: 8px;
              padding-top: 4px;
              padding-bottom: 4px;
              background-color: #15bde8;
              border-radius: 5px;
            }
          }
        }
      }
      &:last-child {
        z-index: 1;
        transform: translateY(120px);
        margin-right: 40px;
        img.logo {
          height: 400px;
          animation-name: spica;
          animation-duration: 1.3s;
          animation-iteration-count: infinite;
          animation-timing-function: ease-in-out;
        }
        img.shadow {
          margin-top: 5px;
          width: 260px;
          animation-name: shadow;
          animation-duration: 1.3s;
          animation-iteration-count: infinite;
          animation-timing-function: ease-in-out;
        }
      }
    }

    .modules {
      .titles {
        display: flex;
        gap: 10px;
        div {
          text-align: center;
          position: relative;
          width: 300px;
          font-size: 0.9rem;
          cursor: pointer;
          padding: 5px;
          transition: all 0.2 ease-out;
          border-radius: 3px;
          &.active {
            box-shadow: 0px 0px 3px #15bde8;
          }
        }
      }
    }
    .images {
      margin: 20px auto 0px;
      width: 100%;
      position: relative;
      text-align: left;
      div {
        position: relative;
        top: 0px;
        width: 100%;
        img {
          position: absolute;
          top: 0px;
          left: 0px;
          cursor: pointer;
          height: intrinsic;
          width: 100%;
          border-radius: 5px;
          margin: 0px;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
          opacity: 0;
          &.active {
            opacity: 1;
          }
        }
      }
    }

    .wave {
      margin-bottom: -1px;
      ::ng-deep svg {
        display: block;
        fill: white;
      }
    }
  }

  home-section.major-features {
    ::ng-deep section {
      div:not(.top) {
        align-items: unset !important;
        place-content: center !important;
      }
    }
    div {
      text-align: center;
      padding: 10px;
      img {
        height: 150px;
      }
      p {
        line-height: 2;
      }
    }
    footer {
      ::ng-deep svg {
        display: block;
        fill: #f2f1f0;
      }
    }
  }

  home-section.discover {
    background: #f2f1f0;
    ul {
      list-style-type: none;
      padding-left: 0;
      li {
        line-height: 2;
        h2 {
          font-weight: 400;
          margin-bottom: 0;
        }
        p {
          font-weight: 100;
        }
      }
    }
  }

  section.projects {
    background-image: url("../../../assets/images/background.svg");
    background-size: cover;
    min-height: 350px;
    padding: 5% 0;
    .url {
      text-decoration: none;
      color: white;
    }
    span h1 {
      font-size: 4rem;
      font-weight: 400;
    }
    p {
      &::after {
        margin-top: 20px;
        display: block;
        content: "";
        height: 2px;
        width: 75px;
        background: #15bde8;
      }
    }
    div.github {
      align-self: center;
      align-items: center;
      mat-icon {
        margin-top: -3px;
      }
    }
  }

  section.audience {
    color: #1c1c50;
    padding: 5% 0;
    max-width: 1280px;
    margin: auto;
    width: 100%;
    div {
      width: 100%;
      span {
        h1 {
          font-size: 3rem;
          font-weight: 100;
        }
        p {
          line-height: 2;
          font-weight: 100;
          text-align: justify;
        }
      }
    }
  }

  home-section.description {
    background-color: #f2f1f0;
    img {
      width: 350px;
      &.desktop {
        margin-top: 60px;
      }
    }
    ul {
      max-width: 800px;
      padding-left: 0px;
      list-style-type: none;
      li {
        margin-top: 35px;
      }
    }
  }

  app-footer {
    background-color: #f2f1f0;
  }
}
