:host {
  display: block;
  color: white;

  header {
    background-image: url("../../../assets/images/background.svg");
    background-size: cover;
    min-height: 300px;
    padding: 30px 10%;
    nav {
      .logo {
        height: 45px;
        img {
          height: 100%;
        }
      }
    }
  }
}
