@import "~@angular/material/theming";

@include mat-core(mat-typography-config($font-family: '"Ubuntu", sans-serif'));

$spica-primary: (50: #e4e4ea,
  100: #bbbbcb,
  200: #8e8ea8,
  300: #606085,
  400: #3e3e6a,
  500: #1c1c50,
  600: #191949,
  700: #141440,
  800: #111137,
  900: #090927,
  A100: #6464ff,
  A200: #3131ff,
  A400: #0000fd,
  A700: #0000e4,
  contrast: (50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff));

$spica-accent: (50: #e3f7fc,
  100: #b9ebf8,
  200: #8adef4,
  300: #5bd1ef,
  400: #38c7eb,
  500: #15bde8,
  600: #12b7e5,
  700: #0faee2,
  800: #0ca6de,
  900: #0698d8,
  A100: #ffffff,
  A200: #ceeeff,
  A400: #9bddff,
  A700: #81d4ff,
  contrast: (50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000));

$spica-light: (50: #fdfdfd,
  100: #fbfbfb,
  200: #f8f9f9,
  300: #f5f6f6,
  400: #f3f4f4,
  500: #f1f2f2,
  600: #eff0f0,
  700: #edeeee,
  800: #ebecec,
  900: #e7e8e8,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000));

$spica-app-primary: mat-palette($spica-primary);
$spica-app-accent: mat-palette($spica-accent);
$spica-app-warn: mat-palette($mat-red);

$spica-app-light: mat-palette($spica-light);

$spica-app-theme: mat-light-theme($spica-app-primary, $spica-app-accent, $spica-app-warn);

@include angular-material-theme($spica-app-theme);

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  color: white;
  overflow-x: hidden;
  background-color: #f5f5f5 !important;
}

h2 {
  margin: 2em 0px 0.5em;
}

h3 {
  margin: 2em 0px 0px;
}

p {
  margin: 0;
}

blockquote {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #f5f5f5;
  padding: 10px 10px 10px 15px;
}

h4 {
  margin: 1.5em 0px 0px;
}

table {
  margin: 2em 0px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


// 
doc-cards {
  @media screen and(max-width:1280px) {
    doc-card {
      width: 100%;
    }
  }
}