@use "../../../styles/mixins";

.navigatorItem {
  padding: var(--padding-md) !important;
  color: var(--color-font-primary);
  font-weight: 400;
  .suffixButton {
    border: 0;
    padding: 0;
    width: var(--icon-size-sm);
    height: var(--icon-size-sm);

    opacity: 0;
    transition: opacity 0.1s ease-in-out;
  }

  &:hover {
    cursor: pointer;
    .suffixButton {
      opacity: 1;
    }
  }
}
