@use "../../../styles/mixins";

.navigatorItem {
  padding: var(--padding-md) !important;
  color: var(--color-font-primary);
  font-weight: 400;
  .suffixButton,
  .suffixElement {
    border: 0;
    padding: 0;
    width: var(--icon-size-sm);
    height: var(--icon-size-sm);

    opacity: 0;
    transition: opacity 0.1s ease-in-out;
  }

  &:hover {
    cursor: pointer;
    .suffixButton,
    .suffixElement {
      opacity: 1;
    }
  }

  .labelContainer {
    justify-content: flex-start !important;

    .label {
      display: -webkit-box;
      -webkit-line-clamp: 2; /* limit to 2 lines */
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-width: 120px;
      text-overflow: ellipsis;
    }
  }
}

:global(.accordion) .navigatorItem .label {
  max-width: 100px;
}

.popupOpen {
  background-color: var(--color-hover);
}
