<mat-toolbar>
  <h4 class="mat-h4">
    <span>
      Version Control
    </span>
  </h4>
</mat-toolbar>
<mat-card>
  <mat-card-content>
    <div class="command-line">
      <pre>$ git </pre>
      <mat-form-field class="command-field">
        <input matInput [(ngModel)]="command" />
      </mat-form-field>
    </div>
    <button mat-stroked-button (click)="execute()" [disabled]="!command || isPending">
      <mat-spinner *ngIf="isPending" color="accent" diameter="20"> </mat-spinner>
      {{ isPending ? "Executing.." : "Execute" }}
    </button>

    <ng-container *ngIf="response">
      <mat-divider></mat-divider>
      <h4>Response</h4>
      <pre>
          {{ response | json }}
        </pre
      >
    </ng-container>
  </mat-card-content>
</mat-card>
