<mat-toolbar>
  <h4 class="mat-h4">
    <span>
      Version Control
    </span>
  </h4>
</mat-toolbar>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Quick Start Guide
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <h3>
      First commit
    </h3>
    <pre>
git add .
git commit -m "first commit"
git branch -M main
git remote add origin https://&lt;username&gt;:&lt;access_token_or_password&gt;@&lt;repo_address&gt;
git push -u origin main</pre
    >
    <mat-divider></mat-divider>
    <h3>
      Clone repository
    </h3>
    <pre>
git remote add origin https://&lt;username&gt;:&lt;access_token_or_password&gt;@&lt;repo_address&gt;
git fetch --all
<span class="comment"># perform it for each branch that will be switched to</span>
<span class="comment"># local changes will be overwritten from now</span>
git checkout -b &lt;branch_name&gt; origin/&lt;branch_name&gt; --force
git reset --hard origin/&lt;branch_name&gt;
<span class="comment"># in case there are untracked directories, files</span>
git clean -d -f
</pre>
    <mat-divider></mat-divider>
    <h3>
      Adding specific files
    </h3>
    <pre>
<span class="comment">1. Module scoped</span>      
git add /&lt;module_name&gt;/*
<span class="comment"># git add /bucket/*</span>

<span class="comment">2. Resource scoped</span>      
git add /&lt;module_name&gt;/&lt;resource_id&gt;/*
<span class="comment"># git add /bucket/6267978d69d28205eaa76baa/*</span>

<span class="comment">3. Sub-module scoped</span>      
git add /&lt;module_name&gt;/&lt;resource_id&gt;/&lt;submodule_name&gt;*

<span class="comment">- Environment variables </span>
<span class="comment"># git add /function/6267978d69d28205eaa76baa/env* </span>

<span class="comment">- Index </span>
<span class="comment"># git add /function/6267978d69d28205eaa76baa/index* </span>

<span class="comment">- Dependencies </span>
<span class="comment"># git add /function/6267978d69d28205eaa76baa/package* </span>

<span class="comment">- Schema(name,triggers,timeout etc.) </span>
<span class="comment"># git add /function/6267978d69d28205eaa76baa/schema* </span>
</pre>
  </mat-expansion-panel>
</mat-accordion>
<mat-card>
  <mat-card-content>
    <div class="cli">
      <mat-label>
        Command Line
      </mat-label>
      <mat-form-field class="command-field">
        <pre>$ git <input [disabled]="isPending" matInput [(ngModel)]="command" (ngModelChange)="onCommandChange($event)" (keyup.enter)="command && !isPending && execute()" />
          <button mat-icon-button (click)="execute()" [disabled]="!command || isPending">
            <mat-spinner *ngIf="isPending" color="accent" diameter="20"> </mat-spinner>
            <mat-icon *ngIf="!isPending">send</mat-icon>
          </button>
      </pre>
      </mat-form-field>
    </div>

    <div class="response">
      <mat-label>Response</mat-label>
      <pre class="response">{{ response }}</pre>
    </div>
  </mat-card-content>
</mat-card>
