:host {
  mat-toolbar {
    min-height: 250px;
    padding: 0 30px;
    align-items: flex-start;
    h4 > * {
      vertical-align: middle;
      margin-left: 5px;
    }
  }

  mat-toolbar + mat-card {
    margin-top: -85px;
  }

  mat-card {
    margin: 30px;
    mat-card-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  pre {
    background-color: rgba(var(--background-app-bar-rgb), calc(0.22 + var(--tone-diff)));
    text-align: left;
    overflow: scroll;
    border-radius: 3px;

    width: 100%;
    padding-top: 15px;
    padding-left: 10px;
  }

  // mat-card.save-container {
  //   mat-card-content {
  //     min-height: 200px;

  //     .last-save {
  //       overflow-x: scroll;
  //       border-radius: 3px;
  //       width: 100%;
  //       min-height: 200px;
  //     }
  //   }
  // }

  mat-card.commands-container {
    mat-card-content {
      min-height: 200px;

      form {
        text-align: center;
        width: 100%;

        > * {
          margin-bottom: 10px;
        }

        div.fields {
          > * {
            margin: 5px;
          }
        }

        h4 {
          text-align: left;
        }

        button {
          mat-spinner {
            display: inline-block;
          }
        }
      }
    }
  }
}
