:host {
  display: block;
  mat-toolbar {
    background-image: url("//www.gstatic.com/mobilesdk/180530_mobilesdk/zerostates/functions_fore@2x.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position-x: right;
    height: 300px;
    padding: 0 10%;
    justify-content: center;
    mat-toolbar-row {
      height: auto;
    }
    h4 {
      font-size: 14px;
    }
  }
}
