{% import "route.macro.html" as routeMacros -%} {% extends 'base.template.html' -%} {% block body %}
<h2>Resources</h2>
{%- for member in doc.members %}{% if member.docType == "route" %}
<section class="resource">
  <h3>
    <span class="method {$ member.type | lower $}">{$ member.type $}</span>
    <span class="path">{$ routeMacros.renderRoute(member.route) $}</span>
    <api-doc-try-it definition="{$ member.tryIt | json | escape $}"></api-doc-try-it>
  </h3>

  {% if member.description %}
  <section class="description">
    {$ member.description | marked $}
  </section>
  {% endif %}

  <p class="authorization">
    Authorization: <b>{$ 'Required' if member.authorization else 'Not Required' $}</b>
  </p>

  {% if member.actions.length %}
  <p class="actions">Required actions: {$ member.actions | join $}</p>
  {% endif %}


  {% if member.body.length %}
  <h4>Body</h4>
  <section class="body">
    <h5>Accepts: {$ member.accepts if member.accepts else 'application/json' $}</h5>
    {% if member.bodySchema %}
      <h5>Schema</h5>
      {$ member.bodySchema | marked $}
    {% endif %}
    {$ member.body | marked $}
  </section>
  {% endif %}

  {% if member.param and member.param.length %}
  <h4>Params</h4>
  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td>Type</td>
        <td>Optional</td>
        <td>Default</td>
        <td>Description</td>
      </tr>
    </thead>
    <tbody>
      {%- for param in member.param %}
      <tr>
        <td>{$ param.name $}</td>
        <td><code>{$ param.type $}</code></td>
        <td><code>{$ param.isOptional $}</code></td>
        <td>{$ param.defaultValue if param.defaultValue else '-' $}</td>
        <td>{$ (param.description | marked) if param.description else 'No description' $}</td>
      </tr>
      {% endfor -%}
    </tbody>
  </table>
  {% endif %} {% if member.query and member.query.length %}
  <h4>Query Params</h4>
  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td>Type</td>
        <td>Optional</td>
        <td>Default</td>
        <td>Description</td>
      </tr>
    </thead>
    <tbody>
      {%- for queryParam in member.query %}
      <tr>
        <td>{$ queryParam.name $}</td>
        <td><code>{$ queryParam.type $}</code></td>
        <td><code>{$ queryParam.isOptional $}</code></td>
        {% if queryParam.defaultValue != undefined %}
          <td><code>{$ queryParam.defaultValue | json $}</code></td>
        {% else %}
          <td>-</td>
        {% endif %}
        <td>{$ (queryParam.description | marked) if queryParam.description else 'No description' $}</td>
      </tr>
      {% endfor -%}
    </tbody>
  </table>
  {% endif %} 
  {% if member.headers.length %}
  <h4>Headers</h4>
  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td>Type</td>
        <td>Optional</td>
        <td>Description</td>
      </tr>
    </thead>
    <tbody>
      {%- for header in member.headers %}
      <tr>
        <td>{$ header.name $}</td>
        <td><code>{$ header.type $}</code></td>
        <td><code>{$ header.isOptional $}</code></td>
        <td>{$ header.description if header.description else 'No description' $}</td>
      </tr>
      {% endfor -%}
    </tbody>
  </table>
  {% endif %}
</section>
{% endif %}{% endfor -%} {% endblock %}
