.container{
    padding: var(--padding-md);
  
    .pageContentBox{
      background-color: var(--color-soft-light);
  
      .pageContentHeader{
          font-size: var(--font-size-lg);
          font-weight: 700;
          border-bottom: var(--border-default);
      }
  
      .pageContentBody, .pageContentHeader{
          padding: var(--padding-xl);
      }
      .pageContentBody{
        flex-wrap: wrap;
      }
    }
  }