:host {
  > div {
    font-size: 13px;
    display: flex;
    align-items: center;
    > div {
      width: 150px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    ::ng-deep mat-icon {
      font-size: 17px;
    }
  }
}
