:host {
  width: 100%;
  height: 100%;

  &:not(.expanded) {
    mat-sidenav-container {
      mat-sidenav {
        max-width: 66px;
        min-width: 0;
        mat-nav-list:nth-child(2) {
          opacity: 0;
        }
      }
      mat-sidenav-content {
        margin-left: 66px !important;
      }
    }
  }

  mat-sidenav-container {
    height: 100vh;
    mat-sidenav {
      min-width: 250px;
      max-width: 250px;
      word-break: break-word;
      transition-property: min-width, max-width;
      transition-duration: 0.4s;
      transition-timing-function: ease-in-out;

      .mat-nav-list:nth-child(2) {
        min-width: 190px;
        opacity: 1;
        transition: opacity 0.4s ease-in-out;
      }
      ::ng-deep .mat-drawer-inner-container {
        overflow-x: hidden;
        overflow-y: auto;
      }
      section.routes {
        display: flex;
        flex-flow: row;
        justify-content: stretch;
        mat-nav-list:last-child {
          min-height: 100vh;
        }
        mat-nav-list {
          &:first-of-type {
            padding: 0px 3px;
            background: rgba(var(--background-background-rgb), 0.9);
            mat-list-item {
              margin: 10px 0px;
              padding: 15px 0px;
              height: unset;

              &.active {
                background: rgba(255, 255, 255, 0.17);
                border-radius: 5px;
              }
              &:first-of-type {
                pointer-events: none;
                img {
                  width: 26px;
                  object-fit: fill;
                  user-select: none;
                }
              }
            }
          }
          &:last-of-type {
            flex: 1;
            h4 {
              padding-left: 18px;
            }
            mat-list-item {
              ::ng-deep .mat-list-item-content {
                padding: 16px;
              }
              height: auto;
              mat-icon {
                margin-right: 5px;
              }
            }
          }
        }
      }

      mat-accordion {
        mat-expansion-panel {
          mat-nav-list {
            padding-top: unset;
            mat-list-item {
              mat-icon {
                vertical-align: middle;
              }
              h4 {
                vertical-align: middle;
                margin-left: 5px;
                margin-bottom: unset;
              }
            }
          }
        }
      }
    }
    mat-sidenav-content {
      margin-left: 250px !important;
      transition: margin-left 0.4s ease-in-out;
      mat-toolbar {
        padding: 0 30px;
        background-color: var(--current-color, var(--primary-default, black));
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        button[mat-icon-button] {
          margin-left: -10px;
        }
        span {
          flex: 1 1 auto;
        }
        ::ng-deep > *:not(span):not(:first-child) {
          margin-right: 5px;
        }
      }
      ::ng-deep div.slot mat-toolbar {
        padding-top: 30px;
      }
    }
  }
  @media only screen and (max-width: 1280px) {
    mat-sidenav-container {
      mat-sidenav-content {
        margin-left: 0px !important;
      }
    }
    &:not(.expanded) {
      mat-sidenav-container {
        mat-sidenav-content {
          margin-left: 0px !important;
        }
      }
    }
  }
}

:root:not(.dark) :host {
  mat-sidenav,
  mat-nav-list {
    background-image: linear-gradient(0deg, #3a2e80, #19113c) !important;
    color: white !important;
  }

  mat-nav-list:first-of-type {
    background-image: linear-gradient(0deg, #271f57, #0e0922) !important;
  }

  mat-list-item {
    color: white !important;
  }

  mat-toolbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
  }
}
