:host {
  width: 100%;
  height: 100%;
  mat-sidenav-container {
    height: 100vh;
    mat-sidenav {
      min-width: 250px;
      mat-toolbar {
        background: transparent;
      }
      mat-accordion {
        mat-expansion-panel {
          mat-nav-list {
            padding-top: unset;
            mat-list-item {
              mat-icon {
                vertical-align: middle;
              }
              h4 {
                vertical-align: middle;
                margin-left: 5px;
                margin-bottom: unset;
              }
            }
          }
        }
      }
    }
    mat-sidenav-content {
      mat-toolbar {
        padding: 0 30px;
        background-color: var(--current-color, var(--primary-default, black));
        button[mat-icon-button] {
          margin-left: -10px;
        }
        .fill-between {
          flex: 1 1 auto;
        }
        .custom-action:not(:last-of-type) {
          margin-right: 5px;
        }
      }
    }
  }
}
