:host {
  mat-list-item {
    ::ng-deep {
      .mat-mdc-list-item-content {
        padding: 0;
      }
    }
  }

  form {
    min-width: 520px;

    mat-list {
      height: 100%;

      h4[mat-subheader] {
        margin-top: -20px;
      }

      mat-divider {
        margin-bottom: 20px;
      }

      mat-list-item {
        margin-bottom: 40px;
        mat-form-field {
          width: 100%;
        }

        span.http-url {
          margin-top: -40px;
          font-size: 11px;
          float: right;
        }

        mat-select {
          mat-select-trigger {
            > * {
              vertical-align: middle;
            }
            svg {
              height: 24px;
              margin-top: -4px;
            }
          }
        }

        div.timeout {
          width: 100%;
          > * {
            display: block;
          }

          mat-slider {
            width: 100%;
          }
        }

        &.trigger,
        &.trigger-details {
          ::ng-deep .mat-mdc-list-item-content {
            display: block;
          }

          ::ng-deep ng-component {
            width: 100%;
          }
        }
      }
    }
  }

  button.save {
    float: right;
    display: flex;
    mat-icon {
      margin-right: 5px;
    }
    mat-progress-spinner {
      display: inline-block;
      margin-right: 5px;
    }
  }

  button.close {
    top: -25px;
    right: -20px;
  }
}
