::ng-deep {
  .add-new-bucket-modal {
    padding: 0 !important;
    align-items: flex-start;
    flex-direction: column;
    mat-card-header {
      .mat-card-header-text {
        margin: 0;
      }
    }
    form {
      min-width: 340px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      mat-form-field {
        width: 100%;
        ::ng-deep {
          .mat-form-field-prefix {
            top: 0.35rem;
          }
        }
      }
      > button {
        margin-top: 10px;
      }
    }
  }
}
