:host {
  mat-toolbar {
    min-height: 250px;
    padding: 0 30px;
    align-items: flex-start;
    .deleteMatTool {
      margin-right: 20px;
    }
    .space-between {
      flex: 1 1 auto;
    }
    h4 {
      mat-icon,
      span {
        vertical-align: middle;
      }
      span {
        margin-left: 5px;
      }
      .id-icon {
        width: 25px;
        height: 25px;
        line-height: 20px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
        mat-icon {
          font-size: 18px;
        }
      }
      .description {
        display: block;
      }
      .description,
      .description-icon {
        font-size: 15px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        display: block;
        margin-left: 3px;
      }
      .description-icon {
        font-size: 16px;
        display: inline-flex;
        justify-content: center;
        text-align: center;
      }
    }
  }
  .action-buttons {
    position: absolute;
    right: 35px;
  }
  mat-card {
    margin: 30px;
    margin-top: -110px;
    // For proper border radius
    overflow: hidden;
  }
  mat-table {
    width: 100%;

    .mat-header-row {
      mat-header-cell {
        mat-checkbox {
          height: 0px;
          margin-bottom: 15px;
        }
        &:first-of-type {
          padding-left: 10px;
        }
        &:nth-of-type(2) {
          justify-content: center;
        }
        &:last-of-type {
          justify-content: flex-end;
        }
      }
    }
    .mat-row {
      mat-cell {
        mat-checkbox {
          height: 0px;
          margin-bottom: 15px;
        }
        &:first-of-type {
          padding-left: 10px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &:nth-of-type(2) {
          justify-content: center;
        }
        &:last-of-type {
          justify-content: flex-end;
        }
      }
    }
  }
}
