<mat-toolbar color="primary" *ngIf="schema$ | async; let schema">
  <span>
    <h4>
      <mat-icon>{{ schema.icon }}</mat-icon>
      <span>{{ schema.title }}</span>
      <button
        mat-icon-button
        #clipboard="matClipboard"
        [matClipboard]="bucketId"
        [matTooltip]="'Copied!'"
        (mouseenter)="$event.stopImmediatePropagation()"
        (click)="tooltip.toggle()"
        #tooltip="matTooltip"
      >
        <mat-icon>{{ clipboard.icon }}</mat-icon>
      </button>
      <mat-chip-list *ngIf="schema.readOnly">
        <mat-chip disableRipple>Read Only</mat-chip>
      </mat-chip-list>
      <mat-spinner *ngIf="!loaded" color="accent" diameter="20" @smooth></mat-spinner>
    </h4>
    <h6>{{ schema.description }}</h6>
  </span>

  <span class="space-between"></span>

  <button
    *ngIf="selectedItems.length > 0"
    class="delete mat-elevation-z0"
    mat-icon-button
    mat-raised-button
    color="warn"
    [disabled]="readOnly"
    [matTooltip]="'Delete ' + selectedItems.length + ' item.'"
    [matAwareDialog]="{
      title: 'Attention',
      templateOrDescription: deleteRowsDialog,
      answer: 'agree'
    }"
    (confirm)="deleteSelectedItems()"
  >
    <mat-icon>delete</mat-icon>
  </button>

  <button
    mat-icon-button
    [matTooltip]="(showScheduled ? 'Hide' : 'Show') + ' scheduled documents'"
    [color]="showScheduled ? 'accent' : 'secondary'"
    (click)="toggleScheduled()"
  >
    <mat-icon>schedule</mat-icon>
  </button>

  <button mat-icon-button matTooltip="Toggle columns" [matMenuTriggerFor]="propertiesMenu">
    <mat-icon>view_column</mat-icon>
    <mat-menu xPosition="before" #propertiesMenu="matMenu">
      <button mat-menu-item (click)="$event.stopPropagation()">
        <mat-checkbox
          [ngModel]="properties.length == displayedProperties.length"
          [indeterminate]="
            displayedProperties.length > 1 && displayedProperties.length < properties.length
          "
          (ngModelChange)="toggleDisplayAll($event, schema)"
        >
          Display all
        </mat-checkbox>
      </button>
      <mat-divider></mat-divider>
      <button
        mat-menu-item
        disableRipple
        *ngFor="let property of properties"
        [disabled]="property.name == '$$spicainternal_select' && readOnly"
        (click)="$event.stopPropagation()"
      >
        <mat-checkbox
          [disabled]="property.name == '$$spicainternal_select' && readOnly"
          [ngModel]="displayedProperties.indexOf(property.name) > -1"
          (ngModelChange)="toggleProperty(property.name, $event)"
        >
          {{ property.title }}
        </mat-checkbox>
      </button>
    </mat-menu>
  </button>

  <button mat-icon-button matTooltip="Change language" [matMenuTriggerFor]="languageMenu">
    <mat-icon>translate</mat-icon>
    <mat-menu #languageMenu="matMenu">
      <ng-template matMenuContent>
        <button
          mat-menu-item
          *ngFor="let languageKv of ($preferences | async)?.language.available | keyvalue"
          (click)="language = languageKv.key; refresh.next()"
        >
          {{ languageKv.value }} ({{ languageKv.key }})
        </button>
      </ng-template>
    </mat-menu>
  </button>

  <button
    mat-icon-button
    matTooltip="Filter data"
    [matMenuTriggerFor]="filterMenu"
    [color]="filterer.active ? 'accent' : ''"
  >
    <mat-icon>filter_list</mat-icon>
    <mat-menu class="filter-menu" #filterMenu="matMenu" (click)="$event.stopPropagation()">
      <bucket-filter
        #filterer
        [filter]="filter"
        [schema]="schema"
        (filterChange)="this.filter = $event; refresh.emit()"
      ></bucket-filter>
    </mat-menu>
  </button>
  <button mat-icon-button (click)="guide = !guide">
    <mat-icon>contact_support</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Refresh data" (click)="refresh.next()">
    <mat-icon>refresh</mat-icon>
  </button>

  <button
    *ngIf="!readOnly"
    mat-icon-button
    canInteract="bucket:data:create"
    matTooltip="Add new"
    routerLink="add"
  >
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<div class="data-guide">
  <mat-card class="mat-elevation-z25" [class.with-examples]="guide">
    <mat-card-content>
      <table mat-table [dataSource]="data$ | async" matSort (matSortChange)="sortChange($event)">
        <ng-container matColumnDef="$$spicainternal_select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              *ngIf="dataIds?.length > 0"
              color="primary"
              [indeterminate]="selectedItems.length < dataIds.length && selectedItems.length > 0"
              [ngModel]="selectedItems.length == dataIds.length"
              (ngModelChange)="selectedItems = $event ? [].concat(dataIds) : []"
            ></mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              color="primary"
              (ngModelChange)="
                $event
                  ? selectedItems.push(row._id)
                  : selectedItems.splice(selectedItems.indexOf(row._id), 1)
              "
              [ngModel]="selectedItems.indexOf(row._id) > -1"
            ></mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="$$spicainternal_schedule">
          <th mat-header-cell *matHeaderCellDef>Scheduled</th>
          <td mat-cell *matCellDef="let row">
            {{ row._schedule | date: "MMM d, y, h:mm:ss a" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="$$spicainternal_actions">
          <th mat-header-cell class="action" *matHeaderCellDef>Actions</th>
          <td mat-cell class="action" *matCellDef="let row">
            <button canInteract="bucket:data:show" mat-icon-button [routerLink]="row._id">
              <mat-icon>{{ readOnly ? "remove_red_eye" : "edit" }}</mat-icon>
            </button>

            <button
              mat-icon-button
              [disabled]="readOnly"
              canInteract="bucket:data:delete"
              color="warn"
              [matAwareDialog]="{
                title: 'Attention',
                templateOrDescription: dialogTemplate,
                answer: 'agree'
              }"
              (confirm)="delete(row._id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container *ngIf="schema$ | async; let schema">
          <ng-container
            *ngFor="let property of schema.properties | keyvalue"
            [matColumnDef]="property.key"
          >
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              mat-resize-header
              [persist-header-width]="schema._id"
            >
              {{ property.value.title }}
            </th>

            <td mat-cell *matCellDef="let row">
              {{
                row[property.key]?.hasOwnProperty(property.value.primary)
                  ? row[property.key][property.value.primary]
                  : row[property.key]
              }}
            </td>
          </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedProperties"></tr>

        <tr mat-row *matRowDef="let row; columns: displayedProperties"></tr>
      </table>

      <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-elevation-z25 guide" [class.hide]="!guide">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            Get All Data With Limit
          </mat-panel-description>
        </mat-expansion-panel-header>

        <a (click)="guideRequest(guideUrls?.getAllWithLimit, 'getAllWithLimit')" class="guide-link">
          {{ guideUrls?.getAllWithLimit }}
        </a>
        <mat-chip *ngIf="guideResponse?.getAllWithLimit" color="warn" selected
          >Return Data</mat-chip
        >
        <p
          *ngIf="guideResponse?.getAllWithLimit"
          [innerHtml]="
            guideResponse?.getAllWithLimit
              ? (guideResponse?.getAllWithLimit | highlight | async)
              : 'Data is not found'
          "
          class="guide-response"
        ></p>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            Get All Data With Sort
          </mat-panel-description>
        </mat-expansion-panel-header>
        <a (click)="guideRequest(guideUrls?.getAllWithSort, 'getAllWithSort')" class="guide-link">
          {{ guideUrls?.getAllWithSort }}
        </a>
        <mat-chip *ngIf="guideResponse?.getAllWithSort" color="warn" selected>Return Data</mat-chip>
        <p
          *ngIf="guideResponse?.getAllWithSort"
          class="guide-response"
          [innerHtml]="
            guideResponse?.getAllWithSort
              ? (guideResponse?.getAllWithSort | highlight | async)
              : 'Data is not found'
          "
        ></p>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            Get Data With Filter
          </mat-panel-description>
        </mat-expansion-panel-header>

        <a (click)="guideRequest(guideUrls?.getWithFilter, 'getWithFilter')" class="guide-link">
          {{ guideUrls?.getWithFilter }}
        </a>
        <mat-chip *ngIf="guideResponse?.getWithFilter" color="warn" selected>Return Data</mat-chip>
        <p
          *ngIf="guideResponse?.getWithFilter"
          class="guide-response"
          [innerHtml]="
            guideResponse?.getWithFilter.length > 0
              ? (guideResponse?.getWithFilter | highlight | async)
              : 'Data is not found'
          "
        ></p>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            Get Data With Like
          </mat-panel-description>
        </mat-expansion-panel-header>

        <a (click)="guideRequest(guideUrls?.getWithLike, 'getWithLike')" class="guide-link">
          {{ guideUrls?.getWithLike }}
        </a>
        <mat-chip *ngIf="guideResponse?.getWithLike" color="warn" selected>Return Data</mat-chip>
        <p
          *ngIf="guideResponse?.getWithLike"
          class="guide-response"
          [innerHtml]="
            guideResponse?.getWithLike.length > 0
              ? (guideResponse?.getWithLike | highlight | async)
              : 'Data is not found'
          "
        ></p>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            Get Data With Double Filter
          </mat-panel-description>
        </mat-expansion-panel-header>

        <a
          (click)="guideRequest(guideUrls?.getWithDoubleFilter, 'getWithDoubleFilter')"
          class="guide-link"
        >
          {{ guideUrls?.getWithDoubleFilter }}
        </a>
        <mat-chip *ngIf="guideResponse?.getWithDoubleFilter" color="warn" selected
          >Return Data</mat-chip
        >
        <p
          *ngIf="guideResponse?.getWithDoubleFilter"
          class="guide-response"
          [innerHtml]="
            guideResponse?.getWithDoubleFilter.length > 0
              ? (guideResponse?.getWithDoubleFilter | highlight | async)
              : 'Data is not found'
          "
        ></p>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            Get Data Only Scheduled
          </mat-panel-description>
        </mat-expansion-panel-header>

        <a
          (click)="guideRequest(guideUrls?.getOnlyScheduled, 'getOnlyScheduled')"
          class="guide-link"
        >
          {{ guideUrls?.getOnlyScheduled }}
        </a>
        <mat-chip *ngIf="guideResponse?.getOnlyScheduled" color="warn" selected
          >Return Data</mat-chip
        >
        <p
          *ngIf="guideResponse?.getOnlyScheduled"
          class="guide-response"
          [innerHtml]="
            guideResponse?.getOnlyScheduled.length > 0
              ? (guideResponse?.getOnlyScheduled | highlight | async)
              : 'Data is not found'
          "
        ></p>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            Get Data With Language
          </mat-panel-description>
        </mat-expansion-panel-header>

        <a (click)="guideRequest(guideUrls?.getDataWithLang, 'getDataWithLang')" class="guide-link">
          {{ guideUrls?.getDataWithLang }}
          <p>headers: "Accept-Language": "tr-TR"</p>
        </a>
        <mat-chip *ngIf="guideResponse?.getDataWithLang" color="warn" selected
          >Return Data</mat-chip
        >
        <p
          *ngIf="guideResponse?.getDataWithLang"
          class="guide-response"
          [innerHtml]="
            guideResponse?.getDataWithLang.length > 0
              ? (guideResponse?.getDataWithLang | highlight | async)
              : 'Data is not found'
          "
        ></p>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>
<ng-template #deleteRowsDialog let-answer="answer"
  >Î
  <p>This action cannot be undone.</p>
  <p>
    This action will permanently delete selected <code>{{ selectedItems.length }}</code> rows and
    break the all relations.
  </p>
  <p>
    Please type in <code>{{ answer }}</code> to confirm.
  </p>
</ng-template>

<ng-template #dialogTemplate let-answer="answer">
  <p>This action cannot be undone.</p>
  <p>
    This action will permanently delete the row and break the all relations.
  </p>
  <p>
    Please type in <code>{{ answer }}</code> to confirm.
  </p>
</ng-template>
