::ng-deep .filter-menu {
  .mat-menu-content {
    width: 100%;
    padding: 30px 0 20px !important;
    mat-form-field {
      width: 80%;
      margin: 0 10%;

      .mat-form-field-infix {
        width: 300px;
      }
    }
    .filter-buttons {
      display: flex;
      justify-content: center;
      button {
        margin: 5px;
      }
    }
  }
}

:host {
  mat-toolbar {
    min-height: 250px;
    padding: 0 30px;
    align-items: flex-start;

    span:first-of-type {
      h4 {
        & > * {
          vertical-align: middle;
          display: inline-block;
        }
        mat-icon {
          margin-left: -3px;
        }
        span {
          margin-left: 5px;
        }
        mat-chip-list {
          margin-left: 10px;
          mat-chip {
            font-size: 11px;
            padding: 7px 10px;
            min-height: 20px;
            height: 22px;
            line-height: normal;
          }
        }
      }

      h6 {
        font-size: 14px;
      }
    }

    .space-between {
      flex: 1 1 auto;
    }

    button.delete {
      margin-right: 20px;
    }
  }
  ::ng-deep div.monaco-editor {
    display: none;
  }
  div.data-guide {
    display: flex;
    align-items: start;
    mat-card {
      &.with-examples {
        margin-right: 5px;
        width: 66%;
      }

      &.guide {
        margin-left: unset;
        margin-right: unset;
        width: 29%;
        padding: unset;
        &.hide {
          width: 0;
          mat-list {
            height: 0;
          }
        }
        .guide-link {
          display: block;
          font-size: 13px;
          margin-bottom: 10px;
          cursor: pointer;
        }
        mat-chip {
          padding: 3px 10px;
          border-radius: 5px;
        }
        p.guide-response {
          padding: 7px 10px;
          border-radius: 5px;
          background: rgba(var(--background-app-bar-rgb), calc(0.22 + var(--tone-diff)));
          max-height: 400px;
          overflow-y: auto;
        }
      }
      transition: width 1s;
      display: inline-block;
      width: calc(100% - 60px);
      margin: 30px;
      margin-top: -110px;
      overflow: auto;

      table {
        min-width: 100%;
        width: max-content;
      }
    }
  }
}
