::ng-deep .filter-menu {
  overflow: unset !important;
  max-width: unset !important;
  width: 600px;
  .mat-menu-content {
    padding: 10px 18px;
  }
}

:host {
  mat-toolbar {
    min-height: 250px;
    padding: 0 30px;
    align-items: flex-start;
    flex-direction: column;

    span:first-of-type {
      h4 {
        & > * {
          vertical-align: middle;
          display: inline-block;
        }
        mat-icon {
          margin-left: -3px;
        }
        span {
          margin-left: 5px;
        }
        mat-chip-list {
          margin-left: 10px;
          mat-chip {
            font-size: 11px;
            padding: 7px 10px;
            min-height: 20px;
            height: 22px;
            line-height: normal;
          }
        }
      }

      h6 {
        margin-top: -10px;
        font-size: 13px;
        .mat-icon {
          font-size: 17px;
        }
      }

      h5 {
        font-size: 15px;
      }
    }

    div.actions {
      max-width: 100%;
      align-self: flex-end;
      overflow-x: scroll;

      -ms-overflow-style: none; /* Internet Explorer 10+ */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
      }
    }
  }
  ::ng-deep div.monaco-editor {
    display: none;
  }
  div.data-guide {
    display: flex;
    align-items: flex-start;
    a,
    button {
      border-color: var(--primary-400);
    }
    .guide {
      transition: all 1s;
      position: absolute;
      left: 0px;
      top: 0px;
      height: 100vh;
      width: 100%;
      min-width: 300px;
      display: flex;
      transform: translateX(0%);
      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        button {
          margin-left: 10px;
        }
      }
      .input {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        padding: 10px 20px;
        a {
          margin-right: 30px;
        }
      }
      .backdrop {
        transition: all 1s;
        flex: 1;
        background-color: rgba(0, 0, 0, 0.4);
        transform: translateX(0%);
        z-index: 1;
      }
      &.hide {
        left: 0px;
        transform: translateX(100%);
        .backdrop {
          transform: translateX(100%);
        }
      }
      .content {
        z-index: 5;
        width: 70%;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        background: var(--primary-800);
        color: var(--primary-100);
        height: 100%;
        overflow: auto;
        .item {
          border-bottom: 1px solid var(--primary-400);
          padding: 20px;
        }

        ::ng-deep mat-form-field {
          * {
            color: var(--primary-100);
          }
          .mat-form-field-outline {
            background: transparent;
          }
        }
      }
      .guide-link {
        display: block;
        margin-bottom: 10px;
        .description {
          line-height: 1.5rem;
        }
        .link {
          line-height: 1.5em;
          margin: 0px;
          font-size: 0.95rem;
          code {
            border-radius: 4px;
          }
        }
      }
      pre.guide-response {
        font-size: 0.95rem;
        border-radius: 4px;
        line-height: 1.5em;
        margin: 0px;
      }
    }
    mat-card {
      display: inline-block;
      width: calc(100% - 60px);
      margin: 30px;
      margin-top: -85px;
      overflow: auto;

      table {
        min-width: 100%;
        width: max-content;
        .select {
          width: 75px;
        }
        th:not(.select):not(:last-of-type) {
          position: relative;
          &:after {
            content: "||";
            position: absolute;
            right: 10px;
            top: 10px;
          }
        }
        tr {
          height: 40px !important;
          > th:last-of-type {
            padding-right: 35px;
          }
          > *:last-of-type {
            text-align: right;
          }
        }

        td.mat-cell:not(.action) {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 0;

          button.inline-edit {
            display: none;
          }

          button.inline-edit:hover {
            display: inline-block;
          }

          span.cell:hover + button.inline-edit {
            display: inline;
          }
        }
      }
    }
  }
}
