<div class="data-guide">
  <ng-container *ngIf="schema$ | async; let schema">
    <div class="actions-line">
      <div class="filters">
        <mat-form-field>
          <mat-icon matPrefix>search</mat-icon>
          <input
            type="text"
            matInput
            placeholder="Search a text.."
            [(ngModel)]="searchValue"
            (ngModelChange)="search$.next()"
          />
        </mat-form-field>
        <button
          mat-button
          [matMenuTriggerFor]="filterMenu"
          [color]="filterer.active ? 'accent' : ''"
        >
          <mat-icon>filter_list</mat-icon>
          Filter
          <mat-menu class="filter-menu" #filterMenu="matMenu" (click)="$event.stopPropagation()">
            <bucket-filter
              (keydown.tab)="$event.stopPropagation()"
              #filterer
              [filter]="filter"
              [schema]="schema"
              (filterChange)="searchValue = ''; onFilterChange($event ? $event : {})"
            ></bucket-filter>
          </mat-menu>
        </button>
      </div>
      <span>
        <h6>
          <mat-chip-list *ngIf="schema.readOnly">
            <mat-chip disableRipple>Read Only</mat-chip>
          </mat-chip-list>
          Bucket ID: {{ schema._id }}
          <button
            mat-icon-button
            #clipboard="matClipboard"
            [matClipboard]="bucketId"
            (mouseenter)="$event.stopImmediatePropagation()"
          >
            <mat-icon [matTooltip]="clipboard.toolTip">
              {{ clipboard.icon }}
            </mat-icon>
          </button>
          <mat-spinner *ngIf="!loaded" color="accent" diameter="20" @smooth></mat-spinner>
        </h6>
      </span>
      <div class="actions">
        <button
          *ngIf="selectedItems.length > 0"
          class="delete mat-elevation-z0"
          mat-button
          mat-raised-button
          color="warn"
          [disabled]="readOnly"
          [matTooltip]="'Delete ' + selectedItems.length + ' entries.'"
          [matAwareDialog]="{
            title: 'Confirmation',
            templateOrDescription: getDependents(schema, selectedItems).length
              ? deleteRowsWithDependentsDialog
              : deleteRowsDialog,
            answer: 'agree',
            list: getDependents(schema, selectedItems)
          }"
          (confirm)="deleteSelectedItems()"
        >
          <mat-icon>delete</mat-icon>
          Delete
        </button>
        <button
          *ngIf="!readOnly"
          mat-button
          canInteract="bucket:data:create"
          [resource]="schema._id"
          routerLink="add"
        >
          <mat-icon>add</mat-icon>
          Add New
        </button>
        <button mat-button (click)="refresh.next()">
          <mat-icon>refresh</mat-icon>
          Refresh
        </button>

        <button mat-button [matMenuTriggerFor]="propertiesMenu">
          <mat-icon>view_column</mat-icon>
          Columns
          <mat-menu xPosition="before" #propertiesMenu="matMenu">
            <button mat-menu-item (click)="$event.stopPropagation()">
              <mat-checkbox
                [ngModel]="properties.length == displayedProperties.length"
                [indeterminate]="
                  displayedProperties.length > 1 && displayedProperties.length < properties.length
                "
                (ngModelChange)="toggleDisplayAll($event, schema)"
              >
                Display all
              </mat-checkbox>
            </button>
            <mat-divider></mat-divider>
            <ng-container *ngFor="let property of properties">
              <button
                mat-menu-item
                disableRipple
                *ngIf="!stickyProperties.includes(property.name)"
                [disabled]="property.name == '$$spicainternal_select' && readOnly"
                (click)="$event.stopPropagation()"
              >
                <mat-checkbox
                  [disabled]="property.name == '$$spicainternal_select' && readOnly"
                  [ngModel]="displayedProperties.indexOf(property.name) > -1"
                  (ngModelChange)="toggleProperty(property.name, $event)"
                >
                  {{ property.title }}
                </mat-checkbox>
              </button>
            </ng-container>
          </mat-menu>
        </button>

        <button *ngIf="displayTranslateButton" mat-button [matMenuTriggerFor]="languageMenu">
          <mat-icon>translate</mat-icon>
          Translate
          <mat-menu #languageMenu="matMenu">
            <ng-template matMenuContent>
              <button
                mat-menu-item
                *ngFor="let languageKv of ($preferences | async)?.language.available | keyvalue"
                (click)="onLanguageChange(languageKv.key)"
              >
                {{ languageKv.value }} ({{ languageKv.key }})
              </button>
            </ng-template>
          </mat-menu>
        </button>

        <button
          mat-button
          [matTooltip]="(showScheduled ? 'Hide' : 'Show') + ' scheduled documents'"
          [color]="showScheduled ? 'accent' : 'secondary'"
          (click)="toggleScheduled()"
        >
          <mat-icon>schedule</mat-icon>
          Schedule
        </button>

        <button
          mat-button
          [matTooltip]="(guide ? 'Hide' : 'Show') + ' Guide'"
          (click)="guide = !guide"
        >
          <mat-icon>contact_support</mat-icon>
          For Developers
        </button>
      </div>
    </div>
  </ng-container>
  <mat-card class="mat-elevation-z25">
    <mat-card-content>
      <table
        class="striped"
        mat-table
        #rowtable
        [dataSource]="data$ | async"
        matSort
        (matSortChange)="onSortChange($event)"
      >
        <ng-container matColumnDef="$$spicainternal_select" sticky>
          <th class="select" mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              *ngIf="dataIds?.length > 0"
              [indeterminate]="selectedItems.length < dataIds.length && selectedItems.length > 0"
              [ngModel]="selectedItems.length == dataIds.length"
              (ngModelChange)="selectedItems = $event ? rowtable.dataSource : []"
            ></mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              (ngModelChange)="onItemSelected($event, row)"
              [ngModel]="hasSelected(row._id)"
            ></mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="$$spicainternal_id" *ngIf="schema$ | async; let schema" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-icon class="type-icon"> key</mat-icon> _id
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row._id }}
          </td>
        </ng-container>
        <ng-container matColumnDef="$$spicainternal_schedule" *ngIf="schema$ | async; let schema">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            mat-resize-header
            [overrideMinWidth]="true"
            [persist-header-width]="schema._id"
          >
            <mat-icon class="type-icon">schedule</mat-icon> Scheduled
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row._schedule | date: "MMM d, y, h:mm:ss a" }}
          </td>
        </ng-container>
        <ng-container
          matColumnDef="$$spicainternal_actions"
          *ngIf="schema$ | async; let schema"
          stickyEnd
        >
          <th mat-header-cell class="action" *matHeaderCellDef>Actions</th>
          <td mat-cell class="action" *matCellDef="let row">
            <button
              canInteract="bucket:data:show"
              [resource]="schema._id + '/' + row._id"
              mat-icon-button
              [routerLink]="row._id"
            >
              <mat-icon>{{ readOnly ? "remove_red_eye" : "edit" }}</mat-icon>
            </button>
            <button
              mat-icon-button
              [disabled]="readOnly"
              canInteract="bucket:data:delete"
              [resource]="schema._id + '/' + row._id"
              color="warn"
              [matAwareDialog]="{
                title: 'Confirmation',
                templateOrDescription: getDependents(schema, [row]).length
                  ? deleteWithDependentsDialog
                  : deleteDialog,
                answer: row.hasOwnProperty(schema.primary)
                  ? row[schema.primary]?.toString()
                  : 'agree',
                list: getDependents(schema, [row])
              }"
              (confirm)="delete(row._id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container *ngIf="schema$ | async; let schema">
          <ng-container
            *ngFor="let property of deepCopySchema.properties | keyvalue"
            [matColumnDef]="property.key"
          >
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              [persist-header-width]="schema._id"
              mat-resize-header
              [overrideMinWidth]="true"
            >
              <mat-icon>{{ _inputResolver.resolve(property.value.type).icon }}</mat-icon>
              {{ property.value.title }}
            </th>
            <td
              mat-cell
              *matCellDef="let row"
              [ngClass]="{editable: nonEditableTypes.indexOf(property.value.type) == -1}"
              [resource]="schema._id + '/' + row._id"
              (click)="enableEditMode(row._id, property)"
            >
              <div canInteract="bucket:data:update">
                <span
                  *ngIf="editingCellId != getEditingCellId(row._id, property.key)"
                  class="cell"
                  [innerHTML]="buildTemplate(row[property.key], property.value, property.key)"
                ></span>
                <span
                  [attr.id]="row._id + '_' + property.key"
                  #model="ngModel"
                  *ngIf="editingCellId == getEditingCellId(row._id, property.key)"
                  class="input-placer"
                  [inputPlacer]="property.value"
                  [minimal]="true"
                  [(ngModel)]="row[property.key]"
                  (keydown.enter)="
                    patchBucketData(schema._id, row._id, property.key, row[property.key]);
                    editingCellId = ''
                  "
                  (keydown.esc)="
                    revertEditModeChanges(row._id, property.key, model); editingCellId = ''
                  "
                  (keydown.tab)="
                    patchBucketData(schema._id, row._id, property.key, row[property.key]);
                    editingCellId = '';
                    editNext(row._id, property.key)
                  "
                >
                </span>
              </div>
            </td>
          </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedProperties"></tr>

        <tr mat-row *matRowDef="let row; columns: displayedProperties"></tr>
      </table>

      <mat-paginator
        (page)="onPaginatorChange($event)"
        [pageSize]="paginator.pageSize"
        [pageSizeOptions]="[5, 10, 25, 100]"
      ></mat-paginator>
    </mat-card-content>
  </mat-card>

  <div class="guide" [class.hide]="!guide">
    <div class="backdrop" (click)="guide = !guide"></div>
    <div class="content">
      <div class="input">
        <mat-form-field appearance="outline">
          <mat-label>Choose SDK</mat-label>
          <mat-select [(ngModel)]="guideSDK">
            <mat-option value="curl">cURL</mat-option>
            <mat-option value="js">JavaScript</mat-option>
          </mat-select>
        </mat-form-field>
        <a mat-stroked-button target="_blank" href="https://www.youtube.com/watch?v=KiN7ZtmhUaQ"
          >Watch On Youtube</a
        >
        <a
          mat-stroked-button
          target="_blank"
          href="https://spicaengine.com/docs/libraries/bucket-module"
          >Full Documentation</a
        >
      </div>
      <ng-container *ngFor="let guide of guideObjects">
        <div class="item" *ngIf="guide.value.example[guideSDK]">
          <h3 class="title">
            {{ guide.value.title }}
            <div>
              <button
                mat-button
                #clipboard="matClipboard"
                [matClipboard]="guide.value.example[guideSDK]"
              >
                <mat-icon [matTooltip]="clipboard.toolTip">
                  {{ clipboard.icon }}
                </mat-icon>
                {{ clipboard.toolTip || "Copy to clipboard" }}
              </button>
              <button
                *ngIf="guide.value.example['api']"
                mat-stroked-button
                (click)="guideRequest(guide.value.example.api, guide.key)"
              >
                {{ guideResponse[guide.key] ? "Hide Response" : "Show Response" }}
              </button>
            </div>
          </h3>

          <div class="guide-link">
            <div class="description">{{ guide.value.description }}</div>
            <pre class="link" *ngIf="guide.value.example[guideSDK]">
              <code [highlight]="guide.value.example[guideSDK]" [languages]="['typescript']"></code>
            </pre>

            <pre *ngIf="guideResponse[guide.key]" class="guide-response"><code  [highlight]="
            guideResponse[guide.key] ? (guideResponse[guide.key] | json) : 'Data does not exist'
            " [languages]="['json']"></code></pre>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<ng-template #deleteRowsDialog let-answer="answer">
  <p>
    This action will <b>permanently</b> delete these selected
    <code>{{ selectedItems.length }}</code> entries and break all relations.
  </p>
  <p>
    Please type in <code>{{ answer }}</code> to confirm.
  </p>
</ng-template>

<ng-template #deleteRowsWithDependentsDialog let-answer="answer" let-list="list">
  <p>WARNING:</p>
  <p>
    This action will <b>permanently</b> delete these selected
    <code>{{ selectedItems.length }}</code> entries, break all relations and delete dependent
    <code>{{ list.length }}</code> documents below:
  </p>
  <ng-container *ngFor="let item of list">
    <div>
      {{ item }}
    </div>
  </ng-container>
  <br />
  <p>
    Please type in <code>{{ answer }}</code> to confirm.
  </p>
</ng-template>

<ng-template #deleteDialog let-answer="answer">
  <p>This action will <b>permanently</b> delete this entry and break all relations.</p>
  <p>
    Please type in <code>{{ answer }}</code> to confirm.
  </p>
</ng-template>

<ng-template #deleteWithDependentsDialog let-answer="answer" let-list="list">
  <p>WARNING:</p>
  <p>
    This action will <b>permanently</b> delete this entry, break all relations and delete dependent
    <code>{{ list.length }}</code> documents below:
  </p>
  <ng-container *ngFor="let item of list">
    <div>
      {{ item }}
    </div>
  </ng-container>
  <br />
  <p>
    Please type in <code>{{ answer }}</code> to confirm.
  </p>
</ng-template>
