:host {
  mat-card {
    margin: 30px;
    overflow: hidden;
    padding: 25px;
  }
  mat-form-field {
    width: 100%;
  }
  .resource {
    padding-left: 30px;
  }
  .resource-input {
    padding-left: 5px;
  }

  mat-expansion-panel {
    margin-top: 10px;
  }
}
