<ng-template #toolbar>
  <span>
    <h4>
      <mat-icon>layers</mat-icon>
      <span>{{ policy._id ? policy.name : "Add Policy" }}</span>
    </h4>
  </span>
</ng-template>

<mat-card>
  <mat-card-content>
    <form #policyForm="ngForm">
      <mat-form-field>
        <input
          matInput
          placeholder="Policy Name"
          name="policyName"
          [(ngModel)]="policy.name"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <textarea
          matInput
          placeholder="Description"
          name="policyDescription"
          [(ngModel)]="policy.description"
          required
        ></textarea>
      </mat-form-field>
      <button mat-button (click)="addStatement()">Add Statement <mat-icon>add</mat-icon></button>
      <div *ngFor="let statement of policy.statement; index as statementIndex">
        <mat-accordion>
          <mat-expansion-panel class="mat-elevation-z1">
            <mat-expansion-panel-header>
              <mat-panel-title>Statement: {{ statementIndex + 1 }}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field>
              <mat-select
                placeholder="Module"
                [name]="statementIndex + 'name'"
                (ngModelChange)="statement.action = undefined"
                [(ngModel)]="statement.module"
                required
              >
                <mat-option *ngFor="let service of services | keyvalue" [value]="service.key">
                  {{ service.key.replaceAll(":", " ") | titlecase }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="statement.module">
              <mat-select
                [name]="statementIndex + 'action'"
                placeholder="Actions"
                [(ngModel)]="statement.action"
                (ngModelChange)="onActionChange(statement)"
                required
              >
                <mat-option
                  class="mat-accent"
                  *ngFor="let action of services[statement.module] | keyvalue"
                  [value]="action.key"
                  >{{
                    action.key.replace(statement.module + ":", "").replace(":", " ") | titlecase
                  }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="isResourceable(statement)">
              <mat-select
                placeholder="Resource Definition"
                (selectionChange)="onResourceSelection(statement, $event.value)"
                [value]="getResourceSelection(statement)"
              >
                <mat-option value="include">
                  Include resources
                </mat-option>
                <mat-option value="exclude">
                  Exclude resources
                </mat-option>
              </mat-select>
            </mat-form-field>
            <ng-container *ngIf="isResourceable(statement)">
              <ng-container *ngIf="getResourceSelection(statement) == 'include'">
                <mat-label>Included resources</mat-label>
                <div
                  class="included-resources"
                  *ngFor="let included of statement.resource; index as includedResourceIndex"
                >
                  <mat-form-field>
                    <input disabled matInput [value]="statement.resource[includedResourceIndex]" />
                  </mat-form-field>
                  <button
                    mat-button
                    color="warn"
                    (click)="removeIncluded(includedResourceIndex, statement)"
                  >
                    <mat-icon>
                      delete
                    </mat-icon>
                  </button>
                </div>

                <div class="include-resource-input">
                  <mat-form-field>
                    <input
                      matInput
                      #includeResource="ngModel"
                      ngModel
                      [name]="statementIndex + 'includeResource'"
                      placeholder="Enter the resource that will be included"
                    />
                    <mat-hint>
                      Expected resource format: "<b>{{
                        services[statement.module][statement.action].join("/")
                      }}</b
                      >"
                    </mat-hint>
                  </mat-form-field>
                  <button
                    [disabled]="!includeResource.value"
                    mat-button
                    (click)="addInclude(includeResource.value, statement); includeResource.reset()"
                  >
                    Add Resource
                  </button>
                </div>
              </ng-container>
              <ng-container *ngIf="getResourceSelection(statement) == 'exclude'">
                <div class="excluded-resources">
                  <div class="includeds">
                    <mat-label>Included Resources</mat-label>
                    <mat-form-field>
                      <input
                        matInput
                        [name]="statementIndex + 'includedResource'"
                        #includedResource="ngModel"
                        [(ngModel)]="statement.resource.include"
                        required
                      />
                      <mat-hint
                        >Expected resource format: "<b>{{
                          services[statement.module][statement.action].join("/")
                        }}</b
                        >"</mat-hint
                      >
                    </mat-form-field>
                  </div>
                  <div class="excludeds">
                    <mat-label>Excluded Resources</mat-label>
                    <div
                      class="excluded-resource"
                      *ngFor="
                        let excluded of statement.resource.exclude;
                        index as excludedResourceIndex
                      "
                    >
                      <mat-form-field>
                        <input
                          matInput
                          disabled
                          [value]="statement.resource.exclude[excludedResourceIndex]"
                        />
                      </mat-form-field>
                      <button
                        mat-button
                        color="warn"
                        (click)="removeExcluded(excludedResourceIndex, statement)"
                      >
                        <mat-icon>
                          delete
                        </mat-icon>
                      </button>
                    </div>
                    <div class="exclude-resource-input">
                      <mat-form-field>
                        <input
                          matInput
                          #excludeResource="ngModel"
                          ngModel
                          [name]="statementIndex + 'excludeResource'"
                          placeholder="Enter the resource that will be excluded"
                        />
                        <mat-hint>
                          Expected resource format: "<b>{{
                            services[statement.module][statement.action].join("/")
                          }}</b
                          >"
                        </mat-hint>
                      </mat-form-field>
                      <button
                        mat-button
                        [disabled]="!excludeResource.value"
                        (click)="
                          addExclude(excludeResource.value, statement); excludeResource.reset()
                        "
                      >
                        Add Resource
                      </button>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>

            <button mat-button color="warn" (click)="removeStatement(statementIndex)">
              Remove Statement
            </button>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      class="save-button"
      mat-button
      [disabled]="policyForm.invalid || noResourceInserted()"
      [canInteract]="policy._id ? 'passport:policy:update' : 'passport:policy:create'"
      [resource]="policy._id ? policy._id : undefined"
      (click)="savePolicy()"
    >
      <mat-icon>save</mat-icon>
      <span>Save</span>
    </button>
  </mat-card-actions>
</mat-card>
