<ng-template #toolbar>
  <mat-toolbar color="primary">
    <h4 class="mat-h4">
      <mat-icon>layers</mat-icon>
      <span>{{ policy.name || "Add Policy" }}</span>
    </h4>
    <span class="space-between"></span>
  </mat-toolbar>
</ng-template>

<mat-card>
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="Policy Name" [(ngModel)]="policy.name" required />
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        placeholder="Description"
        [(ngModel)]="policy.description"
        required
      ></textarea>
    </mat-form-field>
    <button mat-button (click)="addStatement()">Add Statement <mat-icon>add</mat-icon></button>
    <div *ngFor="let statement of policy.statement; let i = index">
      <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z1">
          <mat-expansion-panel-header>
            <mat-panel-title>Statement: {{ i + 1 }}</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="resource-input">
            <mat-form-field>
              <mat-select placeholder="Effect" [(ngModel)]="statement.effect">
                <mat-option value="allow">Allow</mat-option>
                <mat-option value="deny">Deny</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select
                placeholder="Service"
                [(ngModel)]="statement.service"
                [(value)]="statement.service"
                (selectionChange)="recheckArgs($event.value, i)"
                #servicePicker
              >
                <mat-option *ngFor="let service of services | keyvalue" [value]="service.key">
                  {{ service.value.title }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="servicePicker.value">
              <mat-select placeholder="Actions" multiple [(ngModel)]="statement.action">
                <mat-option
                  *ngFor="let action of services[servicePicker.value]?.actions"
                  [value]="action"
                  >{{ action }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <ng-container
            *ngFor="let resource of statement.resource; let index = index; trackBy: _trackBy"
          >
            <div class="resource">
              <mat-form-field
                *ngFor="let resourceInput of services[servicePicker.value]?.parsedArguments"
                style="width: 500px"
              >
                <input
                  matInput
                  [placeholder]="resourceInput.name"
                  [(ngModel)]="statement.resource[index]"
                />
                <mat-hint>
                  Enter asterisk (*) to include all of the resources under the service.
                </mat-hint>
              </mat-form-field>
              <button mat-button (click)="removeResource(statement.resource, index)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </ng-container>
          <div
            class="resource"
            *ngIf="servicePicker.value != null && services[servicePicker.value]?.parsedArguments"
          >
            <button mat-button (click)="addResource(statement)">
              Add Resource
            </button>
          </div>
          <button mat-button color="warn" (click)="removeStatement(i)">
            Remove Statement
          </button>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <button mat-button color="primary" type="submit" (click)="submitForm()">
      Save Policy
    </button>
  </mat-card-content>
</mat-card>
