:host {
  mat-card {
    mat-card-content  {
      > *:not(mat-form-field) {
        margin-top: 1em;
      }
      > button:not(:last-of-type) {
        margin-right: 10px;
      }
    }
  }
  mat-form-field {
    width: 100%;
  }
  .resource {
    margin-bottom: 1em;
    padding-left: 30px;
    width: 70%;
    mat-form-field {
      width: 80%;
      margin-right: 10px;
    }
    > button:last-of-type {
      margin-top: 1em;
      display: block;
    }
  }
}
