:host {
  mat-card {
    mat-card-content  {
      > *:not(mat-form-field) {
        margin-top: 1em;
      }
      > button:not(:last-of-type) {
        margin-right: 10px;
      }
    }
  }
  mat-form-field {
    width: 100%;
  }

  div.included-resources,
  div.include-resource-input {
    display: flex;
    width: 50%;
    align-items: baseline;

    > mat-form-field {
      width: 90%;
      margin-right: 10px;
    }
  }

  div.excluded-resources {
    display: flex;
    align-items: baseline;
    div.includeds,
    div.excludeds {
      flex: 1;
    }

    div.includeds {
      margin-right: 10px;
    }

    div.excluded-resource,
    div.exclude-resource-input {
      align-items: baseline;
      display: flex;
      > mat-form-field {
        width: 90%;
        margin-right: 10px;
      }
    }
  }
}
