::ng-deep .strategy-dialog mat-dialog-container {
  padding: 0;
  display: flex;
}
:host {
  position: relative;
  flex: 1;
  iframe {
    border: 0;
    height: 100%;
    width: 100%;
    transition: opacity 0.3s ease-in-out;
    will-change: opacity;
  }
  mat-progress-spinner {
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
  }
}
