:host {
  mat-list {
    margin-top: 10px;
    mat-list-item.configuration{
      margin-top: 20px;
      ::ng-deep {
        span.inputplacer,
        .input-placer-input {
          width: 100% !important;
        }
        div.mat-list-item-content {
          padding: 0px !important;
        }
      }
    }
  }

  div.bottom-actions {
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
