<mat-toolbar>
  <h4 class="mat-h4">
    <mat-icon>leaderboard</mat-icon>
    <span>Dashboards</span>
  </h4>
  <button mat-button canInteract="dashboard:create" routerLink="add">
    <mat-icon>add</mat-icon>
    Add New
  </button>
</mat-toolbar>
<mat-card class="mat-elevation-z25">
  <mat-card-content>
    <mat-table [dataSource]="dashboards$">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
        <mat-cell *matCellDef="let dashboard">{{ dashboard._id }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let dashboard">{{ dashboard.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let dashboard">
          <button
            mat-icon-button
            canInteract="dashboard:show"
            [resource]="dashboard._id"
            [routerLink]="dashboard._id"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            canInteract="dashboard:delete"
            [resource]="dashboard._id"
            [matAwareDialog]="{
              title: 'Confirmation',
              templateOrDescription: dialogTemplate,
              answer: dashboard.name
            }"
            color="warn"
            (confirm)="deleteDashboard(dashboard._id)"
          >
            <mat-icon mat-icon-button>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>

<ng-template #dialogTemplate let-answer="answer">
  <p>This action will <b>permanently</b> delete this dashboard.</p>
  <p>
    Please type in <code>{{ answer }}</code> to confirm.
  </p>
</ng-template>
