.resourceLink {
  display: inline-flex;
  align-items: center;
  color: var(--color-font-primary);
  text-decoration: none;

  span {
    font-weight: bold;
  }

  &:hover {
    text-decoration: underline;
  }
}
