<!-- move the error template to all components -->
<div>
  <ng-container *ngIf="error">
    <mat-icon>error</mat-icon>
    <h3 class="mat-h3">Could not load the object.</h3>
    <small class="mat-small">{{ error }}</small>
  </ng-container>
  <ng-container *ngIf="!error">
    <mat-icon>warning</mat-icon>
    <h3 class="mat-h3">This object cannot be viewed.</h3>
    <small class="mat-small">
      Instead you might want to open it directly.
      <a
        mat-icon-button
        mat-flat-button
        target="_blank"
        [href]="content"
        (click)="$event.stopPropagation()"
      >
        <mat-icon>launch</mat-icon>
      </a>
    </small>
  </ng-container>
</div>
