::ng-deep  {
  .mat-menu-panel.validators {
    .mat-menu-item {
      &[role="menuitem"] {
        height: 70px;
        padding-top: 15px;
      }

      button {
        margin-left: 10px;
        mat-icon {
          margin-right: 0;
        }
      }
    }
  }
}

:host {
  margin-left: 10px;
  .property {
    padding: 20px;
  }
}
