@import "../../../styles/mixins";

.drawerContent {
  border-top-left-radius: var(--border-radius-xl);
  border-bottom-left-radius: var(--border-radius-xl);
}

.drawerContentScrollableContent {
  @include hideScrollbar;
}

.formContainer {
  display: block !important;
  max-height: 500px;
  width: 100% !important;
  padding: var(--padding-md);
}

.formContent {
  width: 100% !important;
  padding-bottom: var(--padding-md);
}

.inputFieldContainer {
  width: 100%;
  min-width: 100%;
  > div {
    border: none;
  }
  *:not(input):not(textarea) {
    text-transform: capitalize;
  }
}

.footer {
  width: 100% !important;
  justify-content: flex-end !important;

  .errorText {
    font-size: var(--font-size-xs) !important;
    color: var(--color-danger);
    width: 100%;
  }

  .saveButton {
    height: 38px;
  }
}
