<mat-toolbar>
  <h4 class="mat-h4">
    <mat-icon>account_box</mat-icon>
    <span>User Activities</span>
  </h4>
  <div class="actions">
    <button mat-button (click)="applyFilters()">
      <mat-icon>refresh</mat-icon>
      Refresh
    </button>
    <button mat-button canInteract="activity:delete" (click)="clearActivities()">
      <mat-icon>clear_all</mat-icon>
      Clear
    </button>
  </div>
</mat-toolbar>

<mat-card appearance="outlined" class="mat-elevation-z25">
  <mat-form-field>
    <mat-label>Identifier</mat-label>
    <input matInput [(ngModel)]="filters.identifier" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select action type</mat-label>
    <mat-select [(ngModel)]="filters.action" multiple>
      <mat-option class="mat-accent" value="1">
        Insert
      </mat-option>
      <mat-option class="mat-accent" value="2">
        Update
      </mat-option>
      <mat-option class="mat-accent" value="3">
        Delete
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select module</mat-label>
    <mat-select
      [ngModel]="filters.resource.$all[filters.resource.$all.length - 1]"
      (selectionChange)="onModuleSelectionChange($event)"
    >
      <mat-optgroup label="Bucket">
        <mat-option
          *ngFor="let bucket of buckets$ | async"
          [value]="bucket._id"
          [matTooltip]="'Id: ' + bucket._id"
        >
          {{ bucket.title }}
        </mat-option>
      </mat-optgroup>
      <mat-option *ngIf="checkAllowed('bucket:index') | async" value="bucket">
        Buckets
      </mat-option>
      <mat-optgroup label="Passport">
        <mat-option *ngIf="checkAllowed('passport:identity:index') | async" value="identity">
          Identity
        </mat-option>
        <mat-option *ngIf="checkAllowed('passport:policy:index') | async" value="policy">
          Policy
        </mat-option>
        <mat-option *ngIf="checkAllowed('passport:apikey:index') | async" value="apikey">
          Apikey
        </mat-option>
      </mat-optgroup>
      <mat-option *ngIf="checkAllowed('storage:index') | async" value="storage">
        Storage
      </mat-option>
      <mat-option *ngIf="checkAllowed('function:index') | async" value="function">
        Function
      </mat-option>
      <mat-option value="preference">
        Preference
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select document id</mat-label>
    <mat-select [(ngModel)]="filters.resource.$in" multiple>
      <mat-option
        class="mat-accent"
        *ngFor="let documentId of documents$ | async"
        [value]="documentId"
      >
        {{ documentId }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input
        matStartDate
        placeholder="Start date"
        #begin="ngModel"
        [ngModel]="filters.date.begin"
      />
      <input matEndDate placeholder="End date" #end="ngModel" [ngModel]="filters.date.end" />
    </mat-date-range-input>

    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker (closed)="setDate(begin.value, end.value)">
    </mat-date-range-picker>
  </mat-form-field>

  <button mat-button (click)="applyFilters()">
    Apply
  </button>
  <button mat-button color="warn" (click)="clearFilters()">
    Clear
  </button>
  <mat-card-content>
    <cdk-virtual-scroll-viewport itemSize="45" class="example-viewport">
      <mat-list>
        <span class="emptyList" *ngIf="!activities.length && !isPending">
          Couldn't find any activity to show.
        </span>
        <mat-list-item *cdkVirtualFor="let activity of dataSource">
          <span class="info">
            Identifier {{ activity.identifier | titlecase }}
            <ng-container [ngSwitch]="activity.action">
              <ng-container *ngSwitchCase="1">
                Insert
              </ng-container>
              <ng-container *ngSwitchCase="2">
                Update
              </ng-container>
              <ng-container *ngSwitchCase="3">
                Delete
              </ng-container>
            </ng-container>
            document
            <a [routerLink]="'../' + (activity | buildLink: 'activity')">
              <ng-container [ngSwitch]="activity.resource[0]">
                <ng-container *ngSwitchCase="'passport'">
                  {{ (activity.resource[1] | titlecase) + "-" + activity.resource[2] }}
                </ng-container>
                <ng-container *ngSwitchCase="'function'">
                  {{ activity.resource[1] }}
                </ng-container>
                <ng-container *ngSwitchCase="'preference'">
                  {{ activity.resource[1] | titlecase }}
                </ng-container>
                <ng-container *ngSwitchCase="'storage'">
                  {{ activity.resource[1] }}
                </ng-container>
                <ng-container *ngSwitchCase="'bucket'">
                  {{
                    activity.resource[2] == "data"
                      ? "Bucket Data" + "-" + activity.resource[3]
                      : activity.resource[1]
                  }}
                </ng-container>
              </ng-container>
              <mat-icon>
                open_in_new
              </mat-icon>
            </a>
            on {{ activity.resource[0] | titlecase }} module.
          </span>
          <span class="date">{{ activity.created_at | date: "MM/dd/yyyy HH:mm:ss" }}</span>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
      <mat-progress-spinner *ngIf="isPending" [diameter]="35" color="primary" mode="indeterminate">
      </mat-progress-spinner>
    </cdk-virtual-scroll-viewport>
  </mat-card-content>
</mat-card>
