:host {
  mat-toolbar {
    min-height: 150px;
    padding: 0 30px;
    align-items: flex-start;
    h4 > * {
      vertical-align: middle;
      margin-left: 5px;
    }
  }
  .mat-card {
    margin: -50px auto;
    width: 95%;

    .mat-form-field {
      margin: 5px 10px;
    }
    .mat-table {
      width: 100%;
    }
  }
}
