<mat-toolbar color="primary">
  <h4 class="mat-h4">
    <mat-icon>account_box</mat-icon>
    <span>User Activities</span>
  </h4>
  <span class="space-between"></span>
  <button mat-icon-button (click)="appliedFilters$.next(selectedFilters)">
    <mat-icon>refresh</mat-icon>
  </button>
  <button mat-icon-button (click)="clearActivities()">
    <mat-icon>clear_all</mat-icon>
  </button>
</mat-toolbar>

<mat-card class="mat-elevation-z25">
  <span>Filters: </span>
  <mat-form-field>
    <mat-label>Identifier</mat-label>
    <input matInput [(ngModel)]="selectedFilters.identifier" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select action type</mat-label>
    <mat-select [(ngModel)]="selectedFilters.action" multiple>
      <mat-option *ngFor="let action of actions" [value]="action">
        {{ action }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select module</mat-label>
    <mat-select
      [(ngModel)]="selectedFilters.resource.name"
      (selectionChange)="showDocuments($event.value)"
    >
      <mat-optgroup *ngFor="let group of moduleGroups" [label]="group.name">
        <mat-option *ngFor="let module of group.modules" [value]="module">
          {{ module }}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="documentIds && documentIds.length">
    <mat-label>Select document id</mat-label>
    <mat-select [(ngModel)]="selectedFilters.resource.documentId" multiple>
      <mat-option *ngFor="let documentId of documentIds" [value]="documentId">
        {{ documentId }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      [ngModel]="selectedFilters.date"
      (ngModelChange)="
        selectedFilters.date.begin = $event.begin; selectedFilters.date.end = $event.end
      "
      placeholder="Select a date range"
      [satDatepicker]="picker"
      [max]="maxDate"
    />
    <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
    <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
  </mat-form-field>
  <button mat-button (click)="applyFilters()">
    Apply
  </button>
  <button mat-button color="warn" (click)="clearFilters()">
    Clear
  </button>
  <mat-card-content>
    <cdk-virtual-scroll-viewport  itemSize="75" class="example-viewport">
      <mat-list>
        <mat-list-item *cdkVirtualFor="let item of dataSource">
          <span class="info">
            identifier {{ item.identifier }} {{ actions[item.action - 1] }} document
            {{ item.resource.documentId }} on {{ item.resource.name }} module.
          </span>
          <span class="date">{{ item.date | date: "MM/dd/yyyy HH:mm:ss" }}</span>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
      <mat-progress-spinner *ngIf="isPending" [diameter]="35" color="primary" mode="indeterminate">
      </mat-progress-spinner>
    </cdk-virtual-scroll-viewport>
  </mat-card-content>
</mat-card>
