<mat-toolbar color="primary">
  <h4 class="mat-h4">
    <mat-icon>account_box</mat-icon>
    <span>User Activities</span>
  </h4>
</mat-toolbar>

<mat-card class="mat-elevation-z25">
  <span>Filters: </span>
  <mat-form-field>
    <mat-label>Identifier</mat-label>
    <input matInput [(ngModel)]="selectedFilters.identifier" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select action type</mat-label>
    <mat-select [(ngModel)]="selectedFilters.actions" multiple>
      <mat-option *ngFor="let action of availableFilters.actions" [value]="action">
        {{ action }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select module</mat-label>
    <mat-select [(ngModel)]="selectedFilters.modules" multiple>
      <mat-option *ngFor="let module of availableFilters.modules" [value]="module">
        {{ module }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      [ngModel]="selectedFilters.date"
      (ngModelChange)="
        selectedFilters.date.begin = $event.begin; selectedFilters.date.end = $event.end
      "
      placeholder="Select a date range"
      [satDatepicker]="picker"
      [max]="maxDate"
    />
    <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
    <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
  </mat-form-field>
  <button mat-button (click)="applyFilters()">
    Apply
  </button>
  <button mat-button color="warn" (click)="clearFilters()">
    Clear
  </button>
  <mat-card-content>
    <cdk-virtual-scroll-viewport itemSize="75" class="example-viewport">
      <mat-list>
        <mat-list-item *cdkVirtualFor="let item of dataSource">
          <span class="info"
            >Identifier {{ item.identifier | uppercase }} made {{ item.action | uppercase }} action
            on the {{ item.module | uppercase }} module, document id with
            {{ item.documentId }}.</span
          >
          <span class="date">{{ item.date | date: "MM/dd/yyyy HH:mm:ss" }}</span>
          <ng-container *ngIf="!item">
            Loading..
          </ng-container>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </cdk-virtual-scroll-viewport>
    <!-- <table mat-table [dataSource]="activities$" class="mat-elevation-z8">
      <ng-container matColumnDef="identifier">
        <th mat-header-cell *matHeaderCellDef>Identifier</th>
        <td mat-cell *matCellDef="let activity">{{ activity.identifier }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let activity">{{ activity.action }}</td>
      </ng-container>

      <ng-container matColumnDef="module">
        <th mat-header-cell *matHeaderCellDef>Module</th>
        <td mat-cell *matCellDef="let activity">
          {{ activity.module }}
        </td>
      </ng-container>

      <ng-container matColumnDef="documentId">
        <th mat-header-cell *matHeaderCellDef>Document Id</th>
        <td mat-cell *matCellDef="let activity">{{ activity.documentId }}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let activity">
          {{ activity.date | date: "MM/dd/yyyy HH:mm:ss" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table> -->
  </mat-card-content>
</mat-card>
