:host {
  mat-toolbar {
    min-height: 250px;
    padding: 0 30px;
    align-items: flex-start;
    flex-direction: column;

    h4 > * {
      vertical-align: middle;
      margin-left: 5px;
    }

    div.actions {
      align-self: flex-end;
      margin-top: 60px;
    }
  }
  .mat-mdc-card {
    margin: 30px;
    margin-top: -85px;
    > *:first-child {
      margin-right: 5px;
    }

    > *:not(:first-child):not(mat-card-content) {
      margin: 0px 5px;
    }

    .mat-mdc-card-content {
      .cdk-virtual-scroll-viewport {
        .mat-mdc-list {
          .emptyList {
            display: flex;
            justify-content: center;
          }
        }
        .mat-mdc-progress-spinner {
          margin: 15px auto;
        }
      }
    }

    .example-viewport {
      height: 600px;
      width: 100%;
    }

    .mat-mdc-list-item {
      height: 45px;
      width: 100%;
      span.info {
        word-break: break-word;
        width: 85%;
        a {
          font-weight: bold;
          color: var(--foreground-text);
          text-decoration: none;
          mat-icon {
            font-size: 18px;
          }
        }
      }
      span.date {
        width: 15%;
        text-align: end;
      }
    }
  }
}
