<div *ngIf="componentData$ | async; let componentData">
  <div class="refresh">
    <button mat-icon-button mat-flat-button matTooltip="Refresh data" (click)="refresh()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <h3>{{ component.title }}</h3>

  <div *ngIf="componentData.filters?.length > 0">
    <span
      *ngFor="let filter of componentData.filters"
      [inputPlacer]="filter"
      [(ngModel)]="filter.value"
      (ngModelChange)="filter?.type == 'date' ? callOnChange(filter.key, filter.value) : undefined"
      (focusout)="filter?.type != 'date' ? callOnChange(filter.key, filter.value) : undefined"
    ></span>
  </div>
  <canvas
    baseChart
    [data]="componentData.data"
    [datasets]="componentData.datasets"
    [labels]="componentData.label"
    [options]="componentData.options"
    [colors]="componentData.colors"
    [legend]="componentData.legend"
    [chartType]="component.type"
  >
  </canvas>
</div>
