<div *ngIf="observable | async">
 
    <h3>{{ chartData.title }}</h3>
    <div *ngIf="chartData?.filters?.length > 0">
      <span
        *ngFor="let filter of chartData?.filters"
        [inputPlacer]="filter"
        [(ngModel)]="filter.value"
        (ngModelChange)="
          filter?.type == 'date' ? callOnChange(filter.key, filter.value) : undefined
        "
        (focusout)="filter?.type != 'date' ? callOnChange(filter.key, filter.value) : undefined"
      ></span>
    </div>
    <canvas
      baseChart
      [data]="chartData?.data"
      [datasets]="chartData?.datasets"
      [labels]="chartData?.label"
      [options]="chartData?.options"
      [colors]="chartData?.colors"
      [legend]="chartData?.legend"
      [chartType]="chartData?.type"
    >
    </canvas>
</div>
