.modal {
  width: 300px !important;
  min-width: 300px !important;
  padding: 0 !important;
}

.contentContainer {
  max-width: 100%;
  width: 100% !important;
  > div input {
    width: 100% !important;
  }
}

.modalBody {
  padding: var(--padding-md) !important;
}
.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;

  .buttonInnerFields {
    background: var(--color-soft) !important;
  }
}
