::ng-deep {
  .edit-property-menu {
    min-width: 180px !important;
    .delete-field-content {
      padding: 0;
      button {
        color: var(--warn-500) !important;
        &:disabled {
          opacity: 0.7;
        }
        .mat-button-focus-overlay {
          background: transparent;
        }
      }
    }
  }
}

