::ng-deep {
  .edit-property-menu {
    min-width: 180px !important;
    .delete-field-content {
      padding: 0;
      button {
        .mat-button-focus-overlay {
          background: transparent;
        }
      }
    }
  }
}
