
.checkbox {
  label {
    width: 20px !important;
    height: 20px !important;
    border-color: var(--color-border) !important;
    border-radius: var(--border-radius-md) !important;
    cursor: pointer !important;
    position: relative !important;
  }

  div:nth-child(2) {
    display: none;
  }

  height: min-content !important;
  margin-top: -2px;
}

.booleanValue {
  opacity: 0.7;
}

.textAreaTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block !important;
}

.multipleSelectionCell {
  display: flex;
  gap: var(--gap-md);

  .grayBox {
    width: 22px !important;
    height: 22px !important;
    border-radius: var(--border-radius-md);
    background-color: var(--color-border);
    font-family: var(--font-family-base);
    font-size: var(--font-size-md);
    line-height: 0 !important;
  }

  .grayBox:last-child:hover {
    background-color: var(--color-background);
  }
}

.relationInputOption {
  width: 100% !important;
}

.relationInput > div {
  outline: none !important;
}

.locationCell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.locationImage {
  width: 20px;
  height: 20px;
  border-radius: var(--border-radius-md);
}

.arrayInput {
  width: 400px !important;
}
