name: Spica Continuous Integration

env:
  origin_branch: master
  VERSION: ${{ github.sha }}
  MONGODB_URL: "mongodb://mongo:27017?replicaSet=testset"


on:
  pull_request:
    branches: ["master"]

jobs:
  # helm_lint:
  #   name: Helm Lint
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4
  #       with:
  #         fetch-depth: 1
  #     - name: Install Helm
  #       uses: azure/setup-helm@v4.2.0

  #     - name: Lint Helm Charts
  #       run: |
  #         helm lint charts/spica \
  #           --set application.secret=lint-secret \
  #           --set application.bucketDataHashSecret=lint-hash-secret \
  #           --set application.publicHost=lint.example.com

  run_command:
    name: Run Command
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          # - command: format:check
          # - command: build:cli
          # - command: build:devkit:*
          # - command: build-image:api
          # - command: build-image:migrate
          # - command: build-image:mongoreplicationcontroller
          # - command: test:cli
          # - command: test:devkit:*
          # - command: test-image:migrate --build-arg MONGODB_URL=mongodb://mongo:27017/?replicaSet=testset&directConnection=true&retryWrites=false
          #   mongodb: true
          # - command: test-image:api --build-arg PROJECTS=api/activity/** --build-arg MONGODB_URL=$MONGODB_URL
          #   mongodb: true
          # - command: test-image:api --build-arg PROJECTS=api/asset/**
          #   mongodb: true
          # - command: test-image:api --build-arg PROJECTS=api/bucket
          #   mongodb: true
          # - command: test-image:api --build-arg PROJECTS=api/bucket/cache
          #   mongodb: true
          # - command: test-image:api --build-arg PROJECTS=api/bucket/common
          #   mongodb: true
          # - command: test-image:api --build-arg PROJECTS=api/bucket/expression
          #   mongodb: true
          # - command: test-image:api --build-arg PROJECTS=api/bucket/graphql
          #   mongodb: true
          # - command: test-image:api --build-arg PROJECTS=api/bucket/history
          #   mongodb: true
          # - command: test-image:api --build-arg PROJECTS=api/bucket/hooks
          #   mongodb: true
          - command: test-image:api --build-arg PROJECTS=api/bucket/realtime --build-arg MONGODB_URL=$MONGODB_URL
            mongodb: true
          # - command: test-image:api --build-arg PROJECTS=api/bucket/schemas-realtime
          #   mongodb: true
          # - command: test-image:api --build-arg PROJECTS=api/bucket/services
          #   mongodb: true
          # - command: test-image:api --build-arg PROJECTS=api/dashboard/**
          #   mongodb: true
          # - command: test-image:api --build-arg PROJECTS=api/env_var/**
          #   mongodb: true
          # - command: test-image:api --build-arg PROJECTS=api/function
          #   mongodb: true
          # - command: test-image:api --build-arg PROJECTS=api/mailer/** --build-arg MAILER_URL=smtp://172.17.0.1:1025,api://172.17.0.1:8025
          #   mailer: true
          #   mongodb: true
          # - command: test-image:api --build-arg PROJECTS=api/function/enqueuer --build-arg RABBITMQ_URL=amqp://172.17.0.1:5672
          #   rabbitmq: true
          #   mongodb: true
          # - command: test-image:api --build-arg PROJECTS=api/function/** --build-arg EXCLUDE='api/function/packages/**,api/function,api/function/enqueuer'
          #   mongodb: true
          # - command: test-image:api --build-arg PROJECTS=api/passport/** --build-arg EXCLUDE='api/passport/apikey/**,api/passport/identity/**'
          #   mongodb: true
          # - command: test-image:api --build-arg PROJECTS=api/passport/apikey/**
          #   mongodb: true
          # - command: test-image:api --build-arg PROJECTS=api/passport/identity/**
          #   mongodb: true
          # - command: test-image:api --build-arg PROJECTS=api/preference/**
          #   mongodb: true
          # - command: test-image:api --build-arg PROJECTS=api/replication/**
          #   mongodb: true
          # - command: test-image:api --build-arg PROJECTS=api/status/**
          #   mongodb: true
          # - command: test-image:api --build-arg PROJECTS=api/storage/**
          #   mongodb: true
          # - command: test-image:api --build-arg PROJECTS=api/versioncontrol/**
          #   mongodb: true
          # - command: test-image:core --build-arg PROJECTS=core/**
          #   mongodb: true
          # - command: test-image:database --build-arg PROJECTS=database/**
          #   mongodb: true
          # - command: test-image:filter --build-arg PROJECTS=filter/**
          #   mongodb: true

    steps:
      - name: Free up some space on disk
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /opt/hostedtoolcache
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: yarn
          cache-dependency-path: yarn.lock

      - name: Restore Node Modules Cache
        uses: actions/cache@v4
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-node-modules-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-modules-${{ hashFiles('**/yarn.lock') }}
            ${{ runner.os }}-node-modules-

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      # necessary for the "nx lint" command
      - name: Fetch base branch
        run: git fetch origin ${{ env.origin_branch }}:${{ env.origin_branch }}

      - name: Disable Nx Cloud
        run: echo "NX_NO_CLOUD=true" >> $GITHUB_ENV

      - name: Start MongoDB if needed
        if: ${{ matrix.mongodb || false }}
        run: |
          docker run -d --rm --name mongodb \
            -p 27017:27017 \
            mongo:7.0.14 \
            --replSet testset --bind_ip_all

          echo "Waiting for MongoDB to start..."
          for i in {1..10}; do
            if docker exec mongodb mongosh --eval "db.adminCommand('ping')" &> /dev/null; then
              echo "MongoDB is ready. Initializing replica set..."
              docker exec mongodb mongosh --eval "rs.initiate({_id: 'testset', members: [{_id: 0, host: 'localhost:27017'}]})"
              sleep 5
              echo "Verifying replica set status..."
              docker exec mongodb mongosh --eval "rs.status()"
              echo "MongoDB replica set is ready."
              break
            fi
            echo "Attempt $i: MongoDB not ready yet, waiting..."
            sleep 2
          done

      - name: Start RabbitMQ if needed
        if: ${{ matrix.rabbitmq || false }}
        run: |
          docker run -d --rm --name rabbitmq \
            -p 5672:5672 \
            rabbitmq:4.1

          echo "Waiting for RabbitMQ..."
          for i in {1..10}; do
            if nc -z localhost 5672; then
              echo "RabbitMQ is ready."
              break
            fi
            sleep 2
          done

      - name: Start Mailer if needed
        if: ${{ matrix.mailer || false }}
        run: |
          docker run -d --rm --name mailer \
            -p 1025:1025 \
            -p 8025:8025 \
            mailhog/mailhog

          echo "Waiting for Mailer..."
          for i in {1..10}; do
            if nc -z localhost 1025 && nc -z localhost 8025; then
              echo "Mailer is ready."
              break
            fi
            sleep 2
          done

      - name: Run Command
        run: |
          AFFECTED_BUILDS=$(yarn --silent nx show projects -t build --affected)
          echo "Debug: AFFECTED_BUILDS: $AFFECTED_BUILDS"
          AFFECTED_TESTS=$(yarn --silent nx show projects -t test --affected)
          echo "Debug: AFFECTED_TESTS: $AFFECTED_TESTS"
          RESULT=$(./scripts/find_ci_command.sh "${{ matrix.command }}" "$AFFECTED_BUILDS" "$AFFECTED_TESTS")
          echo "Debug: Command ${{ matrix.command }} will be executed?: $RESULT"
          echo "Remained space on disk"
          df -h
          echo "Remained space on docker"
          docker system df
          if [[ "$RESULT" == true ]]; then
            yarn run ${{ matrix.command }}
          else
            echo "No affected projects for command: ${{ matrix.command }}"
          fi

      - name: Stop RabbitMQ if needed
        if: ${{ matrix.rabbitmq || false }}
        run: docker stop rabbitmq || true

      - name: Stop Mailer if needed
        if: ${{ matrix.mailer || false }}
        run: docker stop mailer || true

      - name: Stop MongoDB if needed
        if: ${{ matrix.mongodb || false }}
        run: docker stop mongodb || true
