.name {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 3px;
  padding: 1px 3px;

  &:hover {
    background: var(--color-accent-subtle-2);
  }
}

.input {
  flex: 1;
  border: none;
  outline: none;
  background: var(--color-accent-subtle-2);
  font-family: var(--font-sans);
  font-size: 12.5px;
  font-weight: 600;
  color: var(--color-accent);
  border-radius: 3px;
  padding: 1px 3px;
  min-width: 60px;
  max-width: 180px;
}