.modal {
  padding: 0;
  min-height: 0 !important;
  width: 600px !important;
  min-width: 600px !important;
}

.input {
  width: 100% !important;
  height: max-content;
  padding: var(--padding-sm);
}

.select {
  width: 100% !important;
}

.addButton {
  width: min-content;
  max-width: min-content;
  min-width: min-content !important;
  > div {
    max-width: 100% !important;
  }
  > div > div {
    display: block !important;
  }
  .prefix,
  .dynamic,
  .suffix {
    display: inline-block !important;
    white-space: normal !important;
  }
}

.flexColumn {
  display: flex;
  flex-direction: column !important;
}

.textField {
  display: flex;
  align-items: center;
  gap: var(--gap-md);
  width: 100%;
}

.textFieldContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-md);
}

.selectField {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-md);
  width: 100%;
  > div {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-md);
  }
}

.label {
  white-space: nowrap;
  font-weight: bold;
  font-size: var(--font-size-md);
  color: var(--color-primary);
}

.errorText {
  font-size: var(--font-size-md);
  color: var(--color-danger);
}

.noCategoryFound {
  font-size: var(--font-size-sm);
  color: var(--color-font-tertiary);
}

.header {
  padding: 0 var(--padding-md) !important;
  border-bottom: var(--border-default);
  height: fit-content !important;
  padding: 0;
  .title {
    font-size: var(--font-size-xl);
    font-weight: 700;
    padding: var(--padding-xl) 0 !important;
    color: var(--color-black);
  }
}

.title {
  margin: 0 !important;
  font-size: var(--font-size-lg) !important;
  font-weight: bold !important;
  font-family: var(--font-family-base) !important;
  line-height: unset;
}
