.modal {
  height: min-content !important;
  min-height: fit-content;
  padding: 0;
  width: 360px !important;
  min-width: 360px !important;
  box-shadow: var(--box-shadow);

  * {
    line-height: unset !important;
  }
}

.containerWithError {
  gap: var(--gap-xl) !important;
}

.container {
  background-color: var(--color-menu-background);
  border-radius: var(--border-radius-md);
  width: 360px !important;

  > div,
  .header,
  .header > div {
    width: 100% !important;
  }

  .header {
    display: flex;
    justify-content: space-between !important;
    border-bottom: var(--border-default);
    padding: var(--padding-xl) var(--padding-md);
  }

  .headerText {
    margin: 0 !important;
    font-size: var(--font-size-lg) !important;
    font-weight: bold !important;
    font-family: var(--font-family-base) !important;
    color: var(--color-black);
  }

  .buttonsContainer {
    padding-bottom: var(--padding-md);
    padding-right: var(--padding-md);
  }

  .addButtonWrapper {
    border-radius: var(--border-radius-md);
  }

  .addButtonText {
    color: var(--color-font-secondary);
  }

  .addButton,
  .cancelButton {
    height: 32px !important;
  }

  .content {
    padding-top: var(--padding-md);
  }

  .input {
    font-family: var(--font-family-base);
    font-size: var(--font-size-md);
    width: 340px !important;
    height: 44px !important;
  }
}

.errorText {
  max-width: 100%;
  font-size: var(--font-size-xs) !important;
  position: absolute;
}
